<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ludan_ludan_chacha.png</key>
            <dict>
                <key>frame</key>
                <string>{{767,453},{49,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,49}}</string>
                <key>sourceSize</key>
                <string>{49,49}</string>
            </dict>
            <key>ulist_NO.png</key>
            <dict>
                <key>frame</key>
                <string>{{988,401},{58,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,32}}</string>
                <key>sourceSize</key>
                <string>{58,32}</string>
            </dict>
            <key>ulist_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,244},{1021,665}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1021,665}}</string>
                <key>sourceSize</key>
                <string>{1021,665}</string>
            </dict>
            <key>ulist_ds.png</key>
            <dict>
                <key>frame</key>
                <string>{{941,244},{102,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,76}}</string>
                <key>sourceSize</key>
                <string>{102,76}</string>
            </dict>
            <key>ulist_ds_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,123},{997,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{997,119}}</string>
                <key>sourceSize</key>
                <string>{997,119}</string>
            </dict>
            <key>ulist_fh.png</key>
            <dict>
                <key>frame</key>
                <string>{{865,335},{69,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,38}}</string>
                <key>sourceSize</key>
                <string>{69,38}</string>
            </dict>
            <key>ulist_gold.png</key>
            <dict>
                <key>frame</key>
                <string>{{926,401},{60,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,56}}</string>
                <key>sourceSize</key>
                <string>{60,56}</string>
            </dict>
            <key>ulist_gold_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,453},{47,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,39}}</string>
                <key>sourceSize</key>
                <string>{47,39}</string>
            </dict>
            <key>ulist_head_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{767,357},{94,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>ulist_headframe.png</key>
            <dict>
                <key>frame</key>
                <string>{{669,357},{96,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,96}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>ulist_hg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{863,375},{61,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,51}}</string>
                <key>sourceSize</key>
                <string>{61,51}</string>
            </dict>
            <key>ulist_hg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{936,348},{61,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,51}}</string>
                <key>sourceSize</key>
                <string>{61,51}</string>
            </dict>
            <key>ulist_hg3.png</key>
            <dict>
                <key>frame</key>
                <string>{{875,282},{61,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,51}}</string>
                <key>sourceSize</key>
                <string>{61,51}</string>
            </dict>
            <key>ulist_rank_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{997,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{997,119}}</string>
                <key>sourceSize</key>
                <string>{997,119}</string>
            </dict>
            <key>ulist_rank_no.png</key>
            <dict>
                <key>frame</key>
                <string>{{669,244},{270,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{270,36}}</string>
                <key>sourceSize</key>
                <string>{270,36}</string>
            </dict>
            <key>ulist_shuzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{669,282},{204,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,24}}</string>
                <key>sourceSize</key>
                <string>{204,24}</string>
            </dict>
            <key>ulist_tip.png</key>
            <dict>
                <key>frame</key>
                <string>{{669,308},{194,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,47}}</string>
                <key>sourceSize</key>
                <string>{194,47}</string>
            </dict>
            <key>ulist_tip2.png</key>
            <dict>
                <key>frame</key>
                <string>{{925,459},{60,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,38}}</string>
                <key>sourceSize</key>
                <string>{60,38}</string>
            </dict>
            <key>ulist_win.png</key>
            <dict>
                <key>frame</key>
                <string>{{863,428},{60,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,38}}</string>
                <key>sourceSize</key>
                <string>{60,38}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>onlinelist.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b45dc88de710fa14fe70b00db2e0540f$</string>
            <key>textureFileName</key>
            <string>onlinelist.png</string>
        </dict>
    </dict>
</plist>
