<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Avatar0.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,146},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>sit_rank_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,163},{16,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,20}}</string>
                <key>sourceSize</key>
                <string>{16,20}</string>
            </dict>
            <key>sit_rank_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,2},{14,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,21}}</string>
                <key>sourceSize</key>
                <string>{14,21}</string>
            </dict>
            <key>sit_rank_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,181},{15,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,20}}</string>
                <key>sourceSize</key>
                <string>{15,20}</string>
            </dict>
            <key>sit_rank_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,146},{15,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,21}}</string>
                <key>sourceSize</key>
                <string>{15,21}</string>
            </dict>
            <key>sit_rank_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,167},{45,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,45}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>touxiangkuang2.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,2},{117,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,142}}</string>
                <key>sourceSize</key>
                <string>{117,142}</string>
            </dict>
            <key>touxiankuang1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{117,163}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,163}}</string>
                <key>sourceSize</key>
                <string>{117,163}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tableuserItem.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:69dfb5973956a71eb7bd7a5f5ea1f5e6$</string>
            <key>textureFileName</key>
            <string>tableuserItem.png</string>
        </dict>
    </dict>
</plist>
