<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>001_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{892,295},{123,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,143}}</string>
                <key>sourceSize</key>
                <string>{123,143}</string>
            </dict>
            <key>001_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,375},{123,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,136}}</string>
                <key>sourceSize</key>
                <string>{123,136}</string>
            </dict>
            <key>002_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,314},{113,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,159}}</string>
                <key>sourceSize</key>
                <string>{113,159}</string>
            </dict>
            <key>002_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,475},{113,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,153}}</string>
                <key>sourceSize</key>
                <string>{113,153}</string>
            </dict>
            <key>003_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{715,270},{78,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,175}}</string>
                <key>sourceSize</key>
                <string>{78,175}</string>
            </dict>
            <key>003_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,513},{78,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,168}}</string>
                <key>sourceSize</key>
                <string>{78,168}</string>
            </dict>
            <key>004_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,308},{77,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,176}}</string>
                <key>sourceSize</key>
                <string>{77,176}</string>
            </dict>
            <key>004_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,484},{77,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,169}}</string>
                <key>sourceSize</key>
                <string>{77,169}</string>
            </dict>
            <key>005_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,387},{113,163}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,163}}</string>
                <key>sourceSize</key>
                <string>{113,163}</string>
            </dict>
            <key>005_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,502},{111,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,156}}</string>
                <key>sourceSize</key>
                <string>{111,156}</string>
            </dict>
            <key>006_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,716},{94,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,172}}</string>
                <key>sourceSize</key>
                <string>{94,172}</string>
            </dict>
            <key>006_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,563},{94,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,165}}</string>
                <key>sourceSize</key>
                <string>{94,165}</string>
            </dict>
            <key>007_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,387},{95,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,170}}</string>
                <key>sourceSize</key>
                <string>{95,170}</string>
            </dict>
            <key>007_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{573,513},{95,163}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,163}}</string>
                <key>sourceSize</key>
                <string>{95,163}</string>
            </dict>
            <key>008_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{591,226},{122,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,147}}</string>
                <key>sourceSize</key>
                <string>{122,147}</string>
            </dict>
            <key>008_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{885,574},{120,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,140}}</string>
                <key>sourceSize</key>
                <string>{120,140}</string>
            </dict>
            <key>back.fed39.png</key>
            <dict>
                <key>frame</key>
                <string>{{711,500},{172,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,104}}</string>
                <key>sourceSize</key>
                <string>{172,104}</string>
            </dict>
            <key>back1.55db0.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,716},{168,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,100}}</string>
                <key>sourceSize</key>
                <string>{168,100}</string>
            </dict>
            <key>charge.8c1ca.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,890},{168,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,110}}</string>
                <key>sourceSize</key>
                <string>{168,110}</string>
            </dict>
            <key>charge1.12649.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,606},{164,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,106}}</string>
                <key>sourceSize</key>
                <string>{164,106}</string>
            </dict>
            <key>credit.d03a5.png</key>
            <dict>
                <key>frame</key>
                <string>{{715,192},{230,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,76}}</string>
                <key>sourceSize</key>
                <string>{230,76}</string>
            </dict>
            <key>frameBg.83124.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{404,310}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{404,310}}</string>
                <key>sourceSize</key>
                <string>{404,310}</string>
            </dict>
            <key>load.7a5ef.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,387},{118,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{118,118}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>price1.015c9.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,114},{305,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{305,110}}</string>
                <key>sourceSize</key>
                <string>{305,110}</string>
            </dict>
            <key>price2.8c57a.png</key>
            <dict>
                <key>frame</key>
                <string>{{715,2},{305,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{305,110}}</string>
                <key>sourceSize</key>
                <string>{305,110}</string>
            </dict>
            <key>price3.86513.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,2},{305,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{305,110}}</string>
                <key>sourceSize</key>
                <string>{305,110}</string>
            </dict>
            <key>resetOff.5e03a.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,226},{181,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{181,80}}</string>
                <key>sourceSize</key>
                <string>{181,80}</string>
            </dict>
            <key>resetOn.b98e0.png</key>
            <dict>
                <key>frame</key>
                <string>{{947,114},{179,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,66}}</string>
                <key>sourceSize</key>
                <string>{179,66}</string>
            </dict>
            <key>sgjlight_tex.52e74.png</key>
            <dict>
                <key>frame</key>
                <string>{{886,440},{132,132}}</string>
                <key>offset</key>
                <string>{-61,61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{132,132}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>start.8f499.png</key>
            <dict>
                <key>frame</key>
                <string>{{715,350},{173,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,80}}</string>
                <key>sourceSize</key>
                <string>{173,80}</string>
            </dict>
            <key>start1.f2359.png</key>
            <dict>
                <key>frame</key>
                <string>{{711,432},{173,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,66}}</string>
                <key>sourceSize</key>
                <string>{173,66}</string>
            </dict>
            <key>win.13949.png</key>
            <dict>
                <key>frame</key>
                <string>{{715,114},{230,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,76}}</string>
                <key>sourceSize</key>
                <string>{230,76}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>shuiguoji.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a3f6a24d6610204252f0d98b8f77c0c0$</string>
            <key>textureFileName</key>
            <string>shuiguoji.png</string>
        </dict>
    </dict>
</plist>
