<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,66},{62,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,62}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{62,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,62}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>10.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,264},{60,36}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,12},{60,36}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>11.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,370},{62,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{62,42}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,364},{62,48}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,9},{62,48}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,308},{62,54}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{62,54}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,190},{62,58}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{62,58}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>15.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,66},{62,60}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{62,60}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>2.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,2},{62,60}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,60}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,130},{62,58}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,58}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,250},{62,56}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,56}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>5.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,130},{60,50}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{60,50}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>6.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,182},{60,42}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,6},{60,42}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>7.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,226},{60,36}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,10},{60,36}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>8.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,336},{60,32}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,13},{60,32}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>9.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,302},{60,32}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,13},{60,32}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gold.png</string>
            <key>size</key>
            <string>{128,428}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4f6184f43d39d755e3faf26b45ce1630:fc8d4aeb59ebbdca8502293caae7153a:fbdcb1b3882a9f5e3ec79d5f29d75a2e$</string>
            <key>textureFileName</key>
            <string>gold.png</string>
        </dict>
    </dict>
</plist>
