<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>games/color/chouma/img_cm_1000.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,857},{144,148}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{144,148}</string>
			</dict>
			<key>games/color/chouma/img_cm_20.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{162,167}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{162,167}</string>
			</dict>
			<key>games/color/chouma/img_cm_200.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,173},{162,167}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{162,167}</string>
			</dict>
			<key>games/color/chouma/img_cm_2000.png</key>
			<dict>
				<key>frame</key>
				<string>{{150,857},{144,148}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{144,148}</string>
			</dict>
			<key>games/color/chouma/img_cm_50.png</key>
			<dict>
				<key>frame</key>
				<string>{{168,173},{144,148}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{144,148}</string>
			</dict>
			<key>games/color/chouma/img_cm_5000.png</key>
			<dict>
				<key>frame</key>
				<string>{{168,325},{144,148}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{144,148}</string>
			</dict>
			<key>games/color/chouma/img_cm_500.png</key>
			<dict>
				<key>frame</key>
				<string>{{168,477},{144,148}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{144,148}</string>
			</dict>
			<key>games/color/chouma/img_cm_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{168,629},{144,148}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{144,148}</string>
			</dict>
			<key>games/color/chouma/img_cm_100.png</key>
			<dict>
				<key>frame</key>
				<string>{{298,781},{144,148}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{144,148}</string>
			</dict>
			<key>games/color/chouma/img_cm_gray_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{316,173},{144,148}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{144,148}</string>
			</dict>
			<key>games/color/chouma/img_cm_gray_100.png</key>
			<dict>
				<key>frame</key>
				<string>{{334,2},{144,148}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{144,148}</string>
			</dict>
			<key>games/color/chouma/img_cm_gray_1000.png</key>
			<dict>
				<key>frame</key>
				<string>{{316,325},{144,148}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{144,148}</string>
			</dict>
			<key>games/color/chouma/img_cm_gray_20.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,344},{162,167}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{162,167}</string>
			</dict>
			<key>games/color/chouma/img_cm_gray_200.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,515},{162,167}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{162,167}</string>
			</dict>
			<key>games/color/chouma/img_cm_gray_2000.png</key>
			<dict>
				<key>frame</key>
				<string>{{316,477},{144,148}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{144,148}</string>
			</dict>
			<key>games/color/chouma/img_cm_gray_50.png</key>
			<dict>
				<key>frame</key>
				<string>{{316,629},{144,148}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{144,148}</string>
			</dict>
			<key>games/color/chouma/img_cm_gray_500.png</key>
			<dict>
				<key>frame</key>
				<string>{{446,781},{144,148}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{144,148}</string>
			</dict>
			<key>games/color/chouma/img_cm_gray_5000.png</key>
			<dict>
				<key>frame</key>
				<string>{{464,154},{144,148}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{144,148}</string>
			</dict>
			<key>games/color/chouma/img_cm_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{482,2},{144,148}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{144,148}</string>
			</dict>
			<key>games/color/chouma/img_cm_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,686},{162,167}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{162,167}</string>
			</dict>
			<key>games/color/chouma/img_cm_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{464,306},{144,148}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{144,148}</string>
			</dict>
			<key>games/color/chouma/img_cm_gray_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{464,458},{144,148}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{144,148}</string>
			</dict>
			<key>games/color/chouma/img_cm_gray_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{168,2},{162,167}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{162,167}</string>
			</dict>
			<key>games/color/chouma/img_cm_gray_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{464,610},{144,148}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{144,148}</string>
			</dict>
			<key>games/color/chouma/img_cm_xy1.png</key>
			<dict>
				<key>frame</key>
				<string>{{594,762},{189,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{189,93}</string>
			</dict>
			<key>games/color/chouma/img_cm_xy2.png</key>
			<dict>
				<key>frame</key>
				<string>{{594,859},{189,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{189,93}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>cm_max.png</string>
			<key>realTextureFileName</key>
			<string>cm_max.png</string>
			<key>size</key>
			<string>{785,1007}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>785</integer>
			<key>height</key>
			<integer>1007</integer>
		</dict>
	</dict>
</plist>