<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ho_setting_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{1062,644}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1062,644}}</string>
                <key>sourceSize</key>
                <string>{1062,644}</string>
            </dict>
            <key>ho_setting_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{1065,533},{74,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,74}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>ho_setting_music.png</key>
            <dict>
                <key>frame</key>
                <string>{{1124,384},{89,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,56}}</string>
                <key>sourceSize</key>
                <string>{89,56}</string>
            </dict>
            <key>ho_setting_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{1065,1},{193,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{193,76}}</string>
                <key>sourceSize</key>
                <string>{193,76}</string>
            </dict>
            <key>ho_setting_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{1065,196},{186,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,75}}</string>
                <key>sourceSize</key>
                <string>{186,75}</string>
            </dict>
            <key>ho_setting_sound.png</key>
            <dict>
                <key>frame</key>
                <string>{{1141,475},{89,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,56}}</string>
                <key>sourceSize</key>
                <string>{89,56}</string>
            </dict>
            <key>ho_setting_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{1065,384},{147,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,57}}</string>
                <key>sourceSize</key>
                <string>{147,57}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ho_setting.png</string>
            <key>size</key>
            <string>{1198,646}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1d4d0fbd1f969a7c3cc5969afc9f2356:5c8c5f6a3b7e98acb8f5d65e444e0f43:88fb83a17e1e8bc47be0e1adcd33da4d$</string>
            <key>textureFileName</key>
            <string>ho_setting.png</string>
        </dict>
    </dict>
</plist>
