<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>slots_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,1438},{72,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,23},{72,98}}</string>
                <key>sourceSize</key>
                <string>{162,144}</string>
            </dict>
            <key>slots_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,1069},{108,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,26},{108,92}}</string>
                <key>sourceSize</key>
                <string>{162,144}</string>
            </dict>
            <key>slots_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,971},{74,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,24},{74,96}}</string>
                <key>sourceSize</key>
                <string>{162,144}</string>
            </dict>
            <key>slots_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,1338},{96,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,23},{96,98}}</string>
                <key>sourceSize</key>
                <string>{162,144}</string>
            </dict>
            <key>slots_41.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1969},{116,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,40},{116,64}}</string>
                <key>sourceSize</key>
                <string>{162,144}</string>
            </dict>
            <key>slots_41_j.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,862},{158,130}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,9},{158,130}}</string>
                <key>sourceSize</key>
                <string>{162,144}</string>
            </dict>
            <key>slots_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,1179},{92,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,21},{92,102}}</string>
                <key>sourceSize</key>
                <string>{162,144}</string>
            </dict>
            <key>slots_51.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,242},{168,158}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{168,158}}</string>
                <key>sourceSize</key>
                <string>{178,166}</string>
            </dict>
            <key>slots_51_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,710},{162,150}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,11},{162,150}}</string>
                <key>sourceSize</key>
                <string>{178,166}</string>
            </dict>
            <key>slots_51_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,994},{156,152}}</string>
                <key>offset</key>
                <string>{-3,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,12},{156,152}}</string>
                <key>sourceSize</key>
                <string>{178,166}</string>
            </dict>
            <key>slots_51_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1293},{148,152}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,11},{148,152}}</string>
                <key>sourceSize</key>
                <string>{178,166}</string>
            </dict>
            <key>slots_51_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,558},{162,150}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,14},{162,150}}</string>
                <key>sourceSize</key>
                <string>{178,166}</string>
            </dict>
            <key>slots_51_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,402},{154,162}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,4},{154,162}}</string>
                <key>sourceSize</key>
                <string>{178,166}</string>
            </dict>
            <key>slots_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,1847},{100,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,20},{100,104}}</string>
                <key>sourceSize</key>
                <string>{162,144}</string>
            </dict>
            <key>slots_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1835},{134,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,6},{134,132}}</string>
                <key>sourceSize</key>
                <string>{162,144}</string>
            </dict>
            <key>slots_71.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1148},{153,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,143}}</string>
                <key>sourceSize</key>
                <string>{153,143}</string>
            </dict>
            <key>slots_81.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1575},{136,130}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,8},{136,130}}</string>
                <key>sourceSize</key>
                <string>{162,144}</string>
            </dict>
            <key>slots_82.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1443},{142,130}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{142,130}}</string>
                <key>sourceSize</key>
                <string>{162,144}</string>
            </dict>
            <key>slots_83.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1707},{136,126}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,10},{136,126}}</string>
                <key>sourceSize</key>
                <string>{162,144}</string>
            </dict>
            <key>slots_fnt_jackpot.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,651},{318,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{318,75}}</string>
                <key>sourceSize</key>
                <string>{318,75}</string>
            </dict>
            <key>slots_fs_back_dec.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,1538},{106,307}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,307}}</string>
                <key>sourceSize</key>
                <string>{106,307}</string>
            </dict>
            <key>slots_fs_btn_again_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,63},{204,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,59}}</string>
                <key>sourceSize</key>
                <string>{204,59}</string>
            </dict>
            <key>slots_fs_btn_again_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,183},{194,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,1},{194,57}}</string>
                <key>sourceSize</key>
                <string>{204,59}</string>
            </dict>
            <key>slots_fs_btn_end_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{204,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,59}}</string>
                <key>sourceSize</key>
                <string>{204,59}</string>
            </dict>
            <key>slots_fs_btn_end_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,124},{194,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,1},{194,57}}</string>
                <key>sourceSize</key>
                <string>{204,59}</string>
            </dict>
            <key>slots_jackpot_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,2},{360,41}}</string>
                <key>offset</key>
                <string>{14,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,52},{360,41}}</string>
                <key>sourceSize</key>
                <string>{388,129}</string>
            </dict>
            <key>slots_jackpot_bar_fs.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,2},{360,41}}</string>
                <key>offset</key>
                <string>{14,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,52},{360,41}}</string>
                <key>sourceSize</key>
                <string>{388,129}</string>
            </dict>
            <key>slots_jackpot_medium.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,398},{80,32}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{80,32}}</string>
                <key>sourceSize</key>
                <string>{86,36}</string>
            </dict>
            <key>slots_jackpot_mega.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,242},{82,32}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{82,32}}</string>
                <key>sourceSize</key>
                <string>{86,36}</string>
            </dict>
            <key>slots_jackpot_minor.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,364},{80,32}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,1},{80,32}}</string>
                <key>sourceSize</key>
                <string>{86,36}</string>
            </dict>
            <key>slots_ptable_btn_close_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,432},{81,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,81}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>slots_ptable_btn_close_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,572},{77,77}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{77,77}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>slots_ptable_btn_next_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,515},{55,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,78}}</string>
                <key>sourceSize</key>
                <string>{55,78}</string>
            </dict>
            <key>slots_ptable_btn_next_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,1283},{53,74}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{53,74}}</string>
                <key>sourceSize</key>
                <string>{55,78}</string>
            </dict>
            <key>slots_ptable_btn_return_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{204,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,59}}</string>
                <key>sourceSize</key>
                <string>{204,59}</string>
            </dict>
            <key>slots_ptable_btn_return_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,124},{194,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,1},{194,57}}</string>
                <key>sourceSize</key>
                <string>{204,59}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Slots_YiLuFaFa.png</string>
            <key>size</key>
            <string>{254,2035}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:24f0a329568e0a308eca79db9eb4db82:1/1$</string>
            <key>textureFileName</key>
            <string>Slots_YiLuFaFa.png</string>
        </dict>
    </dict>
</plist>
