<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>player9_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1234,692},{154,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,32},{154,152}}</string>
                <key>sourceSize</key>
                <string>{216,216}</string>
            </dict>
            <key>player9_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1230,532},{158,158}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,28},{158,158}}</string>
                <key>sourceSize</key>
                <string>{216,216}</string>
            </dict>
            <key>player9_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1062,722},{170,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,23},{170,170}}</string>
                <key>sourceSize</key>
                <string>{216,216}</string>
            </dict>
            <key>player9_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,722},{170,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,23},{170,170}}</string>
                <key>sourceSize</key>
                <string>{216,216}</string>
            </dict>
            <key>player9_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{898,550},{170,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,23},{170,170}}</string>
                <key>sourceSize</key>
                <string>{216,216}</string>
            </dict>
            <key>player9_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,572},{180,180}}</string>
                <key>offset</key>
                <string>{5,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,13},{180,180}}</string>
                <key>sourceSize</key>
                <string>{216,216}</string>
            </dict>
            <key>player9_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,386},{190,190}}</string>
                <key>offset</key>
                <string>{10,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,3},{190,190}}</string>
                <key>sourceSize</key>
                <string>{216,216}</string>
            </dict>
            <key>player9_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,2},{190,190}}</string>
                <key>offset</key>
                <string>{9,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,3},{190,190}}</string>
                <key>sourceSize</key>
                <string>{216,216}</string>
            </dict>
            <key>player9_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{1120,2},{180,184}}</string>
                <key>offset</key>
                <string>{4,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,9},{180,184}}</string>
                <key>sourceSize</key>
                <string>{216,216}</string>
            </dict>
            <key>player9_0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{744,372},{170,176}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,17},{170,176}}</string>
                <key>sourceSize</key>
                <string>{216,216}</string>
            </dict>
            <key>player9_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,376},{170,176}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,17},{170,176}}</string>
                <key>sourceSize</key>
                <string>{216,216}</string>
            </dict>
            <key>player9_0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,758},{174,182}}</string>
                <key>offset</key>
                <string>{-2,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,11},{174,182}}</string>
                <key>sourceSize</key>
                <string>{216,216}</string>
            </dict>
            <key>player9_0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,194},{182,188}}</string>
                <key>offset</key>
                <string>{-6,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,5},{182,188}}</string>
                <key>sourceSize</key>
                <string>{216,216}</string>
            </dict>
            <key>player9_0026.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,578},{182,190}}</string>
                <key>offset</key>
                <string>{-6,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,3},{182,190}}</string>
                <key>sourceSize</key>
                <string>{216,216}</string>
            </dict>
            <key>player9_0029.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,758},{176,182}}</string>
                <key>offset</key>
                <string>{-3,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,11},{176,182}}</string>
                <key>sourceSize</key>
                <string>{216,216}</string>
            </dict>
            <key>player9_0031.png</key>
            <dict>
                <key>frame</key>
                <string>{{1092,360},{170,178}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,15},{170,178}}</string>
                <key>sourceSize</key>
                <string>{216,216}</string>
            </dict>
            <key>player9_0032.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,754},{170,176}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,17},{170,176}}</string>
                <key>sourceSize</key>
                <string>{216,216}</string>
            </dict>
            <key>player9_0035.png</key>
            <dict>
                <key>frame</key>
                <string>{{938,2},{180,184}}</string>
                <key>offset</key>
                <string>{4,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,9},{180,184}}</string>
                <key>sourceSize</key>
                <string>{216,216}</string>
            </dict>
            <key>player9_0037.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,194},{190,190}}</string>
                <key>offset</key>
                <string>{9,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,3},{190,190}}</string>
                <key>sourceSize</key>
                <string>{216,216}</string>
            </dict>
            <key>player9_0040.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,2},{184,186}}</string>
                <key>offset</key>
                <string>{7,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,7},{184,186}}</string>
                <key>sourceSize</key>
                <string>{216,216}</string>
            </dict>
            <key>player9_0041.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,2},{180,184}}</string>
                <key>offset</key>
                <string>{4,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,9},{180,184}}</string>
                <key>sourceSize</key>
                <string>{216,216}</string>
            </dict>
            <key>player9_0043.png</key>
            <dict>
                <key>frame</key>
                <string>{{1092,188},{170,178}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,15},{170,178}}</string>
                <key>sourceSize</key>
                <string>{216,216}</string>
            </dict>
            <key>player9_0046.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,194},{172,180}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,13},{172,180}}</string>
                <key>sourceSize</key>
                <string>{216,216}</string>
            </dict>
            <key>player9_0047.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,578},{176,184}}</string>
                <key>offset</key>
                <string>{-3,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,9},{176,184}}</string>
                <key>sourceSize</key>
                <string>{216,216}</string>
            </dict>
            <key>player9_0049.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,2},{182,190}}</string>
                <key>offset</key>
                <string>{-6,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,3},{182,190}}</string>
                <key>sourceSize</key>
                <string>{216,216}</string>
            </dict>
            <key>player9_0052.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,384},{180,186}}</string>
                <key>offset</key>
                <string>{-5,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,7},{180,186}}</string>
                <key>sourceSize</key>
                <string>{216,216}</string>
            </dict>
            <key>player9_0053.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,572},{178,184}}</string>
                <key>offset</key>
                <string>{-4,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,9},{178,184}}</string>
                <key>sourceSize</key>
                <string>{216,216}</string>
            </dict>
            <key>player9_0055.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,770},{170,178}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,15},{170,178}}</string>
                <key>sourceSize</key>
                <string>{216,216}</string>
            </dict>
            <key>player9_0058.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,770},{170,178}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,15},{170,178}}</string>
                <key>sourceSize</key>
                <string>{216,216}</string>
            </dict>
            <key>player9_0059.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,190},{174,180}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,13},{174,180}}</string>
                <key>sourceSize</key>
                <string>{216,216}</string>
            </dict>
            <key>player9_0061.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,194},{186,188}}</string>
                <key>offset</key>
                <string>{7,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,5},{186,188}}</string>
                <key>sourceSize</key>
                <string>{216,216}</string>
            </dict>
            <key>player9_0062.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{190,190}}</string>
                <key>offset</key>
                <string>{9,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,3},{190,190}}</string>
                <key>sourceSize</key>
                <string>{216,216}</string>
            </dict>
            <key>player9_0065.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,384},{186,186}}</string>
                <key>offset</key>
                <string>{8,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,7},{186,186}}</string>
                <key>sourceSize</key>
                <string>{216,216}</string>
            </dict>
            <key>player9_0067.png</key>
            <dict>
                <key>frame</key>
                <string>{{916,188},{174,176}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,17},{174,176}}</string>
                <key>sourceSize</key>
                <string>{216,216}</string>
            </dict>
            <key>player9_0070.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,550},{170,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,23},{170,170}}</string>
                <key>sourceSize</key>
                <string>{216,216}</string>
            </dict>
            <key>player9_0071.png</key>
            <dict>
                <key>frame</key>
                <string>{{916,366},{170,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,23},{170,170}}</string>
                <key>sourceSize</key>
                <string>{216,216}</string>
            </dict>
            <key>player9_0074.png</key>
            <dict>
                <key>frame</key>
                <string>{{1070,538},{158,158}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,28},{158,158}}</string>
                <key>sourceSize</key>
                <string>{216,216}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>player9.png</string>
            <key>size</key>
            <string>{1392,942}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:68d96cd5e7b240d2d597f3352efebfb3$</string>
            <key>textureFileName</key>
            <string>player9.png</string>
        </dict>
    </dict>
</plist>
