<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>player_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,810},{154,154}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,30},{154,154}}</string>
                <key>sourceSize</key>
                <string>{216,216}</string>
            </dict>
            <key>player_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,804},{160,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,24},{160,168}}</string>
                <key>sourceSize</key>
                <string>{216,216}</string>
            </dict>
            <key>player_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1824,2},{172,170}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,23},{172,170}}</string>
                <key>sourceSize</key>
                <string>{216,216}</string>
            </dict>
            <key>player_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1566,774},{176,174}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,19},{176,174}}</string>
                <key>sourceSize</key>
                <string>{216,216}</string>
            </dict>
            <key>player_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1380,786},{182,180}}</string>
                <key>offset</key>
                <string>{5,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,13},{182,180}}</string>
                <key>sourceSize</key>
                <string>{216,216}</string>
            </dict>
            <key>player_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1566,590},{182,182}}</string>
                <key>offset</key>
                <string>{6,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,11},{182,182}}</string>
                <key>sourceSize</key>
                <string>{216,216}</string>
            </dict>
            <key>player_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{996,402},{190,190}}</string>
                <key>offset</key>
                <string>{5,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,8},{190,190}}</string>
                <key>sourceSize</key>
                <string>{216,216}</string>
            </dict>
            <key>player_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,404},{194,190}}</string>
                <key>offset</key>
                <string>{3,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,8},{194,190}}</string>
                <key>sourceSize</key>
                <string>{216,216}</string>
            </dict>
            <key>player_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{1424,2},{198,194}}</string>
                <key>offset</key>
                <string>{-1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,5},{198,194}}</string>
                <key>sourceSize</key>
                <string>{216,216}</string>
            </dict>
            <key>player_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,2},{202,196}}</string>
                <key>offset</key>
                <string>{-3,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{202,196}}</string>
                <key>sourceSize</key>
                <string>{216,216}</string>
            </dict>
            <key>player_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,610},{204,198}}</string>
                <key>offset</key>
                <string>{-5,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{204,198}}</string>
                <key>sourceSize</key>
                <string>{216,216}</string>
            </dict>
            <key>player_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,408},{204,200}}</string>
                <key>offset</key>
                <string>{-6,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{204,200}}</string>
                <key>sourceSize</key>
                <string>{216,216}</string>
            </dict>
            <key>player_0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,604},{202,198}}</string>
                <key>offset</key>
                <string>{-4,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{202,198}}</string>
                <key>sourceSize</key>
                <string>{216,216}</string>
            </dict>
            <key>player_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,2},{200,202}}</string>
                <key>offset</key>
                <string>{-3,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{200,202}}</string>
                <key>sourceSize</key>
                <string>{216,216}</string>
            </dict>
            <key>player_0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{1624,2},{194,198}}</string>
                <key>offset</key>
                <string>{-2,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,2},{194,198}}</string>
                <key>sourceSize</key>
                <string>{216,216}</string>
            </dict>
            <key>player_0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{1802,396},{190,194}}</string>
                <key>offset</key>
                <string>{-2,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,3},{190,194}}</string>
                <key>sourceSize</key>
                <string>{216,216}</string>
            </dict>
            <key>player_0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{1380,594},{184,190}}</string>
                <key>offset</key>
                <string>{-2,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,4},{184,190}}</string>
                <key>sourceSize</key>
                <string>{216,216}</string>
            </dict>
            <key>player_0026.png</key>
            <dict>
                <key>frame</key>
                <string>{{1188,780},{184,190}}</string>
                <key>offset</key>
                <string>{-3,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,4},{184,190}}</string>
                <key>sourceSize</key>
                <string>{216,216}</string>
            </dict>
            <key>player_0028.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,600},{184,190}}</string>
                <key>offset</key>
                <string>{-2,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,4},{184,190}}</string>
                <key>sourceSize</key>
                <string>{216,216}</string>
            </dict>
            <key>player_0029.png</key>
            <dict>
                <key>frame</key>
                <string>{{1188,594},{184,190}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,4},{184,190}}</string>
                <key>sourceSize</key>
                <string>{216,216}</string>
            </dict>
            <key>player_0031.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,402},{190,190}}</string>
                <key>offset</key>
                <string>{2,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,4},{190,190}}</string>
                <key>sourceSize</key>
                <string>{216,216}</string>
            </dict>
            <key>player_0032.png</key>
            <dict>
                <key>frame</key>
                <string>{{1798,198},{194,196}}</string>
                <key>offset</key>
                <string>{1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,4},{194,196}}</string>
                <key>sourceSize</key>
                <string>{216,216}</string>
            </dict>
            <key>player_0034.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,2},{200,200}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,3},{200,200}}</string>
                <key>sourceSize</key>
                <string>{216,216}</string>
            </dict>
            <key>player_0035.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,2},{204,200}}</string>
                <key>offset</key>
                <string>{-2,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{204,200}}</string>
                <key>sourceSize</key>
                <string>{216,216}</string>
            </dict>
            <key>player_0037.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,404},{202,198}}</string>
                <key>offset</key>
                <string>{-5,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{202,198}}</string>
                <key>sourceSize</key>
                <string>{216,216}</string>
            </dict>
            <key>player_0038.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,204},{204,198}}</string>
                <key>offset</key>
                <string>{-6,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{204,198}}</string>
                <key>sourceSize</key>
                <string>{216,216}</string>
            </dict>
            <key>player_0040.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,206},{204,200}}</string>
                <key>offset</key>
                <string>{-5,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{204,200}}</string>
                <key>sourceSize</key>
                <string>{216,216}</string>
            </dict>
            <key>player_0041.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{204,202}}</string>
                <key>offset</key>
                <string>{-4,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{204,202}}</string>
                <key>sourceSize</key>
                <string>{216,216}</string>
            </dict>
            <key>player_0043.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,404},{198,198}}</string>
                <key>offset</key>
                <string>{-2,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,2},{198,198}}</string>
                <key>sourceSize</key>
                <string>{216,216}</string>
            </dict>
            <key>player_0044.png</key>
            <dict>
                <key>frame</key>
                <string>{{1602,198},{194,196}}</string>
                <key>offset</key>
                <string>{-1,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,2},{194,196}}</string>
                <key>sourceSize</key>
                <string>{216,216}</string>
            </dict>
            <key>player_0046.png</key>
            <dict>
                <key>frame</key>
                <string>{{996,780},{186,190}}</string>
                <key>offset</key>
                <string>{-1,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,4},{186,190}}</string>
                <key>sourceSize</key>
                <string>{216,216}</string>
            </dict>
            <key>player_0047.png</key>
            <dict>
                <key>frame</key>
                <string>{{996,594},{184,190}}</string>
                <key>offset</key>
                <string>{-1,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,4},{184,190}}</string>
                <key>sourceSize</key>
                <string>{216,216}</string>
            </dict>
            <key>player_0049.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,780},{186,190}}</string>
                <key>offset</key>
                <string>{-2,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,3},{186,190}}</string>
                <key>sourceSize</key>
                <string>{216,216}</string>
            </dict>
            <key>player_0050.png</key>
            <dict>
                <key>frame</key>
                <string>{{1376,402},{186,190}}</string>
                <key>offset</key>
                <string>{-2,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,3},{186,190}}</string>
                <key>sourceSize</key>
                <string>{216,216}</string>
            </dict>
            <key>player_0052.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,594},{184,190}}</string>
                <key>offset</key>
                <string>{-2,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,3},{184,190}}</string>
                <key>sourceSize</key>
                <string>{216,216}</string>
            </dict>
            <key>player_0053.png</key>
            <dict>
                <key>frame</key>
                <string>{{1188,402},{186,190}}</string>
                <key>offset</key>
                <string>{-1,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,3},{186,190}}</string>
                <key>sourceSize</key>
                <string>{216,216}</string>
            </dict>
            <key>player_0055.png</key>
            <dict>
                <key>frame</key>
                <string>{{1602,396},{192,198}}</string>
                <key>offset</key>
                <string>{-3,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,4},{192,198}}</string>
                <key>sourceSize</key>
                <string>{216,216}</string>
            </dict>
            <key>player_0056.png</key>
            <dict>
                <key>frame</key>
                <string>{{1212,200},{194,200}}</string>
                <key>offset</key>
                <string>{-5,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,3},{194,200}}</string>
                <key>sourceSize</key>
                <string>{216,216}</string>
            </dict>
            <key>player_0058.png</key>
            <dict>
                <key>frame</key>
                <string>{{1022,2},{196,200}}</string>
                <key>offset</key>
                <string>{-8,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{196,200}}</string>
                <key>sourceSize</key>
                <string>{216,216}</string>
            </dict>
            <key>player_0059.png</key>
            <dict>
                <key>frame</key>
                <string>{{1224,2},{196,198}}</string>
                <key>offset</key>
                <string>{-9,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,4},{196,198}}</string>
                <key>sourceSize</key>
                <string>{216,216}</string>
            </dict>
            <key>player_0061.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,604},{196,198}}</string>
                <key>offset</key>
                <string>{-9,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{196,198}}</string>
                <key>sourceSize</key>
                <string>{216,216}</string>
            </dict>
            <key>player_0062.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,200},{196,200}}</string>
                <key>offset</key>
                <string>{-9,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{196,200}}</string>
                <key>sourceSize</key>
                <string>{216,216}</string>
            </dict>
            <key>player_0064.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,204},{196,200}}</string>
                <key>offset</key>
                <string>{-5,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,2},{196,200}}</string>
                <key>sourceSize</key>
                <string>{216,216}</string>
            </dict>
            <key>player_0065.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,206},{196,200}}</string>
                <key>offset</key>
                <string>{-2,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,2},{196,200}}</string>
                <key>sourceSize</key>
                <string>{216,216}</string>
            </dict>
            <key>player_0067.png</key>
            <dict>
                <key>frame</key>
                <string>{{1016,200},{194,200}}</string>
                <key>offset</key>
                <string>{2,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,3},{194,200}}</string>
                <key>sourceSize</key>
                <string>{216,216}</string>
            </dict>
            <key>player_0068.png</key>
            <dict>
                <key>frame</key>
                <string>{{1408,200},{192,200}}</string>
                <key>offset</key>
                <string>{3,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,3},{192,200}}</string>
                <key>sourceSize</key>
                <string>{216,216}</string>
            </dict>
            <key>player_0070.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,786},{180,188}}</string>
                <key>offset</key>
                <string>{4,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,11},{180,188}}</string>
                <key>sourceSize</key>
                <string>{216,216}</string>
            </dict>
            <key>player_0071.png</key>
            <dict>
                <key>frame</key>
                <string>{{1750,592},{178,178}}</string>
                <key>offset</key>
                <string>{4,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,15},{178,178}}</string>
                <key>sourceSize</key>
                <string>{216,216}</string>
            </dict>
            <key>player_0073.png</key>
            <dict>
                <key>frame</key>
                <string>{{1744,774},{170,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,23},{170,170}}</string>
                <key>sourceSize</key>
                <string>{216,216}</string>
            </dict>
            <key>player_0074.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,804},{162,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,26},{162,164}}</string>
                <key>sourceSize</key>
                <string>{216,216}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>player.png</string>
            <key>size</key>
            <string>{1997,968}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:331fa5ea80f8c7e06cea868ca7a6c681$</string>
            <key>textureFileName</key>
            <string>player.png</string>
        </dict>
    </dict>
</plist>
