<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>scatter_to_free_spins_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{692,1708},{156,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,30},{156,156}}</string>
                <key>sourceSize</key>
                <string>{216,216}</string>
            </dict>
            <key>scatter_to_free_spins_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{692,1550},{158,156}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,30},{158,156}}</string>
                <key>sourceSize</key>
                <string>{216,216}</string>
            </dict>
            <key>scatter_to_free_spins_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{692,1378},{170,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,23},{170,170}}</string>
                <key>sourceSize</key>
                <string>{216,216}</string>
            </dict>
            <key>scatter_to_free_spins_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{692,1206},{170,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,23},{170,170}}</string>
                <key>sourceSize</key>
                <string>{216,216}</string>
            </dict>
            <key>scatter_to_free_spins_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,1034},{170,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,23},{170,170}}</string>
                <key>sourceSize</key>
                <string>{216,216}</string>
            </dict>
            <key>scatter_to_free_spins_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{692,1034},{170,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,23},{170,170}}</string>
                <key>sourceSize</key>
                <string>{216,216}</string>
            </dict>
            <key>scatter_to_free_spins_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,862},{170,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,23},{170,170}}</string>
                <key>sourceSize</key>
                <string>{216,216}</string>
            </dict>
            <key>scatter_to_free_spins_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{692,862},{170,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,23},{170,170}}</string>
                <key>sourceSize</key>
                <string>{216,216}</string>
            </dict>
            <key>scatter_to_free_spins_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,690},{170,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,23},{170,170}}</string>
                <key>sourceSize</key>
                <string>{216,216}</string>
            </dict>
            <key>scatter_to_free_spins_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{692,690},{170,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,23},{170,170}}</string>
                <key>sourceSize</key>
                <string>{216,216}</string>
            </dict>
            <key>scatter_to_free_spins_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,518},{170,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,23},{170,170}}</string>
                <key>sourceSize</key>
                <string>{216,216}</string>
            </dict>
            <key>scatter_to_free_spins_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{692,518},{170,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,23},{170,170}}</string>
                <key>sourceSize</key>
                <string>{216,216}</string>
            </dict>
            <key>scatter_to_free_spins_0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,1658},{170,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,23},{170,170}}</string>
                <key>sourceSize</key>
                <string>{216,216}</string>
            </dict>
            <key>scatter_to_free_spins_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,1486},{170,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,23},{170,170}}</string>
                <key>sourceSize</key>
                <string>{216,216}</string>
            </dict>
            <key>scatter_to_free_spins_0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,1314},{170,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,23},{170,170}}</string>
                <key>sourceSize</key>
                <string>{216,216}</string>
            </dict>
            <key>scatter_to_free_spins_0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,346},{170,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,23},{170,170}}</string>
                <key>sourceSize</key>
                <string>{216,216}</string>
            </dict>
            <key>scatter_to_free_spins_0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,346},{170,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,23},{170,170}}</string>
                <key>sourceSize</key>
                <string>{216,216}</string>
            </dict>
            <key>scatter_to_free_spins_0026.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,348},{170,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,23},{170,170}}</string>
                <key>sourceSize</key>
                <string>{216,216}</string>
            </dict>
            <key>scatter_to_free_spins_0028.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,1688},{170,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,23},{170,170}}</string>
                <key>sourceSize</key>
                <string>{216,216}</string>
            </dict>
            <key>scatter_to_free_spins_0029.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,1504},{182,170}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,23},{182,170}}</string>
                <key>sourceSize</key>
                <string>{216,216}</string>
            </dict>
            <key>scatter_to_free_spins_0031.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,908},{208,170}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,23},{208,170}}</string>
                <key>sourceSize</key>
                <string>{216,216}</string>
            </dict>
            <key>scatter_to_free_spins_0032.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1334},{210,170}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,23},{210,170}}</string>
                <key>sourceSize</key>
                <string>{216,216}</string>
            </dict>
            <key>scatter_to_free_spins_0034.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,698},{208,170}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,23},{208,170}}</string>
                <key>sourceSize</key>
                <string>{216,216}</string>
            </dict>
            <key>scatter_to_free_spins_0035.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,1538},{208,172}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,21},{208,172}}</string>
                <key>sourceSize</key>
                <string>{216,216}</string>
            </dict>
            <key>scatter_to_free_spins_0037.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,1748},{206,172}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,21},{206,172}}</string>
                <key>sourceSize</key>
                <string>{216,216}</string>
            </dict>
            <key>scatter_to_free_spins_0038.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,522},{206,174}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,19},{206,174}}</string>
                <key>sourceSize</key>
                <string>{216,216}</string>
            </dict>
            <key>scatter_to_free_spins_0040.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,908},{208,170}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,23},{208,170}}</string>
                <key>sourceSize</key>
                <string>{216,216}</string>
            </dict>
            <key>scatter_to_free_spins_0041.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1122},{210,170}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,23},{210,170}}</string>
                <key>sourceSize</key>
                <string>{216,216}</string>
            </dict>
            <key>scatter_to_free_spins_0043.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,174},{210,170}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,23},{210,170}}</string>
                <key>sourceSize</key>
                <string>{216,216}</string>
            </dict>
            <key>scatter_to_free_spins_0044.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{212,170}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,23},{212,170}}</string>
                <key>sourceSize</key>
                <string>{216,216}</string>
            </dict>
            <key>scatter_to_free_spins_0046.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,910},{210,170}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,23},{210,170}}</string>
                <key>sourceSize</key>
                <string>{216,216}</string>
            </dict>
            <key>scatter_to_free_spins_0047.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,2},{210,170}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,23},{210,170}}</string>
                <key>sourceSize</key>
                <string>{216,216}</string>
            </dict>
            <key>scatter_to_free_spins_0049.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,174},{210,170}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,23},{210,170}}</string>
                <key>sourceSize</key>
                <string>{216,216}</string>
            </dict>
            <key>scatter_to_free_spins_0050.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,698},{210,170}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,23},{210,170}}</string>
                <key>sourceSize</key>
                <string>{216,216}</string>
            </dict>
            <key>scatter_to_free_spins_0052.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,2},{210,170}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,23},{210,170}}</string>
                <key>sourceSize</key>
                <string>{216,216}</string>
            </dict>
            <key>scatter_to_free_spins_0053.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,174},{210,170}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,23},{210,170}}</string>
                <key>sourceSize</key>
                <string>{216,216}</string>
            </dict>
            <key>scatter_to_free_spins_0055.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,698},{208,170}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,23},{208,170}}</string>
                <key>sourceSize</key>
                <string>{216,216}</string>
            </dict>
            <key>scatter_to_free_spins_0056.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,1328},{208,172}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,21},{208,172}}</string>
                <key>sourceSize</key>
                <string>{216,216}</string>
            </dict>
            <key>scatter_to_free_spins_0058.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,1118},{208,172}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,21},{208,172}}</string>
                <key>sourceSize</key>
                <string>{216,216}</string>
            </dict>
            <key>scatter_to_free_spins_0059.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,174},{210,172}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,21},{210,172}}</string>
                <key>sourceSize</key>
                <string>{216,216}</string>
            </dict>
            <key>scatter_to_free_spins_0061.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,348},{208,172}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,21},{208,172}}</string>
                <key>sourceSize</key>
                <string>{216,216}</string>
            </dict>
            <key>scatter_to_free_spins_0062.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1756},{208,170}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,23},{208,170}}</string>
                <key>sourceSize</key>
                <string>{216,216}</string>
            </dict>
            <key>scatter_to_free_spins_0064.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,2},{210,170}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,23},{210,170}}</string>
                <key>sourceSize</key>
                <string>{216,216}</string>
            </dict>
            <key>scatter_to_free_spins_0065.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1546},{208,170}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,22},{208,170}}</string>
                <key>sourceSize</key>
                <string>{216,216}</string>
            </dict>
            <key>scatter_to_free_spins_0067.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,1118},{194,170}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,22},{194,170}}</string>
                <key>sourceSize</key>
                <string>{216,216}</string>
            </dict>
            <key>scatter_to_free_spins_0068.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,1314},{188,168}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,24},{188,168}}</string>
                <key>sourceSize</key>
                <string>{216,216}</string>
            </dict>
            <key>scatter_to_free_spins_0070.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,522},{174,168}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,24},{174,168}}</string>
                <key>sourceSize</key>
                <string>{216,216}</string>
            </dict>
            <key>scatter_to_free_spins_0071.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,1860},{168,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,24},{168,168}}</string>
                <key>sourceSize</key>
                <string>{216,216}</string>
            </dict>
            <key>scatter_to_free_spins_0073.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,1860},{168,166}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,25},{168,166}}</string>
                <key>sourceSize</key>
                <string>{216,216}</string>
            </dict>
            <key>scatter_to_free_spins_0074.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,1866},{156,154}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,31},{156,154}}</string>
                <key>sourceSize</key>
                <string>{216,216}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>scatter_to_free_spins.png</string>
            <key>size</key>
            <string>{864,2030}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5e59391e876b1e256b1af5454ea0fc1f$</string>
            <key>textureFileName</key>
            <string>scatter_to_free_spins.png</string>
        </dict>
    </dict>
</plist>
