<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wild_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{742,1138},{170,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,23},{170,170}}</string>
                <key>sourceSize</key>
                <string>{216,216}</string>
            </dict>
            <key>wild_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,1112},{170,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,23},{170,170}}</string>
                <key>sourceSize</key>
                <string>{216,216}</string>
            </dict>
            <key>wild_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{760,966},{170,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,23},{170,170}}</string>
                <key>sourceSize</key>
                <string>{216,216}</string>
            </dict>
            <key>wild_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,1090},{170,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,23},{170,170}}</string>
                <key>sourceSize</key>
                <string>{216,216}</string>
            </dict>
            <key>wild_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,1020},{170,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,23},{170,170}}</string>
                <key>sourceSize</key>
                <string>{216,216}</string>
            </dict>
            <key>wild_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,940},{170,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,23},{170,170}}</string>
                <key>sourceSize</key>
                <string>{216,216}</string>
            </dict>
            <key>wild_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,916},{192,172}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,23},{192,172}}</string>
                <key>sourceSize</key>
                <string>{216,216}</string>
            </dict>
            <key>wild_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,208},{200,184}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,18},{200,184}}</string>
                <key>sourceSize</key>
                <string>{216,216}</string>
            </dict>
            <key>wild_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,2},{204,208}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{204,208}}</string>
                <key>sourceSize</key>
                <string>{216,216}</string>
            </dict>
            <key>wild_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,206},{202,202}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,6},{202,202}}</string>
                <key>sourceSize</key>
                <string>{216,216}</string>
            </dict>
            <key>wild_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,2},{202,202}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,6},{202,202}}</string>
                <key>sourceSize</key>
                <string>{216,216}</string>
            </dict>
            <key>wild_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,416},{202,186}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,8},{202,186}}</string>
                <key>sourceSize</key>
                <string>{216,216}</string>
            </dict>
            <key>wild_0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,732},{206,172}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,22},{206,172}}</string>
                <key>sourceSize</key>
                <string>{216,216}</string>
            </dict>
            <key>wild_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,558},{208,172}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,22},{208,172}}</string>
                <key>sourceSize</key>
                <string>{216,216}</string>
            </dict>
            <key>wild_0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,2},{212,172}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,22},{212,172}}</string>
                <key>sourceSize</key>
                <string>{216,216}</string>
            </dict>
            <key>wild_0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,384},{210,172}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,22},{210,172}}</string>
                <key>sourceSize</key>
                <string>{216,216}</string>
            </dict>
            <key>wild_0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,394},{208,172}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,22},{208,172}}</string>
                <key>sourceSize</key>
                <string>{216,216}</string>
            </dict>
            <key>wild_0026.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,210},{210,172}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,22},{210,172}}</string>
                <key>sourceSize</key>
                <string>{216,216}</string>
            </dict>
            <key>wild_0028.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,568},{206,172}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,22},{206,172}}</string>
                <key>sourceSize</key>
                <string>{216,216}</string>
            </dict>
            <key>wild_0029.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,618},{204,172}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,22},{204,172}}</string>
                <key>sourceSize</key>
                <string>{216,216}</string>
            </dict>
            <key>wild_0031.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,766},{200,172}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,22},{200,172}}</string>
                <key>sourceSize</key>
                <string>{216,216}</string>
            </dict>
            <key>wild_0032.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,620},{200,172}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,22},{200,172}}</string>
                <key>sourceSize</key>
                <string>{216,216}</string>
            </dict>
            <key>wild_0034.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,824},{194,172}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,22},{194,172}}</string>
                <key>sourceSize</key>
                <string>{216,216}</string>
            </dict>
            <key>wild_0035.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,906},{200,172}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,22},{200,172}}</string>
                <key>sourceSize</key>
                <string>{216,216}</string>
            </dict>
            <key>wild_0037.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,592},{204,172}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,22},{204,172}}</string>
                <key>sourceSize</key>
                <string>{216,216}</string>
            </dict>
            <key>wild_0038.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,742},{202,172}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,22},{202,172}}</string>
                <key>sourceSize</key>
                <string>{216,216}</string>
            </dict>
            <key>wild_0040.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,418},{204,172}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,22},{204,172}}</string>
                <key>sourceSize</key>
                <string>{216,216}</string>
            </dict>
            <key>wild_0041.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,410},{206,172}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,22},{206,172}}</string>
                <key>sourceSize</key>
                <string>{216,216}</string>
            </dict>
            <key>wild_0043.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,206},{210,188}}</string>
                <key>offset</key>
                <string>{2,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,6},{210,188}}</string>
                <key>sourceSize</key>
                <string>{216,216}</string>
            </dict>
            <key>wild_0044.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{210,206}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{210,206}}</string>
                <key>sourceSize</key>
                <string>{216,216}</string>
            </dict>
            <key>wild_0046.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,2},{204,202}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,7},{204,202}}</string>
                <key>sourceSize</key>
                <string>{216,216}</string>
            </dict>
            <key>wild_0047.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,216},{198,190}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,10},{198,190}}</string>
                <key>sourceSize</key>
                <string>{216,216}</string>
            </dict>
            <key>wild_0049.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1080},{188,170}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,23},{188,170}}</string>
                <key>sourceSize</key>
                <string>{216,216}</string>
            </dict>
            <key>wild_0050.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,794},{170,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,23},{170,170}}</string>
                <key>sourceSize</key>
                <string>{216,216}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wild.png</string>
            <key>size</key>
            <string>{1010,1312}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:df9471671d16d3faed94c0b62c4b96bd$</string>
            <key>textureFileName</key>
            <string>wild.png</string>
        </dict>
    </dict>
</plist>
