<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>alipay.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,922},{154,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,80}}</string>
                <key>sourceSize</key>
                <string>{154,80}</string>
            </dict>
            <key>btn_chongzhi.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,71},{164,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,82}}</string>
                <key>sourceSize</key>
                <string>{164,82}</string>
            </dict>
            <key>btn_shop_alipay_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{593,896},{213,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,69}}</string>
                <key>sourceSize</key>
                <string>{213,69}</string>
            </dict>
            <key>btn_shop_alipay_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{593,825},{213,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,69}}</string>
                <key>sourceSize</key>
                <string>{213,69}</string>
            </dict>
            <key>btn_shop_daili_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{808,754},{212,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,68}}</string>
                <key>sourceSize</key>
                <string>{212,68}</string>
            </dict>
            <key>btn_shop_daili_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{523,804},{212,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,68}}</string>
                <key>sourceSize</key>
                <string>{212,68}</string>
            </dict>
            <key>btn_shop_recharge1_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{924,155},{219,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{219,79}}</string>
                <key>sourceSize</key>
                <string>{219,79}</string>
            </dict>
            <key>btn_shop_union_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{593,754},{213,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,69}}</string>
                <key>sourceSize</key>
                <string>{213,69}</string>
            </dict>
            <key>btn_shop_union_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{639,683},{213,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,69}}</string>
                <key>sourceSize</key>
                <string>{213,69}</string>
            </dict>
            <key>btn_shop_weixin_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{931,513},{213,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,69}}</string>
                <key>sourceSize</key>
                <string>{213,69}</string>
            </dict>
            <key>btn_shop_weixin_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{860,513},{213,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,69}}</string>
                <key>sourceSize</key>
                <string>{213,69}</string>
            </dict>
            <key>cz_label_czje.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,890},{127,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,31}}</string>
                <key>sourceSize</key>
                <string>{127,31}</string>
            </dict>
            <key>daili_weixin_label.png</key>
            <dict>
                <key>frame</key>
                <string>{{878,920},{50,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,48}}</string>
                <key>sourceSize</key>
                <string>{50,48}</string>
            </dict>
            <key>hall_charge_agent_name_font.png</key>
            <dict>
                <key>frame</key>
                <string>{{565,684},{93,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,25}}</string>
                <key>sourceSize</key>
                <string>{93,25}</string>
            </dict>
            <key>hall_charge_btn_accept.png</key>
            <dict>
                <key>frame</key>
                <string>{{639,602},{219,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{219,79}}</string>
                <key>sourceSize</key>
                <string>{219,79}</string>
            </dict>
            <key>hall_charge_btn_accept_gray.png</key>
            <dict>
                <key>frame</key>
                <string>{{639,521},{219,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{219,79}}</string>
                <key>sourceSize</key>
                <string>{219,79}</string>
            </dict>
            <key>hall_charge_btn_add.png</key>
            <dict>
                <key>frame</key>
                <string>{{948,806},{74,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,76}}</string>
                <key>sourceSize</key>
                <string>{74,76}</string>
            </dict>
            <key>hall_charge_btn_add_dark.png</key>
            <dict>
                <key>frame</key>
                <string>{{948,728},{74,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,76}}</string>
                <key>sourceSize</key>
                <string>{74,76}</string>
            </dict>
            <key>hall_charge_btn_copy.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,2},{196,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,67}}</string>
                <key>sourceSize</key>
                <string>{196,67}</string>
            </dict>
            <key>hall_charge_id_font.png</key>
            <dict>
                <key>frame</key>
                <string>{{593,967},{146,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,31}}</string>
                <key>sourceSize</key>
                <string>{146,31}</string>
            </dict>
            <key>hall_charge_sub_title_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{814,163}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{814,163}}</string>
                <key>sourceSize</key>
                <string>{814,163}</string>
            </dict>
            <key>hall_charge_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{878,728},{153,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,68}}</string>
                <key>sourceSize</key>
                <string>{153,68}</string>
            </dict>
            <key>hall_charge_title_uuu_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,299},{663,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{663,29}}</string>
                <key>sourceSize</key>
                <string>{663,29}</string>
            </dict>
            <key>hall_charge_title_vip_logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,299},{589,127}}</string>
                <key>offset</key>
                <string>{-16,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{589,127}}</string>
                <key>sourceSize</key>
                <string>{621,139}</string>
            </dict>
            <key>hall_charge_vip_report_reward.png</key>
            <dict>
                <key>frame</key>
                <string>{{843,377},{134,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,125}}</string>
                <key>sourceSize</key>
                <string>{134,125}</string>
            </dict>
            <key>hall_charge_zfm_inputbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{523,299},{503,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{503,40}}</string>
                <key>sourceSize</key>
                <string>{503,40}</string>
            </dict>
            <key>hall_office_charge_window_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{565,299},{383,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{383,72}}</string>
                <key>sourceSize</key>
                <string>{383,72}</string>
            </dict>
            <key>hall_pc_gift_icon_bright.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,684},{66,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,35}}</string>
                <key>sourceSize</key>
                <string>{66,35}</string>
            </dict>
            <key>hall_pc_gift_icon_dark.png</key>
            <dict>
                <key>frame</key>
                <string>{{878,883},{66,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,35}}</string>
                <key>sourceSize</key>
                <string>{66,35}</string>
            </dict>
            <key>hall_proxy_toushu_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{843,155},{220,79}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{220,79}}</string>
                <key>sourceSize</key>
                <string>{222,81}</string>
            </dict>
            <key>img_shop_alipay.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,299},{601,127}}</string>
                <key>offset</key>
                <string>{-10,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{601,127}}</string>
                <key>sourceSize</key>
                <string>{621,139}</string>
            </dict>
            <key>img_shop_qq.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,299},{609,114}}</string>
                <key>offset</key>
                <string>{-6,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{609,114}}</string>
                <key>sourceSize</key>
                <string>{621,146}</string>
            </dict>
            <key>img_shop_quick.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,167},{615,130}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{615,130}}</string>
                <key>sourceSize</key>
                <string>{621,146}</string>
            </dict>
            <key>img_shop_wechat.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,299},{621,114}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{621,114}}</string>
                <key>sourceSize</key>
                <string>{621,146}</string>
            </dict>
            <key>shop_item_daili_bg_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{639,167},{352,202}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{352,202}}</string>
                <key>sourceSize</key>
                <string>{352,202}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Shop.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2e8ccd875e4f6a3efbfcc7df6edfddca$</string>
            <key>textureFileName</key>
            <string>Shop.png</string>
        </dict>
    </dict>
</plist>
