<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gold_fx_lightning_a0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{928,978},{42,48}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,20},{42,48}}</string>
                <key>sourceSize</key>
                <string>{100,90}</string>
            </dict>
            <key>gold_fx_lightning_a0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,518},{58,66}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,11},{58,66}}</string>
                <key>sourceSize</key>
                <string>{100,90}</string>
            </dict>
            <key>gold_fx_lightning_a0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,586},{70,74}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,7},{70,74}}</string>
                <key>sourceSize</key>
                <string>{100,90}</string>
            </dict>
            <key>gold_fx_lightning_a0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{868,1722},{78,78}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,5},{78,78}}</string>
                <key>sourceSize</key>
                <string>{100,90}</string>
            </dict>
            <key>gold_fx_lightning_a0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,1702},{90,80}}</string>
                <key>offset</key>
                <string>{5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,4},{90,80}}</string>
                <key>sourceSize</key>
                <string>{100,90}</string>
            </dict>
            <key>gold_fx_lightning_a0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{942,2},{66,56}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,16},{66,56}}</string>
                <key>sourceSize</key>
                <string>{100,90}</string>
            </dict>
            <key>gold_fx_lightning_b0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{714,1034},{86,68}}</string>
                <key>offset</key>
                <string>{-6,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{151,27},{86,68}}</string>
                <key>sourceSize</key>
                <string>{400,120}</string>
            </dict>
            <key>gold_fx_lightning_b0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,1506},{194,106}}</string>
                <key>offset</key>
                <string>{-6,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{97,8},{194,106}}</string>
                <key>sourceSize</key>
                <string>{400,120}</string>
            </dict>
            <key>gold_fx_lightning_b0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1724},{284,84}}</string>
                <key>offset</key>
                <string>{-6,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,19},{284,84}}</string>
                <key>sourceSize</key>
                <string>{400,120}</string>
            </dict>
            <key>gold_fx_lightning_b0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,268},{360,94}}</string>
                <key>offset</key>
                <string>{-6,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,14},{360,94}}</string>
                <key>sourceSize</key>
                <string>{400,120}</string>
            </dict>
            <key>gold_fx_lightning_b0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,844},{366,94}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,13},{366,94}}</string>
                <key>sourceSize</key>
                <string>{400,120}</string>
            </dict>
            <key>gold_fx_lightning_b0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,1724},{364,76}}</string>
                <key>offset</key>
                <string>{-6,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,23},{364,76}}</string>
                <key>sourceSize</key>
                <string>{400,120}</string>
            </dict>
            <key>gold_fx_lightning_b0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{550,1430},{282,88}}</string>
                <key>offset</key>
                <string>{-6,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,17},{282,88}}</string>
                <key>sourceSize</key>
                <string>{400,120}</string>
            </dict>
            <key>gold_fx_lightning_b0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{928,774},{202,72}}</string>
                <key>offset</key>
                <string>{-6,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{93,25},{202,72}}</string>
                <key>sourceSize</key>
                <string>{400,120}</string>
            </dict>
            <key>gold_fx_lightning_b0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,1708},{120,74}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{134,23},{120,74}}</string>
                <key>sourceSize</key>
                <string>{400,120}</string>
            </dict>
            <key>gold_fx_lightning_c0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,1212},{216,126}}</string>
                <key>offset</key>
                <string>{57,84}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{119,13},{216,126}}</string>
                <key>sourceSize</key>
                <string>{340,320}</string>
            </dict>
            <key>gold_fx_lightning_c0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,1164},{250,264}}</string>
                <key>offset</key>
                <string>{40,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,13},{250,264}}</string>
                <key>sourceSize</key>
                <string>{340,320}</string>
            </dict>
            <key>gold_fx_lightning_c0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1138},{284,286}}</string>
                <key>offset</key>
                <string>{23,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,12},{284,286}}</string>
                <key>sourceSize</key>
                <string>{340,320}</string>
            </dict>
            <key>gold_fx_lightning_c0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,774},{258,286}}</string>
                <key>offset</key>
                <string>{36,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,13},{258,286}}</string>
                <key>sourceSize</key>
                <string>{340,320}</string>
            </dict>
            <key>gold_fx_lightning_c0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,738},{254,302}}</string>
                <key>offset</key>
                <string>{38,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,13},{254,302}}</string>
                <key>sourceSize</key>
                <string>{340,320}</string>
            </dict>
            <key>gold_fx_lightning_c0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,570},{308,272}}</string>
                <key>offset</key>
                <string>{11,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,13},{308,272}}</string>
                <key>sourceSize</key>
                <string>{340,320}</string>
            </dict>
            <key>gold_fx_lightning_c0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,2},{308,264}}</string>
                <key>offset</key>
                <string>{11,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,13},{308,264}}</string>
                <key>sourceSize</key>
                <string>{340,320}</string>
            </dict>
            <key>gold_fx_lightning_c0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,1430},{292,270}}</string>
                <key>offset</key>
                <string>{19,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,13},{292,270}}</string>
                <key>sourceSize</key>
                <string>{340,320}</string>
            </dict>
            <key>gold_fx_lightning_c0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1426},{274,296}}</string>
                <key>offset</key>
                <string>{28,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,13},{274,296}}</string>
                <key>sourceSize</key>
                <string>{340,320}</string>
            </dict>
            <key>gold_fx_lightning_c0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,844},{284,292}}</string>
                <key>offset</key>
                <string>{23,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,12},{284,292}}</string>
                <key>sourceSize</key>
                <string>{340,320}</string>
            </dict>
            <key>gold_fx_lightning_c0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,2},{300,282}}</string>
                <key>offset</key>
                <string>{15,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,12},{300,282}}</string>
                <key>sourceSize</key>
                <string>{340,320}</string>
            </dict>
            <key>gold_fx_lightning_c0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{326,284}}</string>
                <key>offset</key>
                <string>{2,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,13},{326,284}}</string>
                <key>sourceSize</key>
                <string>{340,320}</string>
            </dict>
            <key>gold_fx_lightning_c0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,288},{320,280}}</string>
                <key>offset</key>
                <string>{5,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,12},{320,280}}</string>
                <key>sourceSize</key>
                <string>{340,320}</string>
            </dict>
            <key>gold_fx_lightning_c0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,288},{224,228}}</string>
                <key>offset</key>
                <string>{-18,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,70},{224,228}}</string>
                <key>sourceSize</key>
                <string>{340,320}</string>
            </dict>
            <key>gold_fx_lightning_c0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,518},{164,218}}</string>
                <key>offset</key>
                <string>{-23,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,78},{164,218}}</string>
                <key>sourceSize</key>
                <string>{340,320}</string>
            </dict>
            <key>goldfx_lizi_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,574},{346,94}}</string>
                <key>offset</key>
                <string>{-5,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,50},{346,94}}</string>
                <key>sourceSize</key>
                <string>{400,150}</string>
            </dict>
            <key>goldfx_lizi_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,460},{346,112}}</string>
                <key>offset</key>
                <string>{-6,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,32},{346,112}}</string>
                <key>sourceSize</key>
                <string>{400,150}</string>
            </dict>
            <key>goldfx_lizi_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,1164},{340,114}}</string>
                <key>offset</key>
                <string>{-3,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,30},{340,114}}</string>
                <key>sourceSize</key>
                <string>{400,150}</string>
            </dict>
            <key>goldfx_lizi_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{784,1034},{332,118}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,26},{332,118}}</string>
                <key>sourceSize</key>
                <string>{400,150}</string>
            </dict>
            <key>goldfx_lizi_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,1042},{328,120}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,24},{328,120}}</string>
                <key>sourceSize</key>
                <string>{400,150}</string>
            </dict>
            <key>goldfx_lizi_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,1034},{340,98}}</string>
                <key>offset</key>
                <string>{-6,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,46},{340,98}}</string>
                <key>sourceSize</key>
                <string>{400,150}</string>
            </dict>
            <key>goldfx_lizi_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{550,364},{338,102}}</string>
                <key>offset</key>
                <string>{-7,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,42},{338,102}}</string>
                <key>sourceSize</key>
                <string>{400,150}</string>
            </dict>
            <key>goldfx_lizi_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{784,1368},{338,104}}</string>
                <key>offset</key>
                <string>{-9,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,40},{338,104}}</string>
                <key>sourceSize</key>
                <string>{400,150}</string>
            </dict>
            <key>goldfx_lizi_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,670},{344,102}}</string>
                <key>offset</key>
                <string>{-6,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,42},{344,102}}</string>
                <key>sourceSize</key>
                <string>{400,150}</string>
            </dict>
            <key>goldfx_lizi_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,1376},{344,104}}</string>
                <key>offset</key>
                <string>{-5,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,40},{344,104}}</string>
                <key>sourceSize</key>
                <string>{400,150}</string>
            </dict>
            <key>goldfx_lizi_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,364},{346,94}}</string>
                <key>offset</key>
                <string>{-6,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,50},{346,94}}</string>
                <key>sourceSize</key>
                <string>{400,150}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gold_effect1.png</string>
            <key>size</key>
            <string>{1005,1810}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d731f8947d36f8403923632c31222fdb$</string>
            <key>textureFileName</key>
            <string>gold_effect1.png</string>
        </dict>
    </dict>
</plist>
