<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>golds_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1714},{292,120}}</string>
                <key>offset</key>
                <string>{4,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,20},{292,120}}</string>
                <key>sourceSize</key>
                <string>{300,150}</string>
            </dict>
            <key>golds_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,918},{280,120}}</string>
                <key>offset</key>
                <string>{-1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,23},{280,120}}</string>
                <key>sourceSize</key>
                <string>{300,150}</string>
            </dict>
            <key>golds_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,1820},{290,122}}</string>
                <key>offset</key>
                <string>{2,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,24},{290,122}}</string>
                <key>sourceSize</key>
                <string>{300,150}</string>
            </dict>
            <key>golds_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1462},{292,126}}</string>
                <key>offset</key>
                <string>{4,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,23},{292,126}}</string>
                <key>sourceSize</key>
                <string>{300,150}</string>
            </dict>
            <key>golds_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1334},{292,126}}</string>
                <key>offset</key>
                <string>{4,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,24},{292,126}}</string>
                <key>sourceSize</key>
                <string>{300,150}</string>
            </dict>
            <key>golds_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1206},{292,126}}</string>
                <key>offset</key>
                <string>{4,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,24},{292,126}}</string>
                <key>sourceSize</key>
                <string>{300,150}</string>
            </dict>
            <key>golds_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,538},{288,128}}</string>
                <key>offset</key>
                <string>{6,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,22},{288,128}}</string>
                <key>sourceSize</key>
                <string>{300,150}</string>
            </dict>
            <key>golds_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,270},{286,128}}</string>
                <key>offset</key>
                <string>{7,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,22},{286,128}}</string>
                <key>sourceSize</key>
                <string>{300,150}</string>
            </dict>
            <key>golds_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,1692},{290,126}}</string>
                <key>offset</key>
                <string>{5,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,24},{290,126}}</string>
                <key>sourceSize</key>
                <string>{300,150}</string>
            </dict>
            <key>golds_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,1562},{290,128}}</string>
                <key>offset</key>
                <string>{5,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,22},{290,128}}</string>
                <key>sourceSize</key>
                <string>{300,150}</string>
            </dict>
            <key>golds_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,1432},{290,128}}</string>
                <key>offset</key>
                <string>{5,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,22},{290,128}}</string>
                <key>sourceSize</key>
                <string>{300,150}</string>
            </dict>
            <key>golds_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,1302},{290,128}}</string>
                <key>offset</key>
                <string>{5,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,22},{290,128}}</string>
                <key>sourceSize</key>
                <string>{300,150}</string>
            </dict>
            <key>golds_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,1172},{290,128}}</string>
                <key>offset</key>
                <string>{5,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,22},{290,128}}</string>
                <key>sourceSize</key>
                <string>{300,150}</string>
            </dict>
            <key>golds_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,668},{288,120}}</string>
                <key>offset</key>
                <string>{6,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,23},{288,120}}</string>
                <key>sourceSize</key>
                <string>{300,150}</string>
            </dict>
            <key>golds_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,790},{286,126}}</string>
                <key>offset</key>
                <string>{7,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,18},{286,126}}</string>
                <key>sourceSize</key>
                <string>{300,150}</string>
            </dict>
            <key>golds_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,2},{286,134}}</string>
                <key>offset</key>
                <string>{7,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,16},{286,134}}</string>
                <key>sourceSize</key>
                <string>{300,150}</string>
            </dict>
            <key>golds_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,138},{286,130}}</string>
                <key>offset</key>
                <string>{7,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,20},{286,130}}</string>
                <key>sourceSize</key>
                <string>{300,150}</string>
            </dict>
            <key>golds_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,796},{294,132}}</string>
                <key>offset</key>
                <string>{3,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,18},{294,132}}</string>
                <key>sourceSize</key>
                <string>{300,150}</string>
            </dict>
            <key>golds_0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1070},{292,134}}</string>
                <key>offset</key>
                <string>{4,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,16},{292,134}}</string>
                <key>sourceSize</key>
                <string>{300,150}</string>
            </dict>
            <key>golds_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,658},{294,136}}</string>
                <key>offset</key>
                <string>{3,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,14},{294,136}}</string>
                <key>sourceSize</key>
                <string>{300,150}</string>
            </dict>
            <key>golds_0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,930},{292,138}}</string>
                <key>offset</key>
                <string>{4,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,12},{292,138}}</string>
                <key>sourceSize</key>
                <string>{300,150}</string>
            </dict>
            <key>golds_0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,1040},{290,130}}</string>
                <key>offset</key>
                <string>{5,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,13},{290,130}}</string>
                <key>sourceSize</key>
                <string>{300,150}</string>
            </dict>
            <key>golds_0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,400},{288,136}}</string>
                <key>offset</key>
                <string>{6,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,12},{288,136}}</string>
                <key>sourceSize</key>
                <string>{300,150}</string>
            </dict>
            <key>golds_0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,518},{294,138}}</string>
                <key>offset</key>
                <string>{3,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,11},{294,138}}</string>
                <key>sourceSize</key>
                <string>{300,150}</string>
            </dict>
            <key>golds_0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,378},{294,138}}</string>
                <key>offset</key>
                <string>{3,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,12},{294,138}}</string>
                <key>sourceSize</key>
                <string>{300,150}</string>
            </dict>
            <key>golds_0026.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1836},{292,116}}</string>
                <key>offset</key>
                <string>{4,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,12},{292,116}}</string>
                <key>sourceSize</key>
                <string>{300,150}</string>
            </dict>
            <key>golds_0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1590},{292,122}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,12},{292,122}}</string>
                <key>sourceSize</key>
                <string>{300,150}</string>
            </dict>
            <key>golds_0028.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,254},{296,122}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,12},{296,122}}</string>
                <key>sourceSize</key>
                <string>{300,150}</string>
            </dict>
            <key>golds_0029.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,128},{296,124}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,13},{296,124}}</string>
                <key>sourceSize</key>
                <string>{300,150}</string>
            </dict>
            <key>golds_0030.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{296,124}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,15},{296,124}}</string>
                <key>sourceSize</key>
                <string>{300,150}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gold_effect2.png</string>
            <key>size</key>
            <string>{588,1954}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:756e5b7d7ddf93406b62fc1c22bab0d3$</string>
            <key>textureFileName</key>
            <string>gold_effect2.png</string>
        </dict>
    </dict>
</plist>
