<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1983,356},{46,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1983,356},{46,53}}</string>
				<key>sourceSize</key>
				<string>{46,53}</string>
			</dict>
			<key>font_word_bzyl.png</key>
			<dict>
				<key>frame</key>
				<string>{{1805,52},{124,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1805,52},{124,30}}</string>
				<key>sourceSize</key>
				<string>{124,30}</string>
			</dict>
			<key>2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1510,121},{154,102}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1510,121},{154,102}}</string>
				<key>sourceSize</key>
				<string>{154,102}</string>
			</dict>
			<key>itembg_me.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{1398,119}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{1398,119}}</string>
				<key>sourceSize</key>
				<string>{1398,119}</string>
			</dict>
			<key>itembg_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,121},{1352,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,121},{1352,112}}</string>
				<key>sourceSize</key>
				<string>{1352,112}</string>
			</dict>
			<key>itembg_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,235},{1351,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,235},{1351,113}}</string>
				<key>sourceSize</key>
				<string>{1351,113}</string>
			</dict>
			<key>itembg_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,350},{1351,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,350},{1351,110}}</string>
				<key>sourceSize</key>
				<string>{1351,110}</string>
			</dict>
			<key>FZCuYuan_35_52.png</key>
			<dict>
				<key>frame</key>
				<string>{{1483,466},{24,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1483,466},{24,43}}</string>
				<key>sourceSize</key>
				<string>{24,43}</string>
			</dict>
			<key>phb.png</key>
			<dict>
				<key>frame</key>
				<string>{{1353,235},{388,129}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1353,235},{388,129}}</string>
				<key>sourceSize</key>
				<string>{388,129}</string>
			</dict>
			<key>font_type_yinglibang1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1546,0},{129,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1546,0},{129,49}}</string>
				<key>sourceSize</key>
				<string>{129,49}</string>
			</dict>
			<key>FZCuYuan_35_60.png</key>
			<dict>
				<key>frame</key>
				<string>{{1636,466},{23,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1636,466},{23,43}}</string>
				<key>sourceSize</key>
				<string>{23,43}</string>
			</dict>
			<key>icon_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1400,0},{144,119}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1400,0},{144,119}}</string>
				<key>sourceSize</key>
				<string>{144,119}</string>
			</dict>
			<key>6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1983,411},{46,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1983,411},{46,53}}</string>
				<key>sourceSize</key>
				<string>{46,53}</string>
			</dict>
			<key>icon_jinbi.png</key>
			<dict>
				<key>frame</key>
				<string>{{1978,291},{62,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1978,291},{62,63}}</string>
				<key>sourceSize</key>
				<string>{62,63}</string>
			</dict>
			<key>1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1354,121},{154,102}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1354,121},{154,102}}</string>
				<key>sourceSize</key>
				<string>{154,102}</string>
			</dict>
			<key>font_type_ghb1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1666,102},{129,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1666,102},{129,50}}</string>
				<key>sourceSize</key>
				<string>{129,50}</string>
			</dict>
			<key>font_type_caifubang1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1546,51},{129,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1546,51},{129,49}}</string>
				<key>sourceSize</key>
				<string>{129,49}</string>
			</dict>
			<key>font_word_ghID.png</key>
			<dict>
				<key>frame</key>
				<string>{{1931,52},{97,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1931,52},{97,30}}</string>
				<key>sourceSize</key>
				<string>{97,30}</string>
			</dict>
			<key>font_type_caifubang2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1666,154},{128,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1666,154},{128,49}}</string>
				<key>sourceSize</key>
				<string>{128,49}</string>
			</dict>
			<key>FZCuYuan_35_55.png</key>
			<dict>
				<key>frame</key>
				<string>{{1661,466},{23,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1661,466},{23,43}}</string>
				<key>sourceSize</key>
				<string>{23,43}</string>
			</dict>
			<key>font_type_ghb2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1677,0},{128,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1677,0},{128,50}}</string>
				<key>sourceSize</key>
				<string>{128,50}</string>
			</dict>
			<key>font_word_zzc.png</key>
			<dict>
				<key>frame</key>
				<string>{{1924,84},{94,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1924,84},{94,30}}</string>
				<key>sourceSize</key>
				<string>{94,30}</string>
			</dict>
			<key>font_type_yinglibang2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1796,154},{128,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1796,154},{128,49}}</string>
				<key>sourceSize</key>
				<string>{128,49}</string>
			</dict>
			<key>font_word_ylje.png</key>
			<dict>
				<key>frame</key>
				<string>{{1677,52},{126,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1677,52},{126,30}}</string>
				<key>sourceSize</key>
				<string>{126,30}</string>
			</dict>
			<key>8.png</key>
			<dict>
				<key>frame</key>
				<string>{{1935,356},{46,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1935,356},{46,53}}</string>
				<key>sourceSize</key>
				<string>{46,53}</string>
			</dict>
			<key>font_word_cyjb.png</key>
			<dict>
				<key>frame</key>
				<string>{{1797,84},{125,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1797,84},{125,31}}</string>
				<key>sourceSize</key>
				<string>{125,31}</string>
			</dict>
			<key>Bg_xinxi.png</key>
			<dict>
				<key>frame</key>
				<string>{{2012,116},{30,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2012,116},{30,58}}</string>
				<key>sourceSize</key>
				<string>{30,58}</string>
			</dict>
			<key>fst2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1926,116},{84,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1926,116},{84,104}}</string>
				<key>sourceSize</key>
				<string>{84,104}</string>
			</dict>
			<key>5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1401,405},{46,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1401,405},{46,53}}</string>
				<key>sourceSize</key>
				<string>{46,53}</string>
			</dict>
			<key>fst3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1743,205},{81,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1743,205},{81,104}}</string>
				<key>sourceSize</key>
				<string>{81,104}</string>
			</dict>
			<key>fst1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1826,205},{78,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1826,205},{78,104}}</string>
				<key>sourceSize</key>
				<string>{78,104}</string>
			</dict>
			<key>btn_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1906,222},{70,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1906,222},{70,71}}</string>
				<key>sourceSize</key>
				<string>{70,71}</string>
			</dict>
			<key>btn_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1978,222},{66,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1978,222},{66,67}}</string>
				<key>sourceSize</key>
				<string>{66,67}</string>
			</dict>
			<key>FZCuYuan_35_48.png</key>
			<dict>
				<key>frame</key>
				<string>{{2012,176},{25,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2012,176},{25,43}}</string>
				<key>sourceSize</key>
				<string>{25,43}</string>
			</dict>
			<key>font_word_gonghui.png</key>
			<dict>
				<key>frame</key>
				<string>{{1797,117},{62,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1797,117},{62,30}}</string>
				<key>sourceSize</key>
				<string>{62,30}</string>
			</dict>
			<key>2_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1839,311},{46,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1839,311},{46,53}}</string>
				<key>sourceSize</key>
				<string>{46,53}</string>
			</dict>
			<key>font_word_wanjia.png</key>
			<dict>
				<key>frame</key>
				<string>{{1861,117},{62,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1861,117},{62,30}}</string>
				<key>sourceSize</key>
				<string>{62,30}</string>
			</dict>
			<key>FZCuYuan_35_54.png</key>
			<dict>
				<key>frame</key>
				<string>{{1405,460},{24,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1405,460},{24,43}}</string>
				<key>sourceSize</key>
				<string>{24,43}</string>
			</dict>
			<key>font_word_jl.png</key>
			<dict>
				<key>frame</key>
				<string>{{1807,0},{61,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1807,0},{61,30}}</string>
				<key>sourceSize</key>
				<string>{61,30}</string>
			</dict>
			<key>1_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1353,405},{46,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1353,405},{46,53}}</string>
				<key>sourceSize</key>
				<string>{46,53}</string>
			</dict>
			<key>font_word_paiming.png</key>
			<dict>
				<key>frame</key>
				<string>{{1870,0},{59,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1870,0},{59,30}}</string>
				<key>sourceSize</key>
				<string>{59,30}</string>
			</dict>
			<key>FZCuYuan_35_62.png</key>
			<dict>
				<key>frame</key>
				<string>{{1611,466},{23,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1611,466},{23,43}}</string>
				<key>sourceSize</key>
				<string>{23,43}</string>
			</dict>
			<key>Bg_dnegji.png</key>
			<dict>
				<key>frame</key>
				<string>{{1666,205},{47,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1666,205},{47,20}}</string>
				<key>sourceSize</key>
				<string>{47,20}</string>
			</dict>
			<key>3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1906,295},{46,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1906,295},{46,53}}</string>
				<key>sourceSize</key>
				<string>{46,53}</string>
			</dict>
			<key>0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1743,311},{46,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1743,311},{46,53}}</string>
				<key>sourceSize</key>
				<string>{46,53}</string>
			</dict>
			<key>4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1791,311},{46,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1791,311},{46,53}}</string>
				<key>sourceSize</key>
				<string>{46,53}</string>
			</dict>
			<key>9.png</key>
			<dict>
				<key>frame</key>
				<string>{{1887,350},{46,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1887,350},{46,53}}</string>
				<key>sourceSize</key>
				<string>{46,53}</string>
			</dict>
			<key>FZCuYuan_35_19975.png</key>
			<dict>
				<key>frame</key>
				<string>{{1931,0},{35,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1931,0},{35,43}}</string>
				<key>sourceSize</key>
				<string>{35,43}</string>
			</dict>
			<key>FZCuYuan_35_20159.png</key>
			<dict>
				<key>frame</key>
				<string>{{1968,0},{35,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1968,0},{35,43}}</string>
				<key>sourceSize</key>
				<string>{35,43}</string>
			</dict>
			<key>Bg_jiangli.png</key>
			<dict>
				<key>frame</key>
				<string>{{1449,366},{32,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1449,366},{32,112}}</string>
				<key>sourceSize</key>
				<string>{32,112}</string>
			</dict>
			<key>FZCuYuan_35_59.png</key>
			<dict>
				<key>frame</key>
				<string>{{2031,446},{9,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2031,446},{9,43}}</string>
				<key>sourceSize</key>
				<string>{9,43}</string>
			</dict>
			<key>FZCuYuan_35_50.png</key>
			<dict>
				<key>frame</key>
				<string>{{2005,0},{24,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2005,0},{24,43}}</string>
				<key>sourceSize</key>
				<string>{24,43}</string>
			</dict>
			<key>FZCuYuan_35_53.png</key>
			<dict>
				<key>frame</key>
				<string>{{1353,460},{24,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1353,460},{24,43}}</string>
				<key>sourceSize</key>
				<string>{24,43}</string>
			</dict>
			<key>FZCuYuan_35_47.png</key>
			<dict>
				<key>frame</key>
				<string>{{2031,0},{12,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2031,0},{12,43}}</string>
				<key>sourceSize</key>
				<string>{12,43}</string>
			</dict>
			<key>FZCuYuan_35_51.png</key>
			<dict>
				<key>frame</key>
				<string>{{1379,460},{24,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1379,460},{24,43}}</string>
				<key>sourceSize</key>
				<string>{24,43}</string>
			</dict>
			<key>FZCuYuan_35_57.png</key>
			<dict>
				<key>frame</key>
				<string>{{1509,466},{24,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1509,466},{24,43}}</string>
				<key>sourceSize</key>
				<string>{24,43}</string>
			</dict>
			<key>FZCuYuan_35_56.png</key>
			<dict>
				<key>frame</key>
				<string>{{1535,466},{24,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1535,466},{24,43}}</string>
				<key>sourceSize</key>
				<string>{24,43}</string>
			</dict>
			<key>FZCuYuan_35_43.png</key>
			<dict>
				<key>frame</key>
				<string>{{1561,466},{23,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1561,466},{23,43}}</string>
				<key>sourceSize</key>
				<string>{23,43}</string>
			</dict>
			<key>FZCuYuan_35_61.png</key>
			<dict>
				<key>frame</key>
				<string>{{1586,466},{23,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1586,466},{23,43}}</string>
				<key>sourceSize</key>
				<string>{23,43}</string>
			</dict>
			<key>FZCuYuan_35_63.png</key>
			<dict>
				<key>frame</key>
				<string>{{1954,295},{22,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1954,295},{22,43}}</string>
				<key>sourceSize</key>
				<string>{22,43}</string>
			</dict>
			<key>FZCuYuan_35_49.png</key>
			<dict>
				<key>frame</key>
				<string>{{1709,466},{18,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1709,466},{18,43}}</string>
				<key>sourceSize</key>
				<string>{18,43}</string>
			</dict>
			<key>FZCuYuan_35_45.png</key>
			<dict>
				<key>frame</key>
				<string>{{1686,466},{21,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1686,466},{21,43}}</string>
				<key>sourceSize</key>
				<string>{21,43}</string>
			</dict>
			<key>itemBg_normal.png</key>
			<dict>
				<key>frame</key>
				<string>{{1715,205},{20,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1715,205},{20,20}}</string>
				<key>sourceSize</key>
				<string>{20,20}</string>
			</dict>
			<key>FZCuYuan_35_40.png</key>
			<dict>
				<key>frame</key>
				<string>{{1431,460},{14,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1431,460},{14,43}}</string>
				<key>sourceSize</key>
				<string>{14,43}</string>
			</dict>
			<key>FZCuYuan_35_41.png</key>
			<dict>
				<key>frame</key>
				<string>{{2030,45},{13,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2030,45},{13,43}}</string>
				<key>sourceSize</key>
				<string>{13,43}</string>
			</dict>
			<key>FZCuYuan_35_92.png</key>
			<dict>
				<key>frame</key>
				<string>{{2031,356},{12,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2031,356},{12,43}}</string>
				<key>sourceSize</key>
				<string>{12,43}</string>
			</dict>
			<key>FZCuYuan_35_44.png</key>
			<dict>
				<key>frame</key>
				<string>{{2031,401},{9,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2031,401},{9,43}}</string>
				<key>sourceSize</key>
				<string>{9,43}</string>
			</dict>
			<key>FZCuYuan_35_58.png</key>
			<dict>
				<key>frame</key>
				<string>{{1729,466},{9,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1729,466},{9,43}}</string>
				<key>sourceSize</key>
				<string>{9,43}</string>
			</dict>
			<key>FZCuYuan_35_46.png</key>
			<dict>
				<key>frame</key>
				<string>{{1740,466},{8,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1740,466},{8,43}}</string>
				<key>sourceSize</key>
				<string>{8,43}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>Ranking_atlas0.png</string>
			<key>size</key>
			<string>{2048,512}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>Ranking_atlas0.png</string>
		</dict>
	</dict>
</plist>
