<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>game/fruit/gui/gui-fruit-icon-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{118,102}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{118,102}</string>
			</dict>
			<key>game/fruit/gui/gui-fruit-icon-1-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{118,0},{118,102}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{118,102}</string>
			</dict>
			<key>game/fruit/gui/gui-fruit-icon-2.png</key>
			<dict>
				<key>frame</key>
				<string>{{236,0},{118,102}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{118,102}</string>
			</dict>
			<key>game/fruit/gui/gui-fruit-icon-2-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{354,0},{118,102}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{118,102}</string>
			</dict>
			<key>game/fruit/gui/gui-fruit-icon-3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,102},{118,102}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{118,102}</string>
			</dict>
			<key>game/fruit/gui/gui-fruit-icon-3-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,220},{118,102}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{118,102}</string>
			</dict>
			<key>game/fruit/gui/gui-fruit-icon-4.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,338},{118,102}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{118,102}</string>
			</dict>
			<key>game/fruit/gui/gui-fruit-icon-4-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{102,102},{118,102}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{118,102}</string>
			</dict>
			<key>game/fruit/gui/gui-fruit-icon-5.png</key>
			<dict>
				<key>frame</key>
				<string>{{220,102},{118,102}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{118,102}</string>
			</dict>
			<key>game/fruit/gui/gui-fruit-icon-5-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{338,102},{118,102}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{118,102}</string>
			</dict>
			<key>game/fruit/gui/gui-fruit-icon-6.png</key>
			<dict>
				<key>frame</key>
				<string>{{102,204},{118,102}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{118,102}</string>
			</dict>
			<key>game/fruit/gui/gui-fruit-icon-6-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{102,322},{118,102}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{118,102}</string>
			</dict>
			<key>game/fruit/gui/gui-fruit-icon-7.png</key>
			<dict>
				<key>frame</key>
				<string>{{204,204},{118,102}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{118,102}</string>
			</dict>
			<key>game/fruit/gui/gui-fruit-icon-7-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{322,204},{118,102}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{118,102}</string>
			</dict>
			<key>game/fruit/gui/gui-fruit-icon-8.png</key>
			<dict>
				<key>frame</key>
				<string>{{204,306},{118,102}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{118,102}</string>
			</dict>
			<key>game/fruit/gui/gui-fruit-icon-8-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{306,306},{118,102}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{118,102}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>fruit_icon.png</string>
			<key>realTextureFileName</key>
			<string>fruit_icon.png</string>
			<key>size</key>
			<string>{512,512}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>512</integer>
			<key>height</key>
			<integer>512</integer>
		</dict>
	</dict>
</plist>