<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>game/fruit/gui/gui-fruit-blzj.png</key>
			<dict>
				<key>frame</key>
				<string>{{992,829},{84,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{84,24}</string>
			</dict>
			<key>game/fruit/gui/gui-fruit-box-cehua.png</key>
			<dict>
				<key>frame</key>
				<string>{{553,207},{229,343}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{229,343}</string>
			</dict>
			<key>game/fruit/gui/gui-fruit-btn-effect-off.png</key>
			<dict>
				<key>frame</key>
				<string>{{786,914},{204,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{204,77}</string>
			</dict>
			<key>game/fruit/gui/gui-fruit-btn-effect-on.png</key>
			<dict>
				<key>frame</key>
				<string>{{216,236},{204,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{204,77}</string>
			</dict>
			<key>game/fruit/gui/gui-fruit-btn-music-close.png</key>
			<dict>
				<key>frame</key>
				<string>{{556,711},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>game/fruit/gui/gui-fruit-btn-music-off.png</key>
			<dict>
				<key>frame</key>
				<string>{{422,236},{204,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{204,77}</string>
			</dict>
			<key>game/fruit/gui/gui-fruit-btn-music-on.png</key>
			<dict>
				<key>frame</key>
				<string>{{216,315},{204,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{204,77}</string>
			</dict>
			<key>game/fruit/gui/gui-fruit-btn-rule.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,321},{204,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{204,77}</string>
			</dict>
			<key>game/fruit/gui/gui-fruit-button-all.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,594},{120,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,110}</string>
			</dict>
			<key>game/fruit/gui/gui-fruit-button-all-click.png</key>
			<dict>
				<key>frame</key>
				<string>{{191,570},{120,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,110}</string>
			</dict>
			<key>game/fruit/gui/gui-fruit-button-exit.png</key>
			<dict>
				<key>frame</key>
				<string>{{463,622},{86,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,89}</string>
			</dict>
			<key>game/fruit/gui/gui-fruit-button-pop.png</key>
			<dict>
				<key>frame</key>
				<string>{{551,622},{84,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,87}</string>
			</dict>
			<key>game/fruit/gui/gui-fruit-button-push.png</key>
			<dict>
				<key>frame</key>
				<string>{{561,511},{84,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,87}</string>
			</dict>
			<key>game/fruit/gui/gui-fruit-dqye.png</key>
			<dict>
				<key>frame</key>
				<string>{{992,915},{82,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{82,24}</string>
			</dict>
			<key>game/fruit/gui/gui-liang-number.png</key>
			<dict>
				<key>frame</key>
				<string>{{463,442},{70,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{70,36}</string>
			</dict>
			<key>game/fruit/gui/gui-texture-null.png</key>
			<dict>
				<key>frame</key>
				<string>{{1004,1},{1,1}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{1,1}</string>
			</dict>
			<key>game/fruit/gui/gui-fruit-luck-state1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,400},{146,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{146,95}</string>
			</dict>
			<key>game/fruit/gui/gui-fruit-luck-state2.png</key>
			<dict>
				<key>frame</key>
				<string>{{192,473},{146,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{146,95}</string>
			</dict>
			<key>game/fruit/gui/gui-fruit-luck-state3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,497},{146,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{146,95}</string>
			</dict>
			<key>game/fruit/gui/gui-fruit-button-all-disable.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,706},{120,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,110}</string>
			</dict>
			<key>game/fruit/gui/gui-fruit-run.png</key>
			<dict>
				<key>frame</key>
				<string>{{313,615},{139,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{139,90}</string>
			</dict>
			<key>game/fruit/gui/gui-fruit-tiger-bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{550,233}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{550,233}</string>
			</dict>
			<key>game/fruit/gui/gui-fruit-tiger-bg3.png</key>
			<dict>
				<key>frame</key>
				<string>{{553,1},{449,204}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{449,204}</string>
			</dict>
			<key>game/fruit/gui/topsocrebg.png</key>
			<dict>
				<key>frame</key>
				<string>{{898,207},{620,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{620,116}</string>
			</dict>
			<key>game/fruit/gui/gui-fruit-icon-luck-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{190,682},{136,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{136,80}</string>
			</dict>
			<key>game/fruit/gui/gui-fruit-icon-luck-2.png</key>
			<dict>
				<key>frame</key>
				<string>{{418,720},{136,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{136,80}</string>
			</dict>
			<key>game/fruit/gui/A-anniu-lvzhengchangwu.png</key>
			<dict>
				<key>frame</key>
				<string>{{463,514},{106,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{106,96}</string>
			</dict>
			<key>game/fruit/gui/gui-fruit-add.png</key>
			<dict>
				<key>frame</key>
				<string>{{344,756},{69,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{69,72}</string>
			</dict>
			<key>game/fruit/gui/gui-fruit-all.png</key>
			<dict>
				<key>frame</key>
				<string>{{340,473},{140,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{140,61}</string>
			</dict>
			<key>game/fruit/gui/gui-fruit-bank-icon.png</key>
			<dict>
				<key>frame</key>
				<string>{{123,643},{75,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{75,65}</string>
			</dict>
			<key>game/fruit/gui/gui-fruit-bank-title.png</key>
			<dict>
				<key>frame</key>
				<string>{{149,563},{78,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{78,40}</string>
			</dict>
			<key>game/fruit/gui/gui-fruit-change.png</key>
			<dict>
				<key>frame</key>
				<string>{{272,756},{71,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{71,70}</string>
			</dict>
			<key>game/fruit/gui/gui-fruit-close.png</key>
			<dict>
				<key>frame</key>
				<string>{{551,438},{68,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{68,71}</string>
			</dict>
			<key>game/fruit/gui/gui-fruit-gold-bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{501,236},{276,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{276,48}</string>
			</dict>
			<key>game/fruit/gui/gui-fruit-gold-icon.png</key>
			<dict>
				<key>frame</key>
				<string>{{123,720},{65,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{65,63}</string>
			</dict>
			<key>game/fruit/gui/gui-fruit-pwd.png</key>
			<dict>
				<key>frame</key>
				<string>{{149,400},{80,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{80,41}</string>
			</dict>
			<key>game/fruit/gui/gui-fruit-pwd-bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{413,442},{276,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{276,48}</string>
			</dict>
			<key>game/fruit/gui/gui-fruit-reset.png</key>
			<dict>
				<key>frame</key>
				<string>{{777,829},{213,83}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{213,83}</string>
			</dict>
			<key>game/fruit/gui/gui-fruit-slider.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,964},{776,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{776,44}</string>
			</dict>
			<key>game/fruit/gui/gui-fruit-slider-bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,914},{783,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{783,48}</string>
			</dict>
			<key>game/fruit/gui/gui-fruit-slider-text.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,829},{774,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{774,55}</string>
			</dict>
			<key>game/fruit/gui/gui-fruit-sure.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,236},{213,83}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{213,83}</string>
			</dict>
			<key>game/fruit/gui/gui-fruit-take.png</key>
			<dict>
				<key>frame</key>
				<string>{{149,482},{79,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{79,40}</string>
			</dict>
			<key>game/fruit/gui/gui-fruit-btn-bank.png</key>
			<dict>
				<key>frame</key>
				<string>{{207,394},{204,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{204,77}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>fruit_gui.png</string>
			<key>realTextureFileName</key>
			<string>fruit_gui.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>