<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>game_icon_120101.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{147,147}</string>
                <key>spriteSourceSize</key>
                <string>{147,147}</string>
                <key>textureRect</key>
                <string>{{0,0},{147,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>game_icon_120102.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{147,147}</string>
                <key>spriteSourceSize</key>
                <string>{147,147}</string>
                <key>textureRect</key>
                <string>{{0,147},{147,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>game_icon_120103.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{147,147}</string>
                <key>spriteSourceSize</key>
                <string>{147,147}</string>
                <key>textureRect</key>
                <string>{{0,294},{147,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>game_icon_120104.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{147,147}</string>
                <key>spriteSourceSize</key>
                <string>{147,147}</string>
                <key>textureRect</key>
                <string>{{0,441},{147,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>game_icon_120105.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{147,147}</string>
                <key>spriteSourceSize</key>
                <string>{147,147}</string>
                <key>textureRect</key>
                <string>{{0,588},{147,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>game_icon_120106.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{147,147}</string>
                <key>spriteSourceSize</key>
                <string>{147,147}</string>
                <key>textureRect</key>
                <string>{{0,735},{147,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>game_icon_120107.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{147,147}</string>
                <key>spriteSourceSize</key>
                <string>{147,147}</string>
                <key>textureRect</key>
                <string>{{0,882},{147,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>game_icon_120108.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{147,147}</string>
                <key>spriteSourceSize</key>
                <string>{147,147}</string>
                <key>textureRect</key>
                <string>{{0,1029},{147,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>game_icon_120109.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{147,147}</string>
                <key>spriteSourceSize</key>
                <string>{147,147}</string>
                <key>textureRect</key>
                <string>{{0,1176},{147,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>game_icon_120110.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,101}</string>
                <key>spriteSourceSize</key>
                <string>{134,101}</string>
                <key>textureRect</key>
                <string>{{0,1323},{134,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>game_icon_120111.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{147,147}</string>
                <key>spriteSourceSize</key>
                <string>{147,147}</string>
                <key>textureRect</key>
                <string>{{0,1424},{147,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>game1201Icon.png</string>
            <key>size</key>
            <string>{147,1571}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ecf9273ccdf3a5797f24aa50e1e79af8:47a533e9d887cb03259d731736dc1b8a:dd6a7eb204c53d0ee195975218d49d16$</string>
            <key>textureFileName</key>
            <string>game1201Icon.png</string>
        </dict>
    </dict>
</plist>
