<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{183,102}</string>
                <key>spriteSourceSize</key>
                <string>{183,102}</string>
                <key>textureRect</key>
                <string>{{1719,1},{183,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{147,147}</string>
                <key>spriteSourceSize</key>
                <string>{147,147}</string>
                <key>textureRect</key>
                <string>{{1,1},{147,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>game_icon_1201.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{145,147}</string>
                <key>spriteSourceSize</key>
                <string>{147,147}</string>
                <key>textureRect</key>
                <string>{{1044,1},{145,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>game_icon_1202.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,1}</string>
                <key>spriteSize</key>
                <string>{141,141}</string>
                <key>spriteSourceSize</key>
                <string>{147,147}</string>
                <key>textureRect</key>
                <string>{{1330,1},{141,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>game_icon_1203.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{147,147}</string>
                <key>spriteSourceSize</key>
                <string>{147,147}</string>
                <key>textureRect</key>
                <string>{{150,1},{147,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>game_icon_1204.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{147,147}</string>
                <key>spriteSourceSize</key>
                <string>{147,147}</string>
                <key>textureRect</key>
                <string>{{299,1},{147,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>game_icon_1205.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,2}</string>
                <key>spriteSize</key>
                <string>{141,141}</string>
                <key>spriteSourceSize</key>
                <string>{147,147}</string>
                <key>textureRect</key>
                <string>{{1473,1},{141,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>game_icon_1206.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{147,147}</string>
                <key>spriteSourceSize</key>
                <string>{147,147}</string>
                <key>textureRect</key>
                <string>{{448,1},{147,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>game_icon_1207.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{147,147}</string>
                <key>spriteSourceSize</key>
                <string>{147,147}</string>
                <key>textureRect</key>
                <string>{{597,1},{147,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>game_icon_1208.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{147,147}</string>
                <key>spriteSourceSize</key>
                <string>{147,147}</string>
                <key>textureRect</key>
                <string>{{746,1},{147,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>game_icon_1209.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{147,147}</string>
                <key>spriteSourceSize</key>
                <string>{147,147}</string>
                <key>textureRect</key>
                <string>{{895,1},{147,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>game_icon_1210.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,101}</string>
                <key>spriteSourceSize</key>
                <string>{134,101}</string>
                <key>textureRect</key>
                <string>{{1616,1},{134,101}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>game_icon_1211.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{147,137}</string>
                <key>spriteSourceSize</key>
                <string>{147,147}</string>
                <key>textureRect</key>
                <string>{{1191,1},{147,137}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>game12Icon.png</string>
            <key>size</key>
            <string>{1903,149}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:52d3a75c9332ab188372673c28279777:96d8efa6e95170b3483443002e150172:82ad2819dac7319d386c5c66fe28e293$</string>
            <key>textureFileName</key>
            <string>game12Icon.png</string>
        </dict>
    </dict>
</plist>
