<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dianwan_en.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,194}</string>
                <key>spriteSourceSize</key>
                <string>{78,194}</string>
                <key>textureRect</key>
                <string>{{0,0},{78,194}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dianwan_my.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,194}</string>
                <key>spriteSourceSize</key>
                <string>{78,194}</string>
                <key>textureRect</key>
                <string>{{78,0},{78,194}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dianwan_zh.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,194}</string>
                <key>spriteSourceSize</key>
                <string>{78,194}</string>
                <key>textureRect</key>
                <string>{{156,0},{78,194}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>laba_en.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,194}</string>
                <key>spriteSourceSize</key>
                <string>{78,194}</string>
                <key>textureRect</key>
                <string>{{234,0},{78,194}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>laba_my.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,194}</string>
                <key>spriteSourceSize</key>
                <string>{78,194}</string>
                <key>textureRect</key>
                <string>{{312,0},{78,194}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>laba_zh.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,194}</string>
                <key>spriteSourceSize</key>
                <string>{78,194}</string>
                <key>textureRect</key>
                <string>{{390,0},{78,194}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qipai_en.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,194}</string>
                <key>spriteSourceSize</key>
                <string>{78,194}</string>
                <key>textureRect</key>
                <string>{{468,0},{78,194}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qipai_my.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,194}</string>
                <key>spriteSourceSize</key>
                <string>{78,194}</string>
                <key>textureRect</key>
                <string>{{546,0},{78,194}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qipai_zh.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,194}</string>
                <key>spriteSourceSize</key>
                <string>{78,194}</string>
                <key>textureRect</key>
                <string>{{624,0},{78,194}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>quanbu_en.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,194}</string>
                <key>spriteSourceSize</key>
                <string>{78,194}</string>
                <key>textureRect</key>
                <string>{{702,0},{78,194}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>quanbu_my.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,194}</string>
                <key>spriteSourceSize</key>
                <string>{78,194}</string>
                <key>textureRect</key>
                <string>{{780,0},{78,194}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>quanbu_zh.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,194}</string>
                <key>spriteSourceSize</key>
                <string>{78,194}</string>
                <key>textureRect</key>
                <string>{{858,0},{78,194}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>class_txt.png</string>
            <key>size</key>
            <string>{936,194}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dbf3dd9bc7a4eac712fb270eaad792e3:fefec921191bc4450d1fd76814e1f322:4c0f86b8354ef16747eb893376b9065b$</string>
            <key>textureFileName</key>
            <string>class_txt.png</string>
        </dict>
    </dict>
</plist>
