<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>4.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,263},{825,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{825,124}}</string>
                <key>sourceSize</key>
                <string>{825,124}</string>
            </dict>
            <key>ad_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{820,582},{399,290}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{399,290}}</string>
                <key>sourceSize</key>
                <string>{399,290}</string>
            </dict>
            <key>ad_girl.png</key>
            <dict>
                <key>frame</key>
                <string>{{1403,582},{412,316}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{412,316}}</string>
                <key>sourceSize</key>
                <string>{412,316}</string>
            </dict>
            <key>bg_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,582},{820,196}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{820,196}}</string>
                <key>sourceSize</key>
                <string>{820,196}</string>
            </dict>
            <key>bg_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{935,263},{825,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{825,125}}</string>
                <key>sourceSize</key>
                <string>{825,125}</string>
            </dict>
            <key>bg_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{497,153},{403,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{403,110}}</string>
                <key>sourceSize</key>
                <string>{403,110}</string>
            </dict>
            <key>bg_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{577,65},{59,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,71}}</string>
                <key>sourceSize</key>
                <string>{59,71}</string>
            </dict>
            <key>bottom4.png</key>
            <dict>
                <key>frame</key>
                <string>{{900,153},{835,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{835,110}}</string>
                <key>sourceSize</key>
                <string>{835,110}</string>
            </dict>
            <key>btn_ste_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,0},{49,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,51}}</string>
                <key>sourceSize</key>
                <string>{49,51}</string>
            </dict>
            <key>btn_ste_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{850,0},{49,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,51}}</string>
                <key>sourceSize</key>
                <string>{49,51}</string>
            </dict>
            <key>btn_ste_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{801,0},{49,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,51}}</string>
                <key>sourceSize</key>
                <string>{49,51}</string>
            </dict>
            <key>buy_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,65},{289,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{289,65}}</string>
                <key>sourceSize</key>
                <string>{289,65}</string>
            </dict>
            <key>buy_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,65},{288,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{288,65}}</string>
                <key>sourceSize</key>
                <string>{288,65}</string>
            </dict>
            <key>buy_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1282,0},{288,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{288,65}}</string>
                <key>sourceSize</key>
                <string>{288,65}</string>
            </dict>
            <key>buy_en_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,0},{80,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,40}}</string>
                <key>sourceSize</key>
                <string>{80,40}</string>
            </dict>
            <key>buy_my_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,0},{100,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,50}}</string>
                <key>sourceSize</key>
                <string>{100,50}</string>
            </dict>
            <key>buy_zh_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,0},{100,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,50}}</string>
                <key>sourceSize</key>
                <string>{100,50}</string>
            </dict>
            <key>close.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,0},{33,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,34}}</string>
                <key>sourceSize</key>
                <string>{33,34}</string>
            </dict>
            <key>gold.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,388},{127,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,127}}</string>
                <key>sourceSize</key>
                <string>{127,127}</string>
            </dict>
            <key>gold_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{511,0},{41,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,41}}</string>
                <key>sourceSize</key>
                <string>{41,41}</string>
            </dict>
            <key>goldbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,0},{53,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,41}}</string>
                <key>sourceSize</key>
                <string>{53,41}</string>
            </dict>
            <key>guang.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,0},{122,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,38}}</string>
                <key>sourceSize</key>
                <string>{122,38}</string>
            </dict>
            <key>icon_777_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1024,65},{109,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,82}}</string>
                <key>sourceSize</key>
                <string>{109,82}</string>
            </dict>
            <key>icon_777_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{915,65},{109,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,82}}</string>
                <key>sourceSize</key>
                <string>{109,82}</string>
            </dict>
            <key>icon_Buddy_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1418,65},{111,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,88}}</string>
                <key>sourceSize</key>
                <string>{111,88}</string>
            </dict>
            <key>icon_Buddy_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1650,65},{111,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,88}}</string>
                <key>sourceSize</key>
                <string>{111,88}</string>
            </dict>
            <key>icon_Trophy_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1323,65},{95,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,87}}</string>
                <key>sourceSize</key>
                <string>{95,87}</string>
            </dict>
            <key>icon_Trophy_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1228,65},{95,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,87}}</string>
                <key>sourceSize</key>
                <string>{95,87}</string>
            </dict>
            <key>icon_compass_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1133,65},{95,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,82}}</string>
                <key>sourceSize</key>
                <string>{95,82}</string>
            </dict>
            <key>icon_compass_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{820,65},{95,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,82}}</string>
                <key>sourceSize</key>
                <string>{95,82}</string>
            </dict>
            <key>icon_gift_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,65},{92,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,81}}</string>
                <key>sourceSize</key>
                <string>{92,81}</string>
            </dict>
            <key>icon_gift_small_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,65},{92,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,81}}</string>
                <key>sourceSize</key>
                <string>{92,81}</string>
            </dict>
            <key>icon_lightning_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,153},{95,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,89}}</string>
                <key>sourceSize</key>
                <string>{95,89}</string>
            </dict>
            <key>icon_lightning_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,153},{95,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,89}}</string>
                <key>sourceSize</key>
                <string>{95,89}</string>
            </dict>
            <key>icon_medal_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{678,388},{137,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,151}}</string>
                <key>sourceSize</key>
                <string>{137,151}</string>
            </dict>
            <key>icon_medal_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{815,388},{137,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,151}}</string>
                <key>sourceSize</key>
                <string>{137,151}</string>
            </dict>
            <key>icon_recording_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,153},{91,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,93}}</string>
                <key>sourceSize</key>
                <string>{91,93}</string>
            </dict>
            <key>icon_recording_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,153},{91,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,92}}</string>
                <key>sourceSize</key>
                <string>{91,92}</string>
            </dict>
            <key>icon_safe_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,388},{147,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,144}}</string>
                <key>sourceSize</key>
                <string>{147,144}</string>
            </dict>
            <key>icon_safe_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{531,388},{147,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,144}}</string>
                <key>sourceSize</key>
                <string>{147,144}</string>
            </dict>
            <key>icon_speaker_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1529,65},{121,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,88}}</string>
                <key>sourceSize</key>
                <string>{121,88}</string>
            </dict>
            <key>icon_speaker_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,153},{125,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,93}}</string>
                <key>sourceSize</key>
                <string>{125,93}</string>
            </dict>
            <key>jackpot.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{136,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,17}}</string>
                <key>sourceSize</key>
                <string>{136,17}</string>
            </dict>
            <key>leibie_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1030,388},{78,194}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,194}}</string>
                <key>sourceSize</key>
                <string>{78,194}</string>
            </dict>
            <key>leibie_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{952,388},{78,194}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,194}}</string>
                <key>sourceSize</key>
                <string>{78,194}</string>
            </dict>
            <key>paihang1.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,388},{144,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,142}}</string>
                <key>sourceSize</key>
                <string>{144,142}</string>
            </dict>
            <key>paihang2.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,388},{113,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,134}}</string>
                <key>sourceSize</key>
                <string>{113,134}</string>
            </dict>
            <key>paihang3.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,263},{110,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,118}}</string>
                <key>sourceSize</key>
                <string>{110,118}</string>
            </dict>
            <key>set_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,0},{39,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,39}}</string>
                <key>sourceSize</key>
                <string>{39,39}</string>
            </dict>
            <key>sit_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,0},{48,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,31}}</string>
                <key>sourceSize</key>
                <string>{48,31}</string>
            </dict>
            <key>site_box.png</key>
            <dict>
                <key>frame</key>
                <string>{{1219,582},{184,298}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,298}}</string>
                <key>sourceSize</key>
                <string>{184,298}</string>
            </dict>
            <key>site_box2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1220,0},{62,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,62}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>top_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{899,0},{268,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{268,52}}</string>
                <key>sourceSize</key>
                <string>{268,52}</string>
            </dict>
            <key>zuanshi.png</key>
            <dict>
                <key>frame</key>
                <string>{{1167,0},{53,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,60}}</string>
                <key>sourceSize</key>
                <string>{53,60}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hall.png</string>
            <key>size</key>
            <string>{1815,898}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9776e64fa63f558df75b46854fa73416$</string>
            <key>textureFileName</key>
            <string>hall.png</string>
        </dict>
    </dict>
</plist>
