<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_en.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{49,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,51}}</string>
                <key>sourceSize</key>
                <string>{49,51}</string>
            </dict>
            <key>btn_es.png</key>
            <dict>
                <key>frame</key>
                <string>{{49,0},{49,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,51}}</string>
                <key>sourceSize</key>
                <string>{49,51}</string>
            </dict>
            <key>btn_fr.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,0},{49,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,51}}</string>
                <key>sourceSize</key>
                <string>{49,51}</string>
            </dict>
            <key>btn_id.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,0},{49,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,51}}</string>
                <key>sourceSize</key>
                <string>{49,51}</string>
            </dict>
            <key>btn_in.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,0},{49,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,51}}</string>
                <key>sourceSize</key>
                <string>{49,51}</string>
            </dict>
            <key>btn_kp.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,0},{49,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,51}}</string>
                <key>sourceSize</key>
                <string>{49,51}</string>
            </dict>
            <key>btn_my.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,0},{49,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,51}}</string>
                <key>sourceSize</key>
                <string>{49,51}</string>
            </dict>
            <key>btn_pt.png</key>
            <dict>
                <key>frame</key>
                <string>{{343,0},{49,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,51}}</string>
                <key>sourceSize</key>
                <string>{49,51}</string>
            </dict>
            <key>btn_th.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,0},{49,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,51}}</string>
                <key>sourceSize</key>
                <string>{49,51}</string>
            </dict>
            <key>btn_vn.png</key>
            <dict>
                <key>frame</key>
                <string>{{441,0},{49,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,51}}</string>
                <key>sourceSize</key>
                <string>{49,51}</string>
            </dict>
            <key>btn_zh.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,0},{49,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,51}}</string>
                <key>sourceSize</key>
                <string>{49,51}</string>
            </dict>
            <key>txt_cht.png</key>
            <dict>
                <key>frame</key>
                <string>{{539,0},{157,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,67}}</string>
                <key>sourceSize</key>
                <string>{157,67}</string>
            </dict>
            <key>txt_ec.png</key>
            <dict>
                <key>frame</key>
                <string>{{696,0},{157,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,67}}</string>
                <key>sourceSize</key>
                <string>{157,67}</string>
            </dict>
            <key>txt_es.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,67},{157,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,67}}</string>
                <key>sourceSize</key>
                <string>{157,67}</string>
            </dict>
            <key>txt_fr.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,67},{157,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,67}}</string>
                <key>sourceSize</key>
                <string>{157,67}</string>
            </dict>
            <key>txt_id.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,67},{157,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,67}}</string>
                <key>sourceSize</key>
                <string>{157,67}</string>
            </dict>
            <key>txt_in.png</key>
            <dict>
                <key>frame</key>
                <string>{{471,67},{157,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,67}}</string>
                <key>sourceSize</key>
                <string>{157,67}</string>
            </dict>
            <key>txt_kp.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,67},{157,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,67}}</string>
                <key>sourceSize</key>
                <string>{157,67}</string>
            </dict>
            <key>txt_my.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,134},{157,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,67}}</string>
                <key>sourceSize</key>
                <string>{157,67}</string>
            </dict>
            <key>txt_pt.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,134},{157,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,67}}</string>
                <key>sourceSize</key>
                <string>{157,67}</string>
            </dict>
            <key>txt_th.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,134},{157,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,67}}</string>
                <key>sourceSize</key>
                <string>{157,67}</string>
            </dict>
            <key>txt_vn.png</key>
            <dict>
                <key>frame</key>
                <string>{{471,134},{157,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,67}}</string>
                <key>sourceSize</key>
                <string>{157,67}</string>
            </dict>
            <key>txt_zh.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,134},{157,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,67}}</string>
                <key>sourceSize</key>
                <string>{157,67}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>language.png</string>
            <key>size</key>
            <string>{853,201}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b24ba23553dd19e42dde56e5c4b4980b$</string>
            <key>textureFileName</key>
            <string>language.png</string>
        </dict>
    </dict>
</plist>
