<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{379,85}</string>
                <key>spriteSourceSize</key>
                <string>{379,85}</string>
                <key>textureRect</key>
                <string>{{0,530},{379,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{350,85}</string>
                <key>spriteSourceSize</key>
                <string>{350,85}</string>
                <key>textureRect</key>
                <string>{{0,445},{350,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>close.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,43}</string>
                <key>spriteSourceSize</key>
                <string>{42,43}</string>
                <key>textureRect</key>
                <string>{{0,0},{42,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>edit_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,76}</string>
                <key>spriteSourceSize</key>
                <string>{71,76}</string>
                <key>textureRect</key>
                <string>{{163,0},{71,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>edit_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,76}</string>
                <key>spriteSourceSize</key>
                <string>{71,76}</string>
                <key>textureRect</key>
                <string>{{234,0},{71,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>edit_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,64}</string>
                <key>spriteSourceSize</key>
                <string>{62,64}</string>
                <key>textureRect</key>
                <string>{{101,0},{62,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_box.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{210,211}</string>
                <key>spriteSourceSize</key>
                <string>{210,211}</string>
                <key>textureRect</key>
                <string>{{180,234},{210,211}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_mask.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,180}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{0,234},{180,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{173,158}</string>
                <key>spriteSourceSize</key>
                <string>{173,158}</string>
                <key>textureRect</key>
                <string>{{153,76},{173,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,66}</string>
                <key>spriteSourceSize</key>
                <string>{59,66}</string>
                <key>textureRect</key>
                <string>{{42,0},{59,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,146}</string>
                <key>spriteSourceSize</key>
                <string>{153,146}</string>
                <key>textureRect</key>
                <string>{{0,76},{153,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>left_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{384,723}</string>
                <key>spriteSourceSize</key>
                <string>{384,723}</string>
                <key>textureRect</key>
                <string>{{0,615},{384,723}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>playerinfo.png</string>
            <key>size</key>
            <string>{390,1338}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1dd898edfb444f989125d042078a148e:f89163848fa36ac9940473bb1b490966:662e4fbcb6d9be63e82e1102a4a32e87$</string>
            <key>textureFileName</key>
            <string>playerinfo.png</string>
        </dict>
    </dict>
</plist>
