<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>loop_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,52},{110,48}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,7},{110,48}}</string>
                <key>sourceSize</key>
                <string>{120,60}</string>
            </dict>
            <key>loop_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,210},{104,48}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{104,48}}</string>
                <key>sourceSize</key>
                <string>{120,60}</string>
            </dict>
            <key>loop_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,260},{104,44}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,10},{104,44}}</string>
                <key>sourceSize</key>
                <string>{120,60}</string>
            </dict>
            <key>loop_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,252},{104,44}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,10},{104,44}}</string>
                <key>sourceSize</key>
                <string>{120,60}</string>
            </dict>
            <key>loop_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,216},{104,46}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,9},{104,46}}</string>
                <key>sourceSize</key>
                <string>{120,60}</string>
            </dict>
            <key>loop_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,152},{106,48}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{106,48}}</string>
                <key>sourceSize</key>
                <string>{120,60}</string>
            </dict>
            <key>loop_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,56},{108,50}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,7},{108,50}}</string>
                <key>sourceSize</key>
                <string>{120,60}</string>
            </dict>
            <key>loop_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,56},{108,50}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,7},{108,50}}</string>
                <key>sourceSize</key>
                <string>{120,60}</string>
            </dict>
            <key>loop_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,220},{106,52}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,5},{106,52}}</string>
                <key>sourceSize</key>
                <string>{120,60}</string>
            </dict>
            <key>loop_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,220},{102,52}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,6},{102,52}}</string>
                <key>sourceSize</key>
                <string>{120,60}</string>
            </dict>
            <key>loop_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,438},{104,52}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,5},{104,52}}</string>
                <key>sourceSize</key>
                <string>{120,60}</string>
            </dict>
            <key>loop_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,330},{106,52}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,5},{106,52}}</string>
                <key>sourceSize</key>
                <string>{120,60}</string>
            </dict>
            <key>loop_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,220},{106,50}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,4},{106,50}}</string>
                <key>sourceSize</key>
                <string>{120,60}</string>
            </dict>
            <key>loop_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,328},{106,50}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,4},{106,50}}</string>
                <key>sourceSize</key>
                <string>{120,60}</string>
            </dict>
            <key>loop_014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,56},{108,50}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,3},{108,50}}</string>
                <key>sourceSize</key>
                <string>{120,60}</string>
            </dict>
            <key>loop_015.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,2},{110,52}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,1},{110,52}}</string>
                <key>sourceSize</key>
                <string>{120,60}</string>
            </dict>
            <key>loop_016.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,112},{106,52}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,1},{106,52}}</string>
                <key>sourceSize</key>
                <string>{120,60}</string>
            </dict>
            <key>loop_017.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,2},{108,52}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,1},{108,52}}</string>
                <key>sourceSize</key>
                <string>{120,60}</string>
            </dict>
            <key>loop_018.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,102},{108,48}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{108,48}}</string>
                <key>sourceSize</key>
                <string>{120,60}</string>
            </dict>
            <key>loop_019.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,108},{106,48}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{106,48}}</string>
                <key>sourceSize</key>
                <string>{120,60}</string>
            </dict>
            <key>loop_020.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,202},{104,48}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,4},{104,48}}</string>
                <key>sourceSize</key>
                <string>{120,60}</string>
            </dict>
            <key>loop_021.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,158},{104,50}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,3},{104,50}}</string>
                <key>sourceSize</key>
                <string>{120,60}</string>
            </dict>
            <key>loop_022.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,108},{106,50}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,3},{106,50}}</string>
                <key>sourceSize</key>
                <string>{120,60}</string>
            </dict>
            <key>loop_023.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,108},{106,48}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,3},{106,48}}</string>
                <key>sourceSize</key>
                <string>{120,60}</string>
            </dict>
            <key>loop_024.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,108},{106,50}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,1},{106,50}}</string>
                <key>sourceSize</key>
                <string>{120,60}</string>
            </dict>
            <key>loop_025.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,108},{108,46}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,6},{108,46}}</string>
                <key>sourceSize</key>
                <string>{120,60}</string>
            </dict>
            <key>loop_026.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,220},{108,46}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,5},{108,46}}</string>
                <key>sourceSize</key>
                <string>{120,60}</string>
            </dict>
            <key>loop_027.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,2},{110,48}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,4},{110,48}}</string>
                <key>sourceSize</key>
                <string>{120,60}</string>
            </dict>
            <key>loop_028.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,2},{112,52}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{112,52}}</string>
                <key>sourceSize</key>
                <string>{120,60}</string>
            </dict>
            <key>loop_029.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{112,52}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,3},{112,52}}</string>
                <key>sourceSize</key>
                <string>{120,60}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>winmeter_particles.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bea9b17981688c1258e7f0068c6a6916$</string>
            <key>textureFileName</key>
            <string>winmeter_particles.png</string>
        </dict>
    </dict>
</plist>
