<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>club_fjlb_bar_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,2},{470,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{470,28}}</string>
                <key>sourceSize</key>
                <string>{470,28}</string>
            </dict>
            <key>club_fjlb_bar_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,32},{467,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{467,24}}</string>
                <key>sourceSize</key>
                <string>{467,24}</string>
            </dict>
            <key>club_fjlb_bg_head.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,609},{83,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,83}}</string>
                <key>sourceSize</key>
                <string>{83,83}</string>
            </dict>
            <key>club_fjlb_bg_headd.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,222},{338,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{338,74}}</string>
                <key>sourceSize</key>
                <string>{338,74}</string>
            </dict>
            <key>club_fjlb_bg_yx.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{502,218}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{502,218}}</string>
                <key>sourceSize</key>
                <string>{502,218}</string>
            </dict>
            <key>club_fjlb_btn_cjfj.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,222},{280,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,101}}</string>
                <key>sourceSize</key>
                <string>{280,101}</string>
            </dict>
            <key>club_fjlb_btn_fhfj.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,58},{280,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,101}}</string>
                <key>sourceSize</key>
                <string>{280,101}</string>
            </dict>
            <key>club_fjlb_btn_orange.png</key>
            <dict>
                <key>frame</key>
                <string>{{461,224},{205,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,77}}</string>
                <key>sourceSize</key>
                <string>{205,77}</string>
            </dict>
            <key>club_fjlb_img_bkjr.png</key>
            <dict>
                <key>frame</key>
                <string>{{553,536},{104,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{104,33}}</string>
                <key>sourceSize</key>
                <string>{106,35}</string>
            </dict>
            <key>club_fjlb_img_by.png</key>
            <dict>
                <key>frame</key>
                <string>{{447,608},{88,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,70}}</string>
                <key>sourceSize</key>
                <string>{88,70}</string>
            </dict>
            <key>club_fjlb_img_ccmj.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,504},{102,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,67}}</string>
                <key>sourceSize</key>
                <string>{102,67}</string>
            </dict>
            <key>club_fjlb_img_cjps.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,224},{77,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,70}}</string>
                <key>sourceSize</key>
                <string>{77,70}</string>
            </dict>
            <key>club_fjlb_img_ddwj.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,574},{79,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,79}}</string>
                <key>sourceSize</key>
                <string>{79,79}</string>
            </dict>
            <key>club_fjlb_img_erddz.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,501},{65,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,71}}</string>
                <key>sourceSize</key>
                <string>{65,71}</string>
            </dict>
            <key>club_fjlb_img_erdz.png</key>
            <dict>
                <key>frame</key>
                <string>{{836,394},{90,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,69}}</string>
                <key>sourceSize</key>
                <string>{90,69}</string>
            </dict>
            <key>club_fjlb_img_fhfj.png</key>
            <dict>
                <key>frame</key>
                <string>{{729,303},{103,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{103,34}}</string>
                <key>sourceSize</key>
                <string>{105,36}</string>
            </dict>
            <key>club_fjlb_img_fjgl.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,655},{49,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,41}}</string>
                <key>sourceSize</key>
                <string>{49,41}</string>
            </dict>
            <key>club_fjlb_img_fkps.png</key>
            <dict>
                <key>frame</key>
                <string>{{678,572},{82,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,71}}</string>
                <key>sourceSize</key>
                <string>{82,71}</string>
            </dict>
            <key>club_fjlb_img_fz.png</key>
            <dict>
                <key>frame</key>
                <string>{{843,625},{28,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,28}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>club_fjlb_img_htgl.png</key>
            <dict>
                <key>frame</key>
                <string>{{731,161},{37,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,43}}</string>
                <key>sourceSize</key>
                <string>{37,43}</string>
            </dict>
            <key>club_fjlb_img_hy.png</key>
            <dict>
                <key>frame</key>
                <string>{{978,2},{54,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,43}}</string>
                <key>sourceSize</key>
                <string>{54,43}</string>
            </dict>
            <key>club_fjlb_img_kjr.png</key>
            <dict>
                <key>frame</key>
                <string>{{781,655},{80,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{80,33}}</string>
                <key>sourceSize</key>
                <string>{82,35}</string>
            </dict>
            <key>club_fjlb_img_kztr.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,222},{214,404}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,404}}</string>
                <key>sourceSize</key>
                <string>{214,404}</string>
            </dict>
            <key>club_fjlb_img_lb.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,573},{23,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,20}}</string>
                <key>sourceSize</key>
                <string>{23,20}</string>
            </dict>
            <key>club_fjlb_img_lzddz.png</key>
            <dict>
                <key>frame</key>
                <string>{{519,609},{87,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,71}}</string>
                <key>sourceSize</key>
                <string>{87,71}</string>
            </dict>
            <key>club_fjlb_img_qqhemj.png</key>
            <dict>
                <key>frame</key>
                <string>{{765,374},{80,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,69}}</string>
                <key>sourceSize</key>
                <string>{80,69}</string>
            </dict>
            <key>club_fjlb_img_qzps.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,608},{88,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,71}}</string>
                <key>sourceSize</key>
                <string>{88,71}</string>
            </dict>
            <key>club_fjlb_img_srddz.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,202},{101,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,78}}</string>
                <key>sourceSize</key>
                <string>{101,78}</string>
            </dict>
            <key>club_fjlb_img_symj.png</key>
            <dict>
                <key>frame</key>
                <string>{{843,548},{75,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,64}}</string>
                <key>sourceSize</key>
                <string>{75,64}</string>
            </dict>
            <key>club_fjlb_img_tdh.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,608},{88,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,71}}</string>
                <key>sourceSize</key>
                <string>{88,71}</string>
            </dict>
            <key>club_fjlb_img_wjtxk.png</key>
            <dict>
                <key>frame</key>
                <string>{{928,394},{79,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,79}}</string>
                <key>sourceSize</key>
                <string>{79,79}</string>
            </dict>
            <key>club_fjlb_img_wk.png</key>
            <dict>
                <key>frame</key>
                <string>{{833,465},{76,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,81}}</string>
                <key>sourceSize</key>
                <string>{76,81}</string>
            </dict>
            <key>club_fjlb_img_xlch.png</key>
            <dict>
                <key>frame</key>
                <string>{{679,501},{85,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,69}}</string>
                <key>sourceSize</key>
                <string>{85,69}</string>
            </dict>
            <key>club_fjlb_img_xzdd.png</key>
            <dict>
                <key>frame</key>
                <string>{{765,282},{90,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,69}}</string>
                <key>sourceSize</key>
                <string>{90,69}</string>
            </dict>
            <key>club_fjlb_img_yellowlk.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,303},{117,113}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{117,113}}</string>
                <key>sourceSize</key>
                <string>{121,117}</string>
            </dict>
            <key>club_fjlb_img_zj.png</key>
            <dict>
                <key>frame</key>
                <string>{{969,202},{52,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,46}}</string>
                <key>sourceSize</key>
                <string>{52,46}</string>
            </dict>
            <key>club_fjlb_img_zmd.png</key>
            <dict>
                <key>frame</key>
                <string>{{708,456},{95,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,43}}</string>
                <key>sourceSize</key>
                <string>{95,43}</string>
            </dict>
            <key>club_fjlb_txt_bydjz.png</key>
            <dict>
                <key>frame</key>
                <string>{{461,419},{155,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{155,35}}</string>
                <key>sourceSize</key>
                <string>{157,39}</string>
            </dict>
            <key>club_fjlb_txt_ccmj.png</key>
            <dict>
                <key>frame</key>
                <string>{{843,278},{123,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,36}}</string>
                <key>sourceSize</key>
                <string>{123,36}</string>
            </dict>
            <key>club_fjlb_txt_cjps.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,573},{123,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,36}}</string>
                <key>sourceSize</key>
                <string>{123,36}</string>
            </dict>
            <key>club_fjlb_txt_erddz.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,533},{153,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,36}}</string>
                <key>sourceSize</key>
                <string>{153,36}</string>
            </dict>
            <key>club_fjlb_txt_erdz.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,571},{122,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,36}}</string>
                <key>sourceSize</key>
                <string>{122,36}</string>
            </dict>
            <key>club_fjlb_txt_fkps.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,573},{123,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,36}}</string>
                <key>sourceSize</key>
                <string>{123,36}</string>
            </dict>
            <key>club_fjlb_txt_lzddz.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,571},{154,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,35}}</string>
                <key>sourceSize</key>
                <string>{154,35}</string>
            </dict>
            <key>club_fjlb_txt_qqhemj.png</key>
            <dict>
                <key>frame</key>
                <string>{{397,456},{183,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,37}}</string>
                <key>sourceSize</key>
                <string>{183,37}</string>
            </dict>
            <key>club_fjlb_txt_qzps.png</key>
            <dict>
                <key>frame</key>
                <string>{{843,240},{124,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,36}}</string>
                <key>sourceSize</key>
                <string>{124,36}</string>
            </dict>
            <key>club_fjlb_txt_srddz.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,495},{153,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,36}}</string>
                <key>sourceSize</key>
                <string>{153,36}</string>
            </dict>
            <key>club_fjlb_txt_sykt.png</key>
            <dict>
                <key>frame</key>
                <string>{{836,355},{122,37}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{122,37}}</string>
                <key>sourceSize</key>
                <string>{124,39}</string>
            </dict>
            <key>club_fjlb_txt_symj.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,418},{123,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,36}}</string>
                <key>sourceSize</key>
                <string>{123,36}</string>
            </dict>
            <key>club_fjlb_txt_symt.png</key>
            <dict>
                <key>frame</key>
                <string>{{836,316},{122,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{122,37}}</string>
                <key>sourceSize</key>
                <string>{124,39}</string>
            </dict>
            <key>club_fjlb_txt_tdh.png</key>
            <dict>
                <key>frame</key>
                <string>{{553,496},{124,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{124,38}}</string>
                <key>sourceSize</key>
                <string>{126,40}</string>
            </dict>
            <key>club_fjlb_txt_xlch.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,456},{124,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{124,38}}</string>
                <key>sourceSize</key>
                <string>{126,40}</string>
            </dict>
            <key>club_fjlb_txt_xzdd.png</key>
            <dict>
                <key>frame</key>
                <string>{{843,202},{124,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{124,36}}</string>
                <key>sourceSize</key>
                <string>{126,40}</string>
            </dict>
            <key>club_pjcx_bg_data.png</key>
            <dict>
                <key>frame</key>
                <string>{{677,645},{51,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,51}}</string>
                <key>sourceSize</key>
                <string>{51,51}</string>
            </dict>
            <key>club_pjcx_bg_xl.png</key>
            <dict>
                <key>frame</key>
                <string>{{909,629},{42,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,42}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
            <key>club_pjcx_btn_data.png</key>
            <dict>
                <key>frame</key>
                <string>{{743,408},{26,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,14},{26,20}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>club_pjcx_img_xl.png</key>
            <dict>
                <key>frame</key>
                <string>{{969,250},{42,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,42}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
            <key>club_title_myscore.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,161},{223,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{223,61}}</string>
                <key>sourceSize</key>
                <string>{223,61}</string>
            </dict>
            <key>club_title_paijucheck.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,628},{221,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{221,62}}</string>
                <key>sourceSize</key>
                <string>{221,62}</string>
            </dict>
            <key>club_title_xiangqjl.png</key>
            <dict>
                <key>frame</key>
                <string>{{397,222},{223,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{223,62}}</string>
                <key>sourceSize</key>
                <string>{223,62}</string>
            </dict>
            <key>club_xqjl_img_headfram.png</key>
            <dict>
                <key>frame</key>
                <string>{{909,555},{72,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,72}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>club_ylc_bg_yellowbar.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,58},{233,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{233,142}}</string>
                <key>sourceSize</key>
                <string>{233,142}</string>
            </dict>
            <key>club_zj_bg_infobar.png</key>
            <dict>
                <key>frame</key>
                <string>{{461,303},{114,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,147}}</string>
                <key>sourceSize</key>
                <string>{114,147}</string>
            </dict>
            <key>club_zj_btn_lx.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,562},{58,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,42}}</string>
                <key>sourceSize</key>
                <string>{58,42}</string>
            </dict>
            <key>club_zj_img_headfram.png</key>
            <dict>
                <key>frame</key>
                <string>{{911,475},{78,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,78}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>club_zj_img_yin.png</key>
            <dict>
                <key>frame</key>
                <string>{{873,625},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>p_casino_club_3.png</string>
            <key>size</key>
            <string>{1023,698}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4017fea25c4e9fc39051f1bf20e4c384:1/1$</string>
            <key>textureFileName</key>
            <string>p_casino_club_3.png</string>
        </dict>
    </dict>
</plist>
