<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>slots_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{589,1884},{116,102}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,21},{116,102}}</string>
                <key>sourceSize</key>
                <string>{162,144}</string>
            </dict>
            <key>slots_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,1221},{74,108}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,18},{74,108}}</string>
                <key>sourceSize</key>
                <string>{162,144}</string>
            </dict>
            <key>slots_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{621,1648},{102,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,13},{102,118}}</string>
                <key>sourceSize</key>
                <string>{162,144}</string>
            </dict>
            <key>slots_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{625,1536},{96,110}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,17},{96,110}}</string>
                <key>sourceSize</key>
                <string>{162,144}</string>
            </dict>
            <key>slots_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{625,1430},{100,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,20},{100,104}}</string>
                <key>sourceSize</key>
                <string>{162,144}</string>
            </dict>
            <key>slots_51.png</key>
            <dict>
                <key>frame</key>
                <string>{{541,863},{160,184}}</string>
                <key>offset</key>
                <string>{-1,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{160,184}}</string>
                <key>sourceSize</key>
                <string>{164,220}</string>
            </dict>
            <key>slots_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{463,1884},{124,112}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,16},{124,112}}</string>
                <key>sourceSize</key>
                <string>{162,144}</string>
            </dict>
            <key>slots_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{313,1492},{150,166}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{150,166}}</string>
                <key>sourceSize</key>
                <string>{162,176}</string>
            </dict>
            <key>slots_71.png</key>
            <dict>
                <key>frame</key>
                <string>{{451,1221},{185,207}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,207}}</string>
                <key>sourceSize</key>
                <string>{185,207}</string>
            </dict>
            <key>slots_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{583,509},{146,142}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,29},{146,142}}</string>
                <key>sourceSize</key>
                <string>{162,176}</string>
            </dict>
            <key>slots_81.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,1733},{151,149}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{151,149}}</string>
                <key>sourceSize</key>
                <string>{151,151}</string>
            </dict>
            <key>slots_82.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,1582},{151,149}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{151,149}}</string>
                <key>sourceSize</key>
                <string>{151,151}</string>
            </dict>
            <key>slots_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,1825},{150,162}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,3},{150,162}}</string>
                <key>sourceSize</key>
                <string>{162,176}</string>
            </dict>
            <key>slots_f51.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,1660},{163,155}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{163,155}}</string>
                <key>sourceSize</key>
                <string>{167,163}</string>
            </dict>
            <key>slots_fnt_fs.png</key>
            <dict>
                <key>frame</key>
                <string>{{583,657},{98,182}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,182}}</string>
                <key>sourceSize</key>
                <string>{98,182}</string>
            </dict>
            <key>slots_frame_51.png</key>
            <dict>
                <key>frame</key>
                <string>{{541,1025},{194,178}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,178}}</string>
                <key>sourceSize</key>
                <string>{198,186}</string>
            </dict>
            <key>slots_frame_51_fs.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,347},{160,455}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,455}}</string>
                <key>sourceSize</key>
                <string>{160,459}</string>
            </dict>
            <key>slots_fs_btn_again_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{313,1225},{265,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{265,69}}</string>
                <key>sourceSize</key>
                <string>{265,69}</string>
            </dict>
            <key>slots_fs_btn_again_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,939},{251,65}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,3},{251,65}}</string>
                <key>sourceSize</key>
                <string>{265,69}</string>
            </dict>
            <key>slots_fs_btn_begin_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{313,958},{265,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{265,69}}</string>
                <key>sourceSize</key>
                <string>{265,69}</string>
            </dict>
            <key>slots_fs_btn_begin_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,1192},{251,65}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,3},{251,65}}</string>
                <key>sourceSize</key>
                <string>{265,69}</string>
            </dict>
            <key>slots_fs_btn_end_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,2},{265,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{265,69}}</string>
                <key>sourceSize</key>
                <string>{265,69}</string>
            </dict>
            <key>slots_fs_btn_end_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,939},{251,65}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,3},{251,65}}</string>
                <key>sourceSize</key>
                <string>{265,69}</string>
            </dict>
            <key>slots_jackpot_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,509},{352,97}}</string>
                <key>offset</key>
                <string>{18,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,1},{352,97}}</string>
                <key>sourceSize</key>
                <string>{388,129}</string>
            </dict>
            <key>slots_jackpot_bar_fs.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,509},{352,97}}</string>
                <key>offset</key>
                <string>{18,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,1},{352,97}}</string>
                <key>sourceSize</key>
                <string>{388,129}</string>
            </dict>
            <key>slots_jackpot_medium.png</key>
            <dict>
                <key>frame</key>
                <string>{{683,657},{80,32}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,2},{80,32}}</string>
                <key>sourceSize</key>
                <string>{86,36}</string>
            </dict>
            <key>slots_jackpot_mega.png</key>
            <dict>
                <key>frame</key>
                <string>{{693,1884},{82,32}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{82,32}}</string>
                <key>sourceSize</key>
                <string>{86,36}</string>
            </dict>
            <key>slots_jackpot_minor.png</key>
            <dict>
                <key>frame</key>
                <string>{{621,1850},{80,32}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,1},{80,32}}</string>
                <key>sourceSize</key>
                <string>{86,36}</string>
            </dict>
            <key>slots_loadbar.png</key>
            <dict>
                <key>frame</key>
                <string>{{451,939},{266,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{266,21}}</string>
                <key>sourceSize</key>
                <string>{266,21}</string>
            </dict>
            <key>slots_loadbar_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1996},{276,33}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{276,33}}</string>
                <key>sourceSize</key>
                <string>{276,37}</string>
            </dict>
            <key>slots_mask_big.png</key>
            <dict>
                <key>frame</key>
                <string>{{347,509},{135,428}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,428}}</string>
                <key>sourceSize</key>
                <string>{135,428}</string>
            </dict>
            <key>slots_mask_rise.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{240,574}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,574}}</string>
                <key>sourceSize</key>
                <string>{240,574}</string>
            </dict>
            <key>slots_mask_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{465,1430},{158,150}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,17},{158,150}}</string>
                <key>sourceSize</key>
                <string>{198,186}</string>
            </dict>
            <key>slots_ptable_btn_close_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,1331},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>slots_ptable_btn_close_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{621,1768},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>slots_ptable_btn_next_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,509},{55,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,78}}</string>
                <key>sourceSize</key>
                <string>{55,78}</string>
            </dict>
            <key>slots_ptable_btn_next_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,863},{53,74}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{53,74}}</string>
                <key>sourceSize</key>
                <string>{55,78}</string>
            </dict>
            <key>slots_ptable_btn_return_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,2},{265,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{265,69}}</string>
                <key>sourceSize</key>
                <string>{265,69}</string>
            </dict>
            <key>slots_ptable_btn_return_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,939},{251,65}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,3},{251,65}}</string>
                <key>sourceSize</key>
                <string>{265,69}</string>
            </dict>
            <key>slots_select_fs1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1304},{344,309}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,17},{344,309}}</string>
                <key>sourceSize</key>
                <string>{378,343}</string>
            </dict>
            <key>slots_select_fs1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,958},{344,309}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,17},{344,309}}</string>
                <key>sourceSize</key>
                <string>{378,343}</string>
            </dict>
            <key>slots_select_fs1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,578},{378,343}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{378,343}}</string>
                <key>sourceSize</key>
                <string>{378,343}</string>
            </dict>
            <key>slots_select_fs2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1304},{344,309}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,17},{344,309}}</string>
                <key>sourceSize</key>
                <string>{378,343}</string>
            </dict>
            <key>slots_select_fs2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1650},{344,307}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,18},{344,307}}</string>
                <key>sourceSize</key>
                <string>{378,343}</string>
            </dict>
            <key>slots_select_fs2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,2},{378,343}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{378,343}}</string>
                <key>sourceSize</key>
                <string>{378,343}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Slots_LvBuXiDiaoChan.png</string>
            <key>size</key>
            <string>{727,2031}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7b4c29e1bc02b9a8a12847e4b5df53a8:1/1$</string>
            <key>textureFileName</key>
            <string>Slots_LvBuXiDiaoChan.png</string>
        </dict>
    </dict>
</plist>
