<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Gold.png</key>
            <dict>
                <key>frame</key>
                <string>{{1153,720},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>hoc_bottom_bet_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,1818},{394,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{394,111}}</string>
                <key>sourceSize</key>
                <string>{394,111}</string>
            </dict>
            <key>hoc_bottom_win_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,1818},{355,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{355,111}}</string>
                <key>sourceSize</key>
                <string>{355,111}</string>
            </dict>
            <key>juedi_bottom_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,616},{1334,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1334,123}}</string>
                <key>sourceSize</key>
                <string>{1334,123}</string>
            </dict>
            <key>juedi_top_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{879,720},{272,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{272,46}}</string>
                <key>sourceSize</key>
                <string>{272,46}</string>
            </dict>
            <key>livej_frame_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,616},{1200,609}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1200,609}}</string>
                <key>sourceSize</key>
                <string>{1200,609}</string>
            </dict>
            <key>livej_frame_bg_free.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{1199,613}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1199,613}}</string>
                <key>sourceSize</key>
                <string>{1199,613}</string>
            </dict>
            <key>livej_frame_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{737,616},{453,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,17},{453,102}}</string>
                <key>sourceSize</key>
                <string>{493,136}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ho_viewlayer.png</string>
            <key>size</key>
            <string>{1201,1951}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cc3cd81f8f4d2978a67c4bfeda74ee29$</string>
            <key>textureFileName</key>
            <string>ho_viewlayer.png</string>
        </dict>
    </dict>
</plist>
