<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>layer-0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,64}</string>
                <key>spriteSourceSize</key>
                <string>{94,64}</string>
                <key>textureRect</key>
                <string>{{194,186},{94,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>layer-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{109,84}</string>
                <key>spriteSourceSize</key>
                <string>{109,84}</string>
                <key>textureRect</key>
                <string>{{590,163},{109,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>layer-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{233,191}</string>
                <key>spriteSourceSize</key>
                <string>{233,191}</string>
                <key>textureRect</key>
                <string>{{1,1},{233,191}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>layer-12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,113}</string>
                <key>spriteSourceSize</key>
                <string>{250,113}</string>
                <key>textureRect</key>
                <string>{{820,118},{250,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>layer-13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{260,115}</string>
                <key>spriteSourceSize</key>
                <string>{260,115}</string>
                <key>textureRect</key>
                <string>{{795,1},{260,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>layer-14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{183,162}</string>
                <key>spriteSourceSize</key>
                <string>{183,162}</string>
                <key>textureRect</key>
                <string>{{194,1},{183,162}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>layer-15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{91,62}</string>
                <key>spriteSourceSize</key>
                <string>{91,62}</string>
                <key>textureRect</key>
                <string>{{290,186},{91,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>layer-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,87}</string>
                <key>spriteSourceSize</key>
                <string>{112,87}</string>
                <key>textureRect</key>
                <string>{{476,163},{112,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>layer-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{137,111}</string>
                <key>spriteSourceSize</key>
                <string>{137,111}</string>
                <key>textureRect</key>
                <string>{{682,1},{137,111}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>layer-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,134}</string>
                <key>spriteSourceSize</key>
                <string>{160,134}</string>
                <key>textureRect</key>
                <string>{{464,1},{160,134}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>layer-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{117,94}</string>
                <key>spriteSourceSize</key>
                <string>{117,94}</string>
                <key>textureRect</key>
                <string>{{701,140},{117,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>layer-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,104}</string>
                <key>spriteSourceSize</key>
                <string>{168,104}</string>
                <key>textureRect</key>
                <string>{{358,1},{168,104}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>layer-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,20}</string>
                <key>spriteSourceSize</key>
                <string>{27,20}</string>
                <key>textureRect</key>
                <string>{{383,223},{27,20}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>layer-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{91,50}</string>
                <key>spriteSourceSize</key>
                <string>{91,50}</string>
                <key>textureRect</key>
                <string>{{383,171},{91,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>layer-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,80}</string>
                <key>spriteSourceSize</key>
                <string>{154,80}</string>
                <key>textureRect</key>
                <string>{{600,1},{154,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>bi_pai.png</string>
            <key>size</key>
            <string>{1071,251}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:acdf3097396687cdc93ce4aa8994dbb3:6121029cea01494642110e028ddd0636:756925991cf454db26c532e7ddd6ecaa$</string>
            <key>textureFileName</key>
            <string>bi_pai.png</string>
        </dict>
    </dict>
</plist>
