<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>GameLayer/arm_left.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,523},{253,463}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{253,463}</string>
			</dict>
			<key>GameLayer/arm_right.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{277,517}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{277,517}</string>
			</dict>
			<key>GameLayer/auto_cmp.png</key>
			<dict>
				<key>frame</key>
				<string>{{497,497},{374,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{374,66}</string>
			</dict>
			<key>GameLayer/btn_all.png</key>
			<dict>
				<key>frame</key>
				<string>{{937,198},{128,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{128,76}</string>
			</dict>
			<key>GameLayer/btn_always.png</key>
			<dict>
				<key>frame</key>
				<string>{{774,595},{192,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{192,76}</string>
			</dict>
			<key>GameLayer/btn_bg_yellow.png</key>
			<dict>
				<key>frame</key>
				<string>{{937,330},{128,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{128,76}</string>
			</dict>
			<key>GameLayer/btn_cmp.png</key>
			<dict>
				<key>frame</key>
				<string>{{937,462},{128,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{128,76}</string>
			</dict>
			<key>GameLayer/btn_cmp_cancel.png</key>
			<dict>
				<key>frame</key>
				<string>{{937,2},{192,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{192,76}</string>
			</dict>
			<key>GameLayer/btn_drop.png</key>
			<dict>
				<key>frame</key>
				<string>{{446,162},{126,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{126,76}</string>
			</dict>
			<key>GameLayer/btn_follow.png</key>
			<dict>
				<key>frame</key>
				<string>{{446,2},{128,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,76}</string>
			</dict>
			<key>GameLayer/btn_help.png</key>
			<dict>
				<key>frame</key>
				<string>{{797,191},{69,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{69,71}</string>
			</dict>
			<key>GameLayer/btn_pk.png</key>
			<dict>
				<key>frame</key>
				<string>{{618,2},{108,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{108,110}</string>
			</dict>
			<key>GameLayer/btn_see.png</key>
			<dict>
				<key>frame</key>
				<string>{{446,82},{128,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,76}</string>
			</dict>
			<key>GameLayer/btn_setup.png</key>
			<dict>
				<key>frame</key>
				<string>{{797,264},{69,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{69,71}</string>
			</dict>
			<key>GameLayer/btn_unalways.png</key>
			<dict>
				<key>frame</key>
				<string>{{567,726},{203,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{203,91}</string>
			</dict>
			<key>GameLayer/chip.png</key>
			<dict>
				<key>frame</key>
				<string>{{872,985},{35,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{35,35}</string>
			</dict>
			<key>GameLayer/chip_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{496,875},{145,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{145,35}</string>
			</dict>
			<key>GameLayer/clock_green.png</key>
			<dict>
				<key>frame</key>
				<string>{{718,343},{91,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{91,91}</string>
			</dict>
			<key>GameLayer/clock_green_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{446,242},{96,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{96,96}</string>
			</dict>
			<key>GameLayer/clock_red.png</key>
			<dict>
				<key>frame</key>
				<string>{{658,114},{91,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{91,91}</string>
			</dict>
			<key>GameLayer/clock_red_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{546,246},{96,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{96,96}</string>
			</dict>
			<key>GameLayer/clock_yellow.png</key>
			<dict>
				<key>frame</key>
				<string>{{732,2},{91,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{91,91}</string>
			</dict>
			<key>GameLayer/clock_yellow_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{618,346},{96,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{96,96}</string>
			</dict>
			<key>GameLayer/desc_add.png</key>
			<dict>
				<key>frame</key>
				<string>{{283,497},{48,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{48,22}</string>
			</dict>
			<key>GameLayer/desc_allin.png</key>
			<dict>
				<key>frame</key>
				<string>{{439,497},{47,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{47,22}</string>
			</dict>
			<key>GameLayer/desc_cmp.png</key>
			<dict>
				<key>frame</key>
				<string>{{911,985},{47,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{47,22}</string>
			</dict>
			<key>GameLayer/desc_follow.png</key>
			<dict>
				<key>frame</key>
				<string>{{335,497},{48,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{48,22}</string>
			</dict>
			<key>GameLayer/desc_see.png</key>
			<dict>
				<key>frame</key>
				<string>{{387,497},{48,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{48,22}</string>
			</dict>
			<key>GameLayer/flag_drop.png</key>
			<dict>
				<key>frame</key>
				<string>{{812,97},{79,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{79,55}</string>
			</dict>
			<key>GameLayer/flag_out.png</key>
			<dict>
				<key>frame</key>
				<string>{{827,2},{79,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{79,55}</string>
			</dict>
			<key>GameLayer/flag_see.png</key>
			<dict>
				<key>frame</key>
				<string>{{734,979},{95,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{95,40}</string>
			</dict>
			<key>GameLayer/flag_start.png</key>
			<dict>
				<key>frame</key>
				<string>{{833,985},{35,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{35,36}</string>
			</dict>
			<key>GameLayer/flag_waitin.png</key>
			<dict>
				<key>frame</key>
				<string>{{160,990},{101,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{101,31}</string>
			</dict>
			<key>GameLayer/gold_bar.png</key>
			<dict>
				<key>frame</key>
				<string>{{610,979},{120,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,33}</string>
			</dict>
			<key>GameLayer/gold_flower.png</key>
			<dict>
				<key>frame</key>
				<string>{{879,829},{121,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{121,50}</string>
			</dict>
			<key>GameLayer/icon_pk.png</key>
			<dict>
				<key>frame</key>
				<string>{{567,821},{52,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,33}</string>
			</dict>
			<key>GameLayer/pairs.png</key>
			<dict>
				<key>frame</key>
				<string>{{959,594},{120,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{120,50}</string>
			</dict>
			<key>GameLayer/panther.png</key>
			<dict>
				<key>frame</key>
				<string>{{718,438},{120,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,50}</string>
			</dict>
			<key>GameLayer/play_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{833,901},{152,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{152,80}</string>
			</dict>
			<key>GameLayer/please_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{497,914},{296,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{296,61}</string>
			</dict>
			<key>GameLayer/please_dot.png</key>
			<dict>
				<key>frame</key>
				<string>{{623,821},{13,13}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{13,13}</string>
			</dict>
			<key>GameLayer/please_wait.png</key>
			<dict>
				<key>frame</key>
				<string>{{567,497},{225,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{225,34}</string>
			</dict>
			<key>GameLayer/please_wait_oth.png</key>
			<dict>
				<key>frame</key>
				<string>{{265,984},{341,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{341,34}</string>
			</dict>
			<key>GameLayer/scorebg_lose.png</key>
			<dict>
				<key>frame</key>
				<string>{{433,728},{185,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{185,59}</string>
			</dict>
			<key>GameLayer/scorebg_win.png</key>
			<dict>
				<key>frame</key>
				<string>{{433,523},{201,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{201,59}</string>
			</dict>
			<key>GameLayer/straight.png</key>
			<dict>
				<key>frame</key>
				<string>{{743,209},{120,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{120,50}</string>
			</dict>
			<key>GameLayer/straight_gold.png</key>
			<dict>
				<key>frame</key>
				<string>{{706,595},{121,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{121,50}</string>
			</dict>
			<key>GameLayer/type_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{797,901},{62,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{62,26}</string>
			</dict>
			<key>GameLayer/empty_player.png</key>
			<dict>
				<key>frame</key>
				<string>{{646,246},{93,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{93,93}</string>
			</dict>
			<key>GameLayer/btn_back_old.png</key>
			<dict>
				<key>frame</key>
				<string>{{605,595},{123,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{123,97}</string>
			</dict>
			<key>GameLayer/result/btn_continue.png</key>
			<dict>
				<key>frame</key>
				<string>{{645,821},{230,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{230,76}</string>
			</dict>
			<key>GameLayer/result/btn_leave.png</key>
			<dict>
				<key>frame</key>
				<string>{{879,595},{230,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{230,76}</string>
			</dict>
			<key>GameLayer/result/lose_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{259,523},{401,170}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{401,170}</string>
			</dict>
			<key>GameLayer/result/rect_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{259,928},{234,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{234,52}</string>
			</dict>
			<key>GameLayer/result/start_tip.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,990},{154,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{154,24}</string>
			</dict>
			<key>GameLayer/result/win_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{283,2},{381,159}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{381,159}</string>
			</dict>
			<key>GameLayer/result/you_lose.png</key>
			<dict>
				<key>frame</key>
				<string>{{283,387},{331,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{331,106}</string>
			</dict>
			<key>GameLayer/result/you_win.png</key>
			<dict>
				<key>frame</key>
				<string>{{610,497},{323,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{323,94}</string>
			</dict>
			<key>GameLayer/game_chat_lbg.png</key>
			<dict>
				<key>frame</key>
				<string>{{959,718},{90,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{90,55}</string>
			</dict>
			<key>GameLayer/game_chat_rbg.png</key>
			<dict>
				<key>frame</key>
				<string>{{753,97},{90,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{90,55}</string>
			</dict>
			<key>GameLayer/btn_begin_normal.png</key>
			<dict>
				<key>frame</key>
				<string>{{578,114},{128,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{128,76}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>GameViewLayerPlist.png</string>
			<key>realTextureFileName</key>
			<string>GameViewLayerPlist.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>