<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{210,285}</string>
                <key>spriteSourceSize</key>
                <string>{210,285}</string>
                <key>textureRect</key>
                <string>{{1,1},{210,285}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{52,89}</string>
                <key>spriteSourceSize</key>
                <string>{62,89}</string>
                <key>textureRect</key>
                <string>{{365,553},{52,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,89}</string>
                <key>spriteSourceSize</key>
                <string>{62,89}</string>
                <key>textureRect</key>
                <string>{{1,958},{54,89}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>10-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,89}</string>
                <key>spriteSourceSize</key>
                <string>{62,89}</string>
                <key>textureRect</key>
                <string>{{415,1},{62,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,89}</string>
                <key>spriteSourceSize</key>
                <string>{62,89}</string>
                <key>textureRect</key>
                <string>{{415,92},{62,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>11-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,89}</string>
                <key>spriteSourceSize</key>
                <string>{62,89}</string>
                <key>textureRect</key>
                <string>{{363,644},{56,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>11-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{58,89}</string>
                <key>spriteSourceSize</key>
                <string>{62,89}</string>
                <key>textureRect</key>
                <string>{{193,826},{58,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>12-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,89}</string>
                <key>spriteSourceSize</key>
                <string>{62,89}</string>
                <key>textureRect</key>
                <string>{{397,735},{56,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>12-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{56,89}</string>
                <key>spriteSourceSize</key>
                <string>{62,89}</string>
                <key>textureRect</key>
                <string>{{193,917},{56,89}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>13-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,89}</string>
                <key>spriteSourceSize</key>
                <string>{62,89}</string>
                <key>textureRect</key>
                <string>{{92,958},{54,89}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>13-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{54,89}</string>
                <key>spriteSourceSize</key>
                <string>{62,89}</string>
                <key>textureRect</key>
                <string>{{253,826},{54,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,89}</string>
                <key>spriteSourceSize</key>
                <string>{62,89}</string>
                <key>textureRect</key>
                <string>{{309,817},{58,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{58,89}</string>
                <key>spriteSourceSize</key>
                <string>{62,89}</string>
                <key>textureRect</key>
                <string>{{369,826},{58,89}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>3-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{60,89}</string>
                <key>spriteSourceSize</key>
                <string>{62,89}</string>
                <key>textureRect</key>
                <string>{{301,644},{60,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,89}</string>
                <key>spriteSourceSize</key>
                <string>{62,89}</string>
                <key>textureRect</key>
                <string>{{193,735},{60,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,89}</string>
                <key>spriteSourceSize</key>
                <string>{62,89}</string>
                <key>textureRect</key>
                <string>{{402,290},{62,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,89}</string>
                <key>spriteSourceSize</key>
                <string>{62,89}</string>
                <key>textureRect</key>
                <string>{{173,553},{62,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,89}</string>
                <key>spriteSourceSize</key>
                <string>{62,89}</string>
                <key>textureRect</key>
                <string>{{173,644},{62,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,89}</string>
                <key>spriteSourceSize</key>
                <string>{62,89}</string>
                <key>textureRect</key>
                <string>{{237,553},{62,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,89}</string>
                <key>spriteSourceSize</key>
                <string>{62,89}</string>
                <key>textureRect</key>
                <string>{{369,886},{54,89}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>6-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{54,87}</string>
                <key>spriteSourceSize</key>
                <string>{62,89}</string>
                <key>textureRect</key>
                <string>{{421,640},{54,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{56,89}</string>
                <key>spriteSourceSize</key>
                <string>{62,89}</string>
                <key>textureRect</key>
                <string>{{369,942},{56,89}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>7-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{56,89}</string>
                <key>spriteSourceSize</key>
                <string>{62,89}</string>
                <key>textureRect</key>
                <string>{{396,391},{56,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,89}</string>
                <key>spriteSourceSize</key>
                <string>{62,89}</string>
                <key>textureRect</key>
                <string>{{237,644},{62,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,89}</string>
                <key>spriteSourceSize</key>
                <string>{62,89}</string>
                <key>textureRect</key>
                <string>{{301,553},{62,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>9-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{58,89}</string>
                <key>spriteSourceSize</key>
                <string>{62,89}</string>
                <key>textureRect</key>
                <string>{{309,908},{58,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>9-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{58,89}</string>
                <key>spriteSourceSize</key>
                <string>{62,89}</string>
                <key>textureRect</key>
                <string>{{419,549},{58,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huase_big01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{170,222}</string>
                <key>spriteSourceSize</key>
                <string>{204,240}</string>
                <key>textureRect</key>
                <string>{{1,530},{170,222}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huase_big02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{204,240}</string>
                <key>spriteSourceSize</key>
                <string>{204,240}</string>
                <key>textureRect</key>
                <string>{{1,288},{204,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huase_big03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{202,190}</string>
                <key>spriteSourceSize</key>
                <string>{204,240}</string>
                <key>textureRect</key>
                <string>{{1,754},{202,190}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>huase_big04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{200,226}</string>
                <key>spriteSourceSize</key>
                <string>{204,240}</string>
                <key>textureRect</key>
                <string>{{213,1},{200,226}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huase_small01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{59,76}</string>
                <key>spriteSourceSize</key>
                <string>{69,80}</string>
                <key>textureRect</key>
                <string>{{402,229},{59,76}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>huase_small02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,80}</string>
                <key>spriteSourceSize</key>
                <string>{69,80}</string>
                <key>textureRect</key>
                <string>{{255,735},{69,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huase_small03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{65,62}</string>
                <key>spriteSourceSize</key>
                <string>{69,80}</string>
                <key>textureRect</key>
                <string>{{396,482},{65,62}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>huase_small04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,80}</string>
                <key>spriteSourceSize</key>
                <string>{69,80}</string>
                <key>textureRect</key>
                <string>{{326,735},{69,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>king-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,30}</string>
                <key>spriteSize</key>
                <string>{160,187}</string>
                <key>spriteSourceSize</key>
                <string>{210,285}</string>
                <key>textureRect</key>
                <string>{{213,229},{160,187}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>king-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,30}</string>
                <key>spriteSize</key>
                <string>{160,187}</string>
                <key>spriteSourceSize</key>
                <string>{210,285}</string>
                <key>textureRect</key>
                <string>{{207,391},{160,187}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>puke_new.png</string>
            <key>size</key>
            <string>{479,1013}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:17f58f4edf4a0021c8518e8c98c85e36:70247d60793cfc15cb32cfeab4a30336:292baf8123764c1ae74b02c1adca2197$</string>
            <key>textureFileName</key>
            <string>puke_new.png</string>
        </dict>
    </dict>
</plist>
