<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>btn_continue_theme_purple.png</key>
			<dict>
				<key>frame</key>
				<string>{{375,360},{236,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{375,360},{236,66}}</string>
				<key>sourceSize</key>
				<string>{236,66}</string>
			</dict>
			<key>Theme_Purple.png</key>
			<dict>
				<key>frame</key>
				<string>{{185,666},{146,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{185,666},{146,59}}</string>
				<key>sourceSize</key>
				<string>{146,59}</string>
			</dict>
			<key>youwin.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{439,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{439,82}}</string>
				<key>sourceSize</key>
				<string>{439,82}</string>
			</dict>
			<key>GRAND.png</key>
			<dict>
				<key>frame</key>
				<string>{{873,203},{150,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{873,203},{150,63}}</string>
				<key>sourceSize</key>
				<string>{150,63}</string>
			</dict>
			<key>Theme_Blue.png</key>
			<dict>
				<key>frame</key>
				<string>{{369,654},{146,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{369,654},{146,59}}</string>
				<key>sourceSize</key>
				<string>{146,59}</string>
			</dict>
			<key>GRAND_zh.png</key>
			<dict>
				<key>frame</key>
				<string>{{866,268},{150,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{866,268},{150,63}}</string>
				<key>sourceSize</key>
				<string>{150,63}</string>
			</dict>
			<key>btn_continue_theme_red1.png</key>
			<dict>
				<key>frame</key>
				<string>{{624,224},{240,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{624,224},{240,66}}</string>
				<key>sourceSize</key>
				<string>{240,66}</string>
			</dict>
			<key>minor_win.png</key>
			<dict>
				<key>frame</key>
				<string>{{442,1},{439,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{442,1},{439,50}}</string>
				<key>sourceSize</key>
				<string>{439,50}</string>
			</dict>
			<key>MINI.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,482},{150,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,482},{150,63}}</string>
				<key>sourceSize</key>
				<string>{150,63}</string>
			</dict>
			<key>Win_GRAND.png</key>
			<dict>
				<key>frame</key>
				<string>{{576,494},{182,182}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{576,494},{182,182}}</string>
				<key>sourceSize</key>
				<string>{182,182}</string>
			</dict>
			<key>btn_continue_theme_blue.png</key>
			<dict>
				<key>frame</key>
				<string>{{382,224},{240,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{382,224},{240,66}}</string>
				<key>sourceSize</key>
				<string>{240,66}</string>
			</dict>
			<key>grand_win_zh.png</key>
			<dict>
				<key>frame</key>
				<string>{{618,292},{236,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{618,292},{236,65}}</string>
				<key>sourceSize</key>
				<string>{236,65}</string>
			</dict>
			<key>mini_win_zh.png</key>
			<dict>
				<key>frame</key>
				<string>{{382,157},{269,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{382,157},{269,65}}</string>
				<key>sourceSize</key>
				<string>{269,65}</string>
			</dict>
			<key>Icon_Grand.png</key>
			<dict>
				<key>frame</key>
				<string>{{286,137},{94,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{286,137},{94,95}}</string>
				<key>sourceSize</key>
				<string>{94,95}</string>
			</dict>
			<key>youwin_zh.png</key>
			<dict>
				<key>frame</key>
				<string>{{375,428},{197,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{375,428},{197,98}}</string>
				<key>sourceSize</key>
				<string>{197,98}</string>
			</dict>
			<key>btn_continue_theme_red2.png</key>
			<dict>
				<key>frame</key>
				<string>{{376,292},{240,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{376,292},{240,66}}</string>
				<key>sourceSize</key>
				<string>{240,66}</string>
			</dict>
			<key>Theme_Red1.png</key>
			<dict>
				<key>frame</key>
				<string>{{369,593},{146,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{369,593},{146,59}}</string>
				<key>sourceSize</key>
				<string>{146,59}</string>
			</dict>
			<key>mini_win.png</key>
			<dict>
				<key>frame</key>
				<string>{{431,105},{380,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{431,105},{380,50}}</string>
				<key>sourceSize</key>
				<string>{380,50}</string>
			</dict>
			<key>MINI_zh.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,547},{150,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,547},{150,63}}</string>
				<key>sourceSize</key>
				<string>{150,63}</string>
			</dict>
			<key>Win_MINOR.png</key>
			<dict>
				<key>frame</key>
				<string>{{185,482},{182,182}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{185,482},{182,182}}</string>
				<key>sourceSize</key>
				<string>{182,182}</string>
			</dict>
			<key>MAJOR.png</key>
			<dict>
				<key>frame</key>
				<string>{{857,333},{150,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{857,333},{150,63}}</string>
				<key>sourceSize</key>
				<string>{150,63}</string>
			</dict>
			<key>Win_MAJOR.png</key>
			<dict>
				<key>frame</key>
				<string>{{760,647},{182,182}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{760,647},{182,182}}</string>
				<key>sourceSize</key>
				<string>{182,182}</string>
			</dict>
			<key>light-Spin_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{6,143},{269,335}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{6,143},{269,335}}</string>
				<key>sourceSize</key>
				<string>{269,335}</string>
			</dict>
			<key>Theme_red_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,677},{146,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,677},{146,59}}</string>
				<key>sourceSize</key>
				<string>{146,59}</string>
			</dict>
			<key>major_win_zh.png</key>
			<dict>
				<key>frame</key>
				<string>{{613,427},{215,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{613,427},{215,65}}</string>
				<key>sourceSize</key>
				<string>{215,65}</string>
			</dict>
			<key>MAJOR_zh.png</key>
			<dict>
				<key>frame</key>
				<string>{{856,398},{150,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{856,398},{150,63}}</string>
				<key>sourceSize</key>
				<string>{150,63}</string>
			</dict>
			<key>Theme_Black.png</key>
			<dict>
				<key>frame</key>
				<string>{{369,593},{146,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{369,593},{146,59}}</string>
				<key>sourceSize</key>
				<string>{146,59}</string>
			</dict>
			<key>WIN_NONE.png</key>
			<dict>
				<key>frame</key>
				<string>{{830,463},{182,182}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{830,463},{182,182}}</string>
				<key>sourceSize</key>
				<string>{182,182}</string>
			</dict>
			<key>minor_win_zh.png</key>
			<dict>
				<key>frame</key>
				<string>{{655,157},{216,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{655,157},{216,65}}</string>
				<key>sourceSize</key>
				<string>{216,65}</string>
			</dict>
			<key>Icon_Mini.png</key>
			<dict>
				<key>frame</key>
				<string>{{286,234},{88,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{286,234},{88,104}}</string>
				<key>sourceSize</key>
				<string>{88,104}</string>
			</dict>
			<key>grand_win.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,85},{423,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,85},{423,50}}</string>
				<key>sourceSize</key>
				<string>{423,50}</string>
			</dict>
			<key>Icon_GW.png</key>
			<dict>
				<key>frame</key>
				<string>{{286,340},{87,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{286,340},{87,94}}</string>
				<key>sourceSize</key>
				<string>{87,94}</string>
			</dict>
			<key>MINOR_zh.png</key>
			<dict>
				<key>frame</key>
				<string>{{369,528},{150,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{369,528},{150,63}}</string>
				<key>sourceSize</key>
				<string>{150,63}</string>
			</dict>
			<key>btn_continue_theme_black.png</key>
			<dict>
				<key>frame</key>
				<string>{{618,359},{236,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{618,359},{236,66}}</string>
				<key>sourceSize</key>
				<string>{236,66}</string>
			</dict>
			<key>Win_MINI.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,831},{182,182}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,831},{182,182}}</string>
				<key>sourceSize</key>
				<string>{182,182}</string>
			</dict>
			<key>Icon_Minor.png</key>
			<dict>
				<key>frame</key>
				<string>{{883,1},{98,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{883,1},{98,100}}</string>
				<key>sourceSize</key>
				<string>{98,100}</string>
			</dict>
			<key>Icon_Major.png</key>
			<dict>
				<key>frame</key>
				<string>{{878,103},{95,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{878,103},{95,98}}</string>
				<key>sourceSize</key>
				<string>{95,98}</string>
			</dict>
			<key>MINOR.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,612},{150,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,612},{150,63}}</string>
				<key>sourceSize</key>
				<string>{150,63}</string>
			</dict>
			<key>major_win.png</key>
			<dict>
				<key>frame</key>
				<string>{{442,53},{429,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{442,53},{429,50}}</string>
				<key>sourceSize</key>
				<string>{429,50}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>GamingWorldJackpot_UI.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>GamingWorldJackpot_UI.png</string>
		</dict>
	</dict>
</plist>
