<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>KBGame_ButtonSplitOff.png</key>
			<dict>
				<key>frame</key>
				<string>{{47,87},{51,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{47,87},{51,42}}</string>
				<key>sourceSize</key>
				<string>{51,42}</string>
			</dict>
			<key>KBGame_ButtonGray.png</key>
			<dict>
				<key>frame</key>
				<string>{{199,74},{22,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{199,74},{22,76}}</string>
				<key>sourceSize</key>
				<string>{22,76}</string>
			</dict>
			<key>KBGame_ButtonStatistics.png</key>
			<dict>
				<key>frame</key>
				<string>{{53,153},{34,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{53,153},{34,42}}</string>
				<key>sourceSize</key>
				<string>{34,42}</string>
			</dict>
			<key>KBGame_BGButtonTopMenu.png</key>
			<dict>
				<key>frame</key>
				<string>{{60,198},{58,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{60,198},{58,58}}</string>
				<key>sourceSize</key>
				<string>{58,58}</string>
			</dict>
			<key>KBGame_ButtonSoundOn.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,86},{44,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,86},{44,43}}</string>
				<key>sourceSize</key>
				<string>{44,43}</string>
			</dict>
			<key>KBGame_ButtonSplitOn.png</key>
			<dict>
				<key>frame</key>
				<string>{{90,154},{51,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{90,154},{51,41}}</string>
				<key>sourceSize</key>
				<string>{51,41}</string>
			</dict>
			<key>KBGame_BGJackpot.png</key>
			<dict>
				<key>frame</key>
				<string>{{223,107},{18,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{223,107},{18,71}}</string>
				<key>sourceSize</key>
				<string>{18,71}</string>
			</dict>
			<key>KBGame_ButtonBlack.png</key>
			<dict>
				<key>frame</key>
				<string>{{175,74},{22,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{175,74},{22,76}}</string>
				<key>sourceSize</key>
				<string>{22,76}</string>
			</dict>
			<key>KBGame_ButtonVLT.png</key>
			<dict>
				<key>frame</key>
				<string>{{48,41},{54,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{48,41},{54,43}}</string>
				<key>sourceSize</key>
				<string>{54,43}</string>
			</dict>
			<key>KBGame_BGRandomJackpot.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,132},{51,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,132},{51,64}}</string>
				<key>sourceSize</key>
				<string>{51,64}</string>
			</dict>
			<key>KBGame_ButtonInfo.png</key>
			<dict>
				<key>frame</key>
				<string>{{120,212},{44,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{120,212},{44,43}}</string>
				<key>sourceSize</key>
				<string>{44,43}</string>
			</dict>
			<key>KBGame_BGProgressiveJackpot.png</key>
			<dict>
				<key>frame</key>
				<string>{{147,17},{17,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{147,17},{17,73}}</string>
				<key>sourceSize</key>
				<string>{17,73}</string>
			</dict>
			<key>KBGame_BGToggle.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,13},{23,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,13},{23,25}}</string>
				<key>sourceSize</key>
				<string>{23,25}</string>
			</dict>
			<key>KBGame_BGInputField.png</key>
			<dict>
				<key>frame</key>
				<string>{{167,235},{21,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{167,235},{21,21}}</string>
				<key>sourceSize</key>
				<string>{21,21}</string>
			</dict>
			<key>KBGame_ButtonSoundOff.png</key>
			<dict>
				<key>frame</key>
				<string>{{144,166},{47,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{144,166},{47,43}}</string>
				<key>sourceSize</key>
				<string>{47,43}</string>
			</dict>
			<key>KBGame_ButtonOrange.png</key>
			<dict>
				<key>frame</key>
				<string>{{217,180},{21,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{217,180},{21,76}}</string>
				<key>sourceSize</key>
				<string>{21,76}</string>
			</dict>
			<key>KBGame_Arrow.png</key>
			<dict>
				<key>frame</key>
				<string>{{166,44},{20,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{166,44},{20,28}}</string>
				<key>sourceSize</key>
				<string>{20,28}</string>
			</dict>
			<key>KBGame_ButtonHome.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,40},{45,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,40},{45,43}}</string>
				<key>sourceSize</key>
				<string>{45,43}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>SpriteAtlasTexture-MenuControllerKBSlot (Group 0)-256x256-fmt4.png</string>
			<key>size</key>
			<string>{256,256}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>SpriteAtlasTexture-MenuControllerKBSlot (Group 0)-256x256-fmt4.png</string>
		</dict>
	</dict>
</plist>
