<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>caidai.png</key>
            <dict>
                <key>frame</key>
                <string>{{1850,586},{800,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{800,168}}</string>
                <key>sourceSize</key>
                <string>{800,168}</string>
            </dict>
            <key>close_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1040,1959},{77,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,77}}</string>
                <key>sourceSize</key>
                <string>{77,77}</string>
            </dict>
            <key>close_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1040,1880},{77,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,77}}</string>
                <key>sourceSize</key>
                <string>{77,77}</string>
            </dict>
            <key>cn_btn_dl1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1760,628},{260,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,83}}</string>
                <key>sourceSize</key>
                <string>{260,83}</string>
            </dict>
            <key>cn_btn_dl2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1675,1388},{260,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,83}}</string>
                <key>sourceSize</key>
                <string>{260,83}</string>
            </dict>
            <key>cn_btn_login1.png</key>
            <dict>
                <key>frame</key>
                <string>{{937,1388},{344,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{344,116}}</string>
                <key>sourceSize</key>
                <string>{344,116}</string>
            </dict>
            <key>cn_btn_login2.png</key>
            <dict>
                <key>frame</key>
                <string>{{819,1388},{344,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{344,116}}</string>
                <key>sourceSize</key>
                <string>{344,116}</string>
            </dict>
            <key>cn_btn_reg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{701,1388},{344,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{344,116}}</string>
                <key>sourceSize</key>
                <string>{344,116}</string>
            </dict>
            <key>cn_btn_reg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{583,1388},{344,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{344,116}}</string>
                <key>sourceSize</key>
                <string>{344,116}</string>
            </dict>
            <key>cn_btn_wxlogin1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1617,1650},{260,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,83}}</string>
                <key>sourceSize</key>
                <string>{260,83}</string>
            </dict>
            <key>cn_btn_wxlogin2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1590,1388},{260,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,83}}</string>
                <key>sourceSize</key>
                <string>{260,83}</string>
            </dict>
            <key>cn_btn_yk1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1532,1650},{260,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,83}}</string>
                <key>sourceSize</key>
                <string>{260,83}</string>
            </dict>
            <key>cn_btn_yk2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1505,1388},{260,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,83}}</string>
                <key>sourceSize</key>
                <string>{260,83}</string>
            </dict>
            <key>cn_btn_zc1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1447,1650},{260,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,83}}</string>
                <key>sourceSize</key>
                <string>{260,83}</string>
            </dict>
            <key>cn_btn_zc2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1420,1388},{260,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,83}}</string>
                <key>sourceSize</key>
                <string>{260,83}</string>
            </dict>
            <key>cn_text_denglu.png</key>
            <dict>
                <key>frame</key>
                <string>{{1285,1720},{288,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{288,75}}</string>
                <key>sourceSize</key>
                <string>{288,75}</string>
            </dict>
            <key>cn_text_mima.png</key>
            <dict>
                <key>frame</key>
                <string>{{836,1734},{112,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,60}}</string>
                <key>sourceSize</key>
                <string>{112,60}</string>
            </dict>
            <key>cn_text_zcmima.png</key>
            <dict>
                <key>frame</key>
                <string>{{1850,317},{179,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,49}}</string>
                <key>sourceSize</key>
                <string>{179,49}</string>
            </dict>
            <key>cn_text_zhanghao.png</key>
            <dict>
                <key>frame</key>
                <string>{{950,1734},{113,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,59}}</string>
                <key>sourceSize</key>
                <string>{113,59}</string>
            </dict>
            <key>cn_text_zhuce.png</key>
            <dict>
                <key>frame</key>
                <string>{{1343,1388},{287,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{287,75}}</string>
                <key>sourceSize</key>
                <string>{287,75}</string>
            </dict>
            <key>en_btn_dl1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1362,1939},{260,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,83}}</string>
                <key>sourceSize</key>
                <string>{260,83}</string>
            </dict>
            <key>en_btn_dl2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1362,1677},{260,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,83}}</string>
                <key>sourceSize</key>
                <string>{260,83}</string>
            </dict>
            <key>en_btn_login1.png</key>
            <dict>
                <key>frame</key>
                <string>{{583,420},{344,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{344,116}}</string>
                <key>sourceSize</key>
                <string>{344,116}</string>
            </dict>
            <key>en_btn_login2.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,1885},{344,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{344,116}}</string>
                <key>sourceSize</key>
                <string>{344,116}</string>
            </dict>
            <key>en_btn_reg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,1906},{344,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{344,116}}</string>
                <key>sourceSize</key>
                <string>{344,116}</string>
            </dict>
            <key>en_btn_reg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1906},{344,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{344,116}}</string>
                <key>sourceSize</key>
                <string>{344,116}</string>
            </dict>
            <key>en_btn_wxlogin1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1023,1795},{260,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,83}}</string>
                <key>sourceSize</key>
                <string>{260,83}</string>
            </dict>
            <key>en_btn_wxlogin2.png</key>
            <dict>
                <key>frame</key>
                <string>{{761,1800},{260,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,83}}</string>
                <key>sourceSize</key>
                <string>{260,83}</string>
            </dict>
            <key>en_btn_yk1.png</key>
            <dict>
                <key>frame</key>
                <string>{{761,590},{260,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,83}}</string>
                <key>sourceSize</key>
                <string>{260,83}</string>
            </dict>
            <key>en_btn_yk2.png</key>
            <dict>
                <key>frame</key>
                <string>{{761,505},{260,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,83}}</string>
                <key>sourceSize</key>
                <string>{260,83}</string>
            </dict>
            <key>en_btn_zc1.png</key>
            <dict>
                <key>frame</key>
                <string>{{761,420},{260,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,83}}</string>
                <key>sourceSize</key>
                <string>{260,83}</string>
            </dict>
            <key>en_btn_zc2.png</key>
            <dict>
                <key>frame</key>
                <string>{{499,1800},{260,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,83}}</string>
                <key>sourceSize</key>
                <string>{260,83}</string>
            </dict>
            <key>en_text_denglu.png</key>
            <dict>
                <key>frame</key>
                <string>{{1850,182},{191,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{191,82}}</string>
                <key>sourceSize</key>
                <string>{191,82}</string>
            </dict>
            <key>en_text_mima.png</key>
            <dict>
                <key>frame</key>
                <string>{{701,420},{219,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{219,49}}</string>
                <key>sourceSize</key>
                <string>{219,49}</string>
            </dict>
            <key>en_text_zcmima.png</key>
            <dict>
                <key>frame</key>
                <string>{{1850,503},{170,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,81}}</string>
                <key>sourceSize</key>
                <string>{170,81}</string>
            </dict>
            <key>en_text_zhanghao.png</key>
            <dict>
                <key>frame</key>
                <string>{{1850,266},{180,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,49}}</string>
                <key>sourceSize</key>
                <string>{180,49}</string>
            </dict>
            <key>en_text_zhuce.png</key>
            <dict>
                <key>frame</key>
                <string>{{499,1388},{410,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{410,82}}</string>
                <key>sourceSize</key>
                <string>{410,82}</string>
            </dict>
            <key>girl_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1388},{417,516}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{417,516}}</string>
                <key>sourceSize</key>
                <string>{417,516}</string>
            </dict>
            <key>girl_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1284,182},{444,564}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{444,564}}</string>
                <key>sourceSize</key>
                <string>{444,564}</string>
            </dict>
            <key>gold.png</key>
            <dict>
                <key>frame</key>
                <string>{{1055,1388},{330,286}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{330,286}}</string>
                <key>sourceSize</key>
                <string>{330,286}</string>
            </dict>
            <key>gold2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1850,368},{178,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,133}}</string>
                <key>sourceSize</key>
                <string>{178,133}</string>
            </dict>
            <key>inputbox.png</key>
            <dict>
                <key>frame</key>
                <string>{{421,1388},{511,76}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{511,76}}</string>
                <key>sourceSize</key>
                <string>{511,78}</string>
            </dict>
            <key>logo_hg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1040,420},{239,163}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{239,163}}</string>
                <key>sourceSize</key>
                <string>{239,163}</string>
            </dict>
            <key>logo_text.png</key>
            <dict>
                <key>frame</key>
                <string>{{1284,2},{742,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{742,178}}</string>
                <key>sourceSize</key>
                <string>{742,178}</string>
            </dict>
            <key>loufang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1280,416}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1280,416}}</string>
                <key>sourceSize</key>
                <string>{1280,416}</string>
            </dict>
            <key>zhuzi_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{583,1734},{64,251}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,251}}</string>
                <key>sourceSize</key>
                <string>{64,251}</string>
            </dict>
            <key>zhuzi_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{1023,585},{64,251}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,251}}</string>
                <key>sourceSize</key>
                <string>{64,251}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>login.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4c957a23f4620235f5d1a5a36675c99c$</string>
            <key>textureFileName</key>
            <string>login.png</string>
        </dict>
    </dict>
</plist>
