<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dt_btn_wxdl.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,430},{335,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{335,105}}</string>
                <key>sourceSize</key>
                <string>{335,105}</string>
            </dict>
            <key>dt_btn_ykdl.png</key>
            <dict>
                <key>frame</key>
                <string>{{914,2},{335,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{335,104}}</string>
                <key>sourceSize</key>
                <string>{335,104}</string>
            </dict>
            <key>dt_btn_zhdl.png</key>
            <dict>
                <key>frame</key>
                <string>{{577,323},{335,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{335,105}}</string>
                <key>sourceSize</key>
                <string>{335,105}</string>
            </dict>
            <key>dt_loading_6anniversary_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,114},{265,207}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,22},{265,207}}</string>
                <key>sourceSize</key>
                <string>{321,251}</string>
            </dict>
            <key>dt_loading_6anniversary_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{277,500},{160,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,43}}</string>
                <key>sourceSize</key>
                <string>{160,43}</string>
            </dict>
            <key>dt_loading_eff_glow.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,2},{64,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,15}}</string>
                <key>sourceSize</key>
                <string>{64,15}</string>
            </dict>
            <key>loading_ani_rotate.png</key>
            <dict>
                <key>frame</key>
                <string>{{914,339},{101,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,100}}</string>
                <key>sourceSize</key>
                <string>{101,100}</string>
            </dict>
            <key>loading_bg_black.png</key>
            <dict>
                <key>frame</key>
                <string>{{903,441},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>loading_btn_wechat.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,500},{273,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{273,77}}</string>
                <key>sourceSize</key>
                <string>{273,77}</string>
            </dict>
            <key>loading_slide.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,97},{835,15}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{835,15}}</string>
                <key>sourceSize</key>
                <string>{841,19}</string>
            </dict>
            <key>loading_slide_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,47},{841,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{841,19}}</string>
                <key>sourceSize</key>
                <string>{841,19}</string>
            </dict>
            <key>publish_logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,376},{562,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{562,122}}</string>
                <key>sourceSize</key>
                <string>{562,122}</string>
            </dict>
            <key>publish_logo_black.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,252},{573,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{573,122}}</string>
                <key>sourceSize</key>
                <string>{573,122}</string>
            </dict>
            <key>publish_slogan.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,114},{594,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{594,136}}</string>
                <key>sourceSize</key>
                <string>{594,136}</string>
            </dict>
            <key>ylc_bar_loading.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,68},{828,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{828,27}}</string>
                <key>sourceSize</key>
                <string>{844,43}</string>
            </dict>
            <key>ylc_bar_loading_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{844,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{844,43}}</string>
                <key>sourceSize</key>
                <string>{844,43}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>p_logo.png</string>
            <key>size</key>
            <string>{1020,588}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:65c1373dce45babe2b8fa5f06bca85c8:1/1$</string>
            <key>textureFileName</key>
            <string>p_logo.png</string>
        </dict>
    </dict>
</plist>
