<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>s_bigWin_bkgAnim0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,1874},{600,167}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,15},{600,167}}</string>
                <key>sourceSize</key>
                <string>{600,201}</string>
            </dict>
            <key>s_bigWin_bkgAnim0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,1532},{600,171}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,13},{600,171}}</string>
                <key>sourceSize</key>
                <string>{600,201}</string>
            </dict>
            <key>s_bigWin_bkgAnim0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{799,604},{600,185}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{600,185}}</string>
                <key>sourceSize</key>
                <string>{600,201}</string>
            </dict>
            <key>s_bigWin_bkgAnim0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1172},{600,185}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{600,185}}</string>
                <key>sourceSize</key>
                <string>{600,201}</string>
            </dict>
            <key>s_bigWin_bkgAnim0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,985},{600,185}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{600,185}}</string>
                <key>sourceSize</key>
                <string>{600,201}</string>
            </dict>
            <key>s_bigWin_bkgAnim0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,1359},{600,177}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{600,177}}</string>
                <key>sourceSize</key>
                <string>{600,201}</string>
            </dict>
            <key>s_bigWin_bkgAnim0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,1705},{600,167}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,17},{600,167}}</string>
                <key>sourceSize</key>
                <string>{600,201}</string>
            </dict>
            <key>s_bigWin_bkgAnim0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,1359},{600,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,15},{600,171}}</string>
                <key>sourceSize</key>
                <string>{600,201}</string>
            </dict>
            <key>s_bigWin_bkgAnim0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1359},{600,177}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,16},{600,177}}</string>
                <key>sourceSize</key>
                <string>{600,201}</string>
            </dict>
            <key>s_bigWin_bkgAnim0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,798},{600,185}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,13},{600,185}}</string>
                <key>sourceSize</key>
                <string>{600,201}</string>
            </dict>
            <key>s_bigWin_bkgAnim0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,604},{600,193}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,7},{600,193}}</string>
                <key>sourceSize</key>
                <string>{600,201}</string>
            </dict>
            <key>s_bigWin_bkgAnim0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,402},{600,197}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{600,197}}</string>
                <key>sourceSize</key>
                <string>{600,201}</string>
            </dict>
            <key>s_bigWin_bkgAnim0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{600,199}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{600,199}}</string>
                <key>sourceSize</key>
                <string>{600,201}</string>
            </dict>
            <key>s_bigWin_bkgAnim0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,203},{600,197}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{600,197}}</string>
                <key>sourceSize</key>
                <string>{600,201}</string>
            </dict>
            <key>s_bigWin_bkgAnim0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,2},{600,197}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{600,197}}</string>
                <key>sourceSize</key>
                <string>{600,201}</string>
            </dict>
            <key>s_bigWin_bkgAnim0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{803,2},{600,195}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{600,195}}</string>
                <key>sourceSize</key>
                <string>{600,201}</string>
            </dict>
            <key>s_bigWin_bkgAnim0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,601},{600,195}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{600,195}}</string>
                <key>sourceSize</key>
                <string>{600,201}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>s_bigWin_bkgAnim.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7d6b9fb41ab8c5583b044f4a0134f7bb$</string>
            <key>textureFileName</key>
            <string>s_bigWin_bkgAnim.png</string>
        </dict>
    </dict>
</plist>
