<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>s_bonus_diamond_idle_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{313,1366},{245,198}}</string>
                <key>offset</key>
                <string>{-12,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{174,189},{245,198}}</string>
                <key>sourceSize</key>
                <string>{617,508}</string>
            </dict>
            <key>s_bonus_diamond_idle_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{750,1353},{247,218}}</string>
                <key>offset</key>
                <string>{-12,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{173,174},{247,218}}</string>
                <key>sourceSize</key>
                <string>{617,508}</string>
            </dict>
            <key>s_bonus_diamond_idle_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{750,750},{267,254}}</string>
                <key>offset</key>
                <string>{-13,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{162,149},{267,254}}</string>
                <key>sourceSize</key>
                <string>{617,508}</string>
            </dict>
            <key>s_bonus_diamond_idle_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1320},{309,292}}</string>
                <key>offset</key>
                <string>{-13,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{141,128},{309,292}}</string>
                <key>sourceSize</key>
                <string>{617,508}</string>
            </dict>
            <key>s_bonus_diamond_idle_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{391,750},{357,318}}</string>
                <key>offset</key>
                <string>{-14,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,117},{357,318}}</string>
                <key>sourceSize</key>
                <string>{617,508}</string>
            </dict>
            <key>s_bonus_diamond_idle_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,392},{403,344}}</string>
                <key>offset</key>
                <string>{-15,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,105},{403,344}}</string>
                <key>sourceSize</key>
                <string>{617,508}</string>
            </dict>
            <key>s_bonus_diamond_idle_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{453,2},{439,376}}</string>
                <key>offset</key>
                <string>{-17,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,82},{439,376}}</string>
                <key>sourceSize</key>
                <string>{617,508}</string>
            </dict>
            <key>s_bonus_diamond_idle_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{449,388}}</string>
                <key>offset</key>
                <string>{-18,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,72},{449,388}}</string>
                <key>sourceSize</key>
                <string>{617,508}</string>
            </dict>
            <key>s_bonus_diamond_idle_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{453,380},{425,368}}</string>
                <key>offset</key>
                <string>{-17,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,85},{425,368}}</string>
                <key>sourceSize</key>
                <string>{617,508}</string>
            </dict>
            <key>s_bonus_diamond_idle_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,738},{387,332}}</string>
                <key>offset</key>
                <string>{-15,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,109},{387,332}}</string>
                <key>sourceSize</key>
                <string>{617,508}</string>
            </dict>
            <key>s_bonus_diamond_idle_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{391,1070},{357,294}}</string>
                <key>offset</key>
                <string>{-8,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{122,134},{357,294}}</string>
                <key>sourceSize</key>
                <string>{617,508}</string>
            </dict>
            <key>s_bonus_diamond_idle_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{750,1006},{345,260}}</string>
                <key>offset</key>
                <string>{6,-31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{142,155},{345,260}}</string>
                <key>sourceSize</key>
                <string>{617,508}</string>
            </dict>
            <key>s_bonus_diamond_idle_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1072},{323,246}}</string>
                <key>offset</key>
                <string>{10,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{157,160},{323,246}}</string>
                <key>sourceSize</key>
                <string>{617,508}</string>
            </dict>
            <key>s_bonus_diamond_idle_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1614},{277,218}}</string>
                <key>offset</key>
                <string>{-1,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{169,178},{277,218}}</string>
                <key>sourceSize</key>
                <string>{617,508}</string>
            </dict>
            <key>s_bonus_diamond_idle_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,1614},{245,204}}</string>
                <key>offset</key>
                <string>{-12,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{174,186},{245,204}}</string>
                <key>sourceSize</key>
                <string>{617,508}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>s_bonus_diamond_idle_major.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4d0f5c77b5923110f0f0e62e0a8e2f39$</string>
            <key>textureFileName</key>
            <string>s_bonus_diamond_idle_major.png</string>
        </dict>
    </dict>
</plist>
