<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>s_bonus_diamond_idle_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,1366},{231,198}}</string>
                <key>offset</key>
                <string>{-13,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{180,189},{231,198}}</string>
                <key>sourceSize</key>
                <string>{617,508}</string>
            </dict>
            <key>s_bonus_diamond_idle_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1072},{243,220}}</string>
                <key>offset</key>
                <string>{-13,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{174,172},{243,220}}</string>
                <key>sourceSize</key>
                <string>{617,508}</string>
            </dict>
            <key>s_bonus_diamond_idle_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,750},{267,254}}</string>
                <key>offset</key>
                <string>{-13,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{162,149},{267,254}}</string>
                <key>sourceSize</key>
                <string>{617,508}</string>
            </dict>
            <key>s_bonus_diamond_idle_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1682},{309,294}}</string>
                <key>offset</key>
                <string>{-13,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{141,126},{309,294}}</string>
                <key>sourceSize</key>
                <string>{617,508}</string>
            </dict>
            <key>s_bonus_diamond_idle_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{391,1046},{357,318}}</string>
                <key>offset</key>
                <string>{-14,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,117},{357,318}}</string>
                <key>sourceSize</key>
                <string>{617,508}</string>
            </dict>
            <key>s_bonus_diamond_idle_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,392},{403,344}}</string>
                <key>offset</key>
                <string>{-15,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,105},{403,344}}</string>
                <key>sourceSize</key>
                <string>{617,508}</string>
            </dict>
            <key>s_bonus_diamond_idle_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{453,2},{439,376}}</string>
                <key>offset</key>
                <string>{-17,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,82},{439,376}}</string>
                <key>sourceSize</key>
                <string>{617,508}</string>
            </dict>
            <key>s_bonus_diamond_idle_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{449,388}}</string>
                <key>offset</key>
                <string>{-18,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,72},{449,388}}</string>
                <key>sourceSize</key>
                <string>{617,508}</string>
            </dict>
            <key>s_bonus_diamond_idle_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{453,380},{425,368}}</string>
                <key>offset</key>
                <string>{-17,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,85},{425,368}}</string>
                <key>sourceSize</key>
                <string>{617,508}</string>
            </dict>
            <key>s_bonus_diamond_idle_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,738},{387,332}}</string>
                <key>offset</key>
                <string>{-15,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,109},{387,332}}</string>
                <key>sourceSize</key>
                <string>{617,508}</string>
            </dict>
            <key>s_bonus_diamond_idle_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{391,750},{359,294}}</string>
                <key>offset</key>
                <string>{-8,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{121,134},{359,294}}</string>
                <key>sourceSize</key>
                <string>{617,508}</string>
            </dict>
            <key>s_bonus_diamond_idle_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,1006},{347,260}}</string>
                <key>offset</key>
                <string>{7,-31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{142,155},{347,260}}</string>
                <key>sourceSize</key>
                <string>{617,508}</string>
            </dict>
            <key>s_bonus_diamond_idle_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{750,1355},{325,248}}</string>
                <key>offset</key>
                <string>{11,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{157,158},{325,248}}</string>
                <key>sourceSize</key>
                <string>{617,508}</string>
            </dict>
            <key>s_bonus_diamond_idle_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1366},{277,218}}</string>
                <key>offset</key>
                <string>{0,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{170,178},{277,218}}</string>
                <key>sourceSize</key>
                <string>{617,508}</string>
            </dict>
            <key>s_bonus_diamond_idle_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,1366},{237,204}}</string>
                <key>offset</key>
                <string>{-13,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{177,186},{237,204}}</string>
                <key>sourceSize</key>
                <string>{617,508}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>s_bonus_diamond_idle_mini.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6259606f97cd84f02a39ed64b2dc3655$</string>
            <key>textureFileName</key>
            <string>s_bonus_diamond_idle_mini.png</string>
        </dict>
    </dict>
</plist>
