<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>s_bonus_diamond_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,2},{230,198}}</string>
                <key>offset</key>
                <string>{-25,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{395,271},{230,198}}</string>
                <key>sourceSize</key>
                <string>{1070,718}</string>
            </dict>
            <key>s_bonus_diamond_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,2},{230,198}}</string>
                <key>offset</key>
                <string>{-25,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{395,271},{230,198}}</string>
                <key>sourceSize</key>
                <string>{1070,718}</string>
            </dict>
            <key>s_bonus_diamond_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{230,198}}</string>
                <key>offset</key>
                <string>{-25,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{395,271},{230,198}}</string>
                <key>sourceSize</key>
                <string>{1070,718}</string>
            </dict>
            <key>s_bonus_diamond_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{946,2},{264,212}}</string>
                <key>offset</key>
                <string>{-40,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{363,257},{264,212}}</string>
                <key>sourceSize</key>
                <string>{1070,718}</string>
            </dict>
            <key>s_bonus_diamond_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1212,2},{354,372}}</string>
                <key>offset</key>
                <string>{-24,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{334,196},{354,372}}</string>
                <key>sourceSize</key>
                <string>{1070,718}</string>
            </dict>
            <key>s_bonus_diamond_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1638,358},{386,374}}</string>
                <key>offset</key>
                <string>{-23,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{319,195},{386,374}}</string>
                <key>sourceSize</key>
                <string>{1070,718}</string>
            </dict>
            <key>s_bonus_diamond_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1270,734},{440,406}}</string>
                <key>offset</key>
                <string>{-14,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{301,163},{440,406}}</string>
                <key>sourceSize</key>
                <string>{1070,718}</string>
            </dict>
            <key>s_bonus_diamond_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,966},{498,420}}</string>
                <key>offset</key>
                <string>{-40,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{246,149},{498,420}}</string>
                <key>sourceSize</key>
                <string>{1070,718}</string>
            </dict>
            <key>s_bonus_diamond_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1060,1142},{546,440}}</string>
                <key>offset</key>
                <string>{-47,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{215,150},{546,440}}</string>
                <key>sourceSize</key>
                <string>{1070,718}</string>
            </dict>
            <key>s_bonus_diamond_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,1112},{556,438}}</string>
                <key>offset</key>
                <string>{-37,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{220,126},{556,438}}</string>
                <key>sourceSize</key>
                <string>{1070,718}</string>
            </dict>
            <key>s_bonus_diamond_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1388},{604,476}}</string>
                <key>offset</key>
                <string>{-31,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{202,128},{604,476}}</string>
                <key>sourceSize</key>
                <string>{1070,718}</string>
            </dict>
            <key>s_bonus_diamond_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{850,732},{418,378}}</string>
                <key>offset</key>
                <string>{-20,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{306,186},{418,378}}</string>
                <key>sourceSize</key>
                <string>{1070,718}</string>
            </dict>
            <key>s_bonus_diamond_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,216},{422,370}}</string>
                <key>offset</key>
                <string>{-22,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{302,194},{422,370}}</string>
                <key>sourceSize</key>
                <string>{1070,718}</string>
            </dict>
            <key>s_bonus_diamond_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,588},{420,376}}</string>
                <key>offset</key>
                <string>{-25,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{300,192},{420,376}}</string>
                <key>sourceSize</key>
                <string>{1070,718}</string>
            </dict>
            <key>s_bonus_diamond_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,570},{424,374}}</string>
                <key>offset</key>
                <string>{-27,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{296,188},{424,374}}</string>
                <key>sourceSize</key>
                <string>{1070,718}</string>
            </dict>
            <key>s_bonus_diamond_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{1206,358},{430,372}}</string>
                <key>offset</key>
                <string>{-28,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{292,189},{430,372}}</string>
                <key>sourceSize</key>
                <string>{1070,718}</string>
            </dict>
            <key>s_bonus_diamond_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,202},{402,366}}</string>
                <key>offset</key>
                <string>{-14,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{320,195},{402,366}}</string>
                <key>sourceSize</key>
                <string>{1070,718}</string>
            </dict>
            <key>s_bonus_diamond_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,202},{374,362}}</string>
                <key>offset</key>
                <string>{-5,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{343,196},{374,362}}</string>
                <key>sourceSize</key>
                <string>{1070,718}</string>
            </dict>
            <key>s_bonus_diamond_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{1586,2},{364,354}}</string>
                <key>offset</key>
                <string>{-5,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{348,197},{364,354}}</string>
                <key>sourceSize</key>
                <string>{1070,718}</string>
            </dict>
            <key>s_bonus_diamond_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,2},{246,198}}</string>
                <key>offset</key>
                <string>{-24,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{388,271},{246,198}}</string>
                <key>sourceSize</key>
                <string>{1070,718}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>s_bonus_diamond_major.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1d0d6101f8db85a40e1802f400e11dbe$</string>
            <key>textureFileName</key>
            <string>s_bonus_diamond_major.png</string>
        </dict>
    </dict>
</plist>
