<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>s_bonus_diamond_idle_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,1364},{235,198}}</string>
                <key>offset</key>
                <string>{-12,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{179,189},{235,198}}</string>
                <key>sourceSize</key>
                <string>{617,508}</string>
            </dict>
            <key>s_bonus_diamond_idle_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1072},{245,218}}</string>
                <key>offset</key>
                <string>{-12,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{174,174},{245,218}}</string>
                <key>sourceSize</key>
                <string>{617,508}</string>
            </dict>
            <key>s_bonus_diamond_idle_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{750,750},{267,252}}</string>
                <key>offset</key>
                <string>{-13,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{162,151},{267,252}}</string>
                <key>sourceSize</key>
                <string>{617,508}</string>
            </dict>
            <key>s_bonus_diamond_idle_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1676},{309,292}}</string>
                <key>offset</key>
                <string>{-13,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{141,128},{309,292}}</string>
                <key>sourceSize</key>
                <string>{617,508}</string>
            </dict>
            <key>s_bonus_diamond_idle_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{391,750},{357,316}}</string>
                <key>offset</key>
                <string>{-14,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,119},{357,316}}</string>
                <key>sourceSize</key>
                <string>{617,508}</string>
            </dict>
            <key>s_bonus_diamond_idle_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,392},{403,344}}</string>
                <key>offset</key>
                <string>{-15,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,105},{403,344}}</string>
                <key>sourceSize</key>
                <string>{617,508}</string>
            </dict>
            <key>s_bonus_diamond_idle_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{453,2},{439,376}}</string>
                <key>offset</key>
                <string>{-17,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,82},{439,376}}</string>
                <key>sourceSize</key>
                <string>{617,508}</string>
            </dict>
            <key>s_bonus_diamond_idle_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{449,388}}</string>
                <key>offset</key>
                <string>{-18,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,72},{449,388}}</string>
                <key>sourceSize</key>
                <string>{617,508}</string>
            </dict>
            <key>s_bonus_diamond_idle_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{453,380},{425,368}}</string>
                <key>offset</key>
                <string>{-17,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,85},{425,368}}</string>
                <key>sourceSize</key>
                <string>{617,508}</string>
            </dict>
            <key>s_bonus_diamond_idle_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,738},{387,332}}</string>
                <key>offset</key>
                <string>{-15,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,109},{387,332}}</string>
                <key>sourceSize</key>
                <string>{617,508}</string>
            </dict>
            <key>s_bonus_diamond_idle_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{391,1068},{357,294}}</string>
                <key>offset</key>
                <string>{-8,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{122,134},{357,294}}</string>
                <key>sourceSize</key>
                <string>{617,508}</string>
            </dict>
            <key>s_bonus_diamond_idle_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{750,1004},{345,260}}</string>
                <key>offset</key>
                <string>{6,-31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{142,155},{345,260}}</string>
                <key>sourceSize</key>
                <string>{617,508}</string>
            </dict>
            <key>s_bonus_diamond_idle_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{750,1351},{323,246}}</string>
                <key>offset</key>
                <string>{11,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{158,160},{323,246}}</string>
                <key>sourceSize</key>
                <string>{617,508}</string>
            </dict>
            <key>s_bonus_diamond_idle_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1364},{275,218}}</string>
                <key>offset</key>
                <string>{-1,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{170,178},{275,218}}</string>
                <key>sourceSize</key>
                <string>{617,508}</string>
            </dict>
            <key>s_bonus_diamond_idle_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,1364},{237,204}}</string>
                <key>offset</key>
                <string>{-13,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{177,186},{237,204}}</string>
                <key>sourceSize</key>
                <string>{617,508}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>s_bonus_diamond_idle_mega.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8949e7f6ca8d9abd669f459042713659$</string>
            <key>textureFileName</key>
            <string>s_bonus_diamond_idle_mega.png</string>
        </dict>
    </dict>
</plist>
