<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>s_S3_golden_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1662},{258,248}}</string>
                <key>offset</key>
                <string>{2,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{123,113},{258,248}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>s_S3_golden_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,900},{276,262}}</string>
                <key>offset</key>
                <string>{0,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{112,106},{276,262}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>s_S3_golden_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,626},{290,278}}</string>
                <key>offset</key>
                <string>{1,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{106,98},{290,278}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>s_S3_golden_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,328},{308,292}}</string>
                <key>offset</key>
                <string>{1,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,91},{308,292}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>s_S3_golden_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,316},{324,308}}</string>
                <key>offset</key>
                <string>{1,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,82},{324,308}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>s_S3_golden_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,2},{340,322}}</string>
                <key>offset</key>
                <string>{3,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,75},{340,322}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>s_S3_golden_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{340,324}}</string>
                <key>offset</key>
                <string>{2,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,74},{340,324}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>s_S3_golden_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,2},{326,312}}</string>
                <key>offset</key>
                <string>{2,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,80},{326,312}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>s_S3_golden_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,326},{314,298}}</string>
                <key>offset</key>
                <string>{1,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,88},{314,298}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>s_S3_golden_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,622},{302,286}}</string>
                <key>offset</key>
                <string>{2,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,94},{302,286}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>s_S3_golden_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,626},{288,272}}</string>
                <key>offset</key>
                <string>{3,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{109,101},{288,272}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>s_S3_golden_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,906},{274,260}}</string>
                <key>offset</key>
                <string>{2,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{115,107},{274,260}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>s_S3_golden_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1162},{262,248}}</string>
                <key>offset</key>
                <string>{1,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,113},{262,248}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>s_S3_golden_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,1414},{248,234}}</string>
                <key>offset</key>
                <string>{2,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,121},{248,234}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>s_S3_golden_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,1650},{236,226}}</string>
                <key>offset</key>
                <string>{1,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{133,127},{236,226}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>s_S3_golden_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,1414},{242,230}}</string>
                <key>offset</key>
                <string>{2,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{131,126},{242,230}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>s_S3_golden_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,1420},{248,236}}</string>
                <key>offset</key>
                <string>{2,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,123},{248,236}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>s_S3_golden_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,1658},{254,242}}</string>
                <key>offset</key>
                <string>{2,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{125,120},{254,242}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>s_S3_golden_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,1164},{260,248}}</string>
                <key>offset</key>
                <string>{2,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{122,116},{260,248}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>s_S3_golden_0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,910},{262,250}}</string>
                <key>offset</key>
                <string>{2,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{121,115},{262,250}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>s_S3_golden_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,1168},{258,250}}</string>
                <key>offset</key>
                <string>{3,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{124,114},{258,250}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>s_S3_golden_0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1412},{258,248}}</string>
                <key>offset</key>
                <string>{3,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{124,114},{258,248}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>s_S3_golden_0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,1662},{256,246}}</string>
                <key>offset</key>
                <string>{2,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{124,115},{256,246}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>s_S3_golden.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0156119ad7741bb24518600ea0d40240$</string>
            <key>textureFileName</key>
            <string>s_S3_golden.png</string>
        </dict>
    </dict>
</plist>
