<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>s_S3_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1174},{266,216}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{122,142},{266,216}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>s_S3_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,280},{298,246}}</string>
                <key>offset</key>
                <string>{-5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,129},{298,246}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>s_S3_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,2},{336,276}}</string>
                <key>offset</key>
                <string>{-7,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,114},{336,276}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>s_S3_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{344,282}}</string>
                <key>offset</key>
                <string>{-7,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,111},{344,282}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>s_S3_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,2},{322,264}}</string>
                <key>offset</key>
                <string>{-7,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,120},{322,264}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>s_S3_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,268},{300,246}}</string>
                <key>offset</key>
                <string>{-6,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,129},{300,246}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>s_S3_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,286},{278,228}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{106,137},{278,228}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>s_S3_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,1192},{256,212}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{118,145},{256,212}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>s_S3_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,956},{234,196}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{130,152},{234,196}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>s_S3_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,1392},{240,202}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{127,149},{240,202}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>s_S3_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1392},{248,208}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{123,147},{248,208}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>s_S3_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,1184},{252,214}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{122,144},{252,214}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>s_S3_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,1174},{260,216}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{121,142},{260,216}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>s_S3_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,966},{270,216}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{122,142},{270,216}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>s_S3_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,956},{272,216}}</string>
                <key>offset</key>
                <string>{8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{122,142},{272,216}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>s_S3_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,736},{272,218}}</string>
                <key>offset</key>
                <string>{9,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{123,140},{272,218}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>s_S3_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,736},{274,218}}</string>
                <key>offset</key>
                <string>{9,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{122,140},{274,218}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>s_S3_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,528},{274,218}}</string>
                <key>offset</key>
                <string>{9,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{122,140},{274,218}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>s_S3_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{648,516},{274,218}}</string>
                <key>offset</key>
                <string>{9,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{122,140},{274,218}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>s_S3_0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,516},{274,218}}</string>
                <key>offset</key>
                <string>{9,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{122,140},{274,218}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>s_S3_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,748},{272,216}}</string>
                <key>offset</key>
                <string>{8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{122,142},{272,216}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>s_S3_0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,956},{270,216}}</string>
                <key>offset</key>
                <string>{8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{123,142},{270,216}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>s_S3.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f7eaa9d8bd7539f10ae5de9b22307ced$</string>
            <key>textureFileName</key>
            <string>s_S3.png</string>
        </dict>
    </dict>
</plist>
