<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>s_S4_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,930},{232,218}}</string>
                <key>offset</key>
                <string>{6,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{140,138},{232,218}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>s_S4_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,478},{238,220}}</string>
                <key>offset</key>
                <string>{-8,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{123,136},{238,220}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>s_S4_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,254},{244,222}}</string>
                <key>offset</key>
                <string>{-20,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,136},{244,222}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>s_S4_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,490},{250,228}}</string>
                <key>offset</key>
                <string>{-25,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,132},{250,228}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>s_S4_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,2},{254,236}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{122,129},{254,236}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>s_S4_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,240},{250,252}}</string>
                <key>offset</key>
                <string>{31,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{156,119},{250,252}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>s_S4_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{252,254}}</string>
                <key>offset</key>
                <string>{37,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{161,118},{252,254}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>s_S4_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,2},{250,252}}</string>
                <key>offset</key>
                <string>{36,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{161,119},{250,252}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>s_S4_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,2},{248,246}}</string>
                <key>offset</key>
                <string>{24,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{150,123},{248,246}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>s_S4_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,256},{250,232}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{123,131},{250,232}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>s_S4_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,250},{246,224}}</string>
                <key>offset</key>
                <string>{-20,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{107,134},{246,224}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>s_S4_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,476},{242,220}}</string>
                <key>offset</key>
                <string>{-24,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,136},{242,220}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>s_S4_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,492},{238,216}}</string>
                <key>offset</key>
                <string>{-22,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{109,138},{238,216}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>s_S4_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,1140},{232,212}}</string>
                <key>offset</key>
                <string>{-15,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{119,141},{232,212}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>s_S4_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,1138},{232,214}}</string>
                <key>offset</key>
                <string>{-7,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{127,140},{232,214}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>s_S4_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,940},{232,216}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{136,139},{232,216}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>s_S4_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,920},{232,218}}</string>
                <key>offset</key>
                <string>{6,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{140,138},{232,218}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>s_S4_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,918},{232,218}}</string>
                <key>offset</key>
                <string>{6,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{140,138},{232,218}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>s_S4_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,720},{232,218}}</string>
                <key>offset</key>
                <string>{6,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{140,138},{232,218}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>s_S4_0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,710},{232,218}}</string>
                <key>offset</key>
                <string>{6,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{140,138},{232,218}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>s_S4_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,700},{232,218}}</string>
                <key>offset</key>
                <string>{6,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{140,138},{232,218}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>s_S4_0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,698},{232,218}}</string>
                <key>offset</key>
                <string>{6,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{140,138},{232,218}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>s_S4.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:29542f1319d94d76d889892c14e6c230$</string>
            <key>textureFileName</key>
            <string>s_S4.png</string>
        </dict>
    </dict>
</plist>
