<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>s_S5_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,828},{186,196}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{158,151},{186,196}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>s_S5_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,232},{208,214}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{153,143},{208,214}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>s_S5_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,490},{220,226}}</string>
                <key>offset</key>
                <string>{21,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{161,138},{220,226}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>s_S5_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,2},{232,238}}</string>
                <key>offset</key>
                <string>{28,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{162,132},{232,238}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>s_S5_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,244},{244,244}}</string>
                <key>offset</key>
                <string>{17,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{145,128},{244,244}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>s_S5_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{252,240}}</string>
                <key>offset</key>
                <string>{-6,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{118,126},{252,240}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>s_S5_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,2},{256,228}}</string>
                <key>offset</key>
                <string>{-26,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,127},{256,228}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>s_S5_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,490},{250,224}}</string>
                <key>offset</key>
                <string>{-26,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{99,129},{250,224}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>s_S5_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,2},{238,226}}</string>
                <key>offset</key>
                <string>{-10,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{121,133},{238,226}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>s_S5_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,742},{222,226}}</string>
                <key>offset</key>
                <string>{12,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{151,137},{222,226}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>s_S5_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,718},{204,218}}</string>
                <key>offset</key>
                <string>{30,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{178,142},{204,218}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>s_S5_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,236},{200,208}}</string>
                <key>offset</key>
                <string>{32,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{182,147},{200,208}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>s_S5_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,236},{198,208}}</string>
                <key>offset</key>
                <string>{29,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{180,147},{198,208}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>s_S5_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,438},{194,208}}</string>
                <key>offset</key>
                <string>{23,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{176,147},{194,208}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>s_S5_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,446},{192,206}}</string>
                <key>offset</key>
                <string>{14,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{168,148},{192,206}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>s_S5_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,634},{184,198}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{163,151},{184,198}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>s_S5_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,820},{186,196}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{158,151},{186,196}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>s_S5_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,640},{186,196}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{158,151},{186,196}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>s_S5_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,640},{186,196}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{158,151},{186,196}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>s_S5_0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,820},{186,196}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{158,151},{186,196}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>s_S5_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,820},{186,196}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{158,151},{186,196}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>s_S5_0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,820},{186,196}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{158,151},{186,196}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>s_S5.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0d8cc0bdb7c34b84c55373fdb7eb1e5a$</string>
            <key>textureFileName</key>
            <string>s_S5.png</string>
        </dict>
    </dict>
</plist>
