<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>s_S8_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,168},{208,164}}</string>
                <key>offset</key>
                <string>{7,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{153,179},{208,164}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>s_S8_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,386},{214,172}}</string>
                <key>offset</key>
                <string>{7,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{150,175},{214,172}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>s_S8_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,334},{216,172}}</string>
                <key>offset</key>
                <string>{7,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{149,175},{216,172}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>s_S8_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,334},{216,172}}</string>
                <key>offset</key>
                <string>{7,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{149,176},{216,172}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>s_S8_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,550},{226,180}}</string>
                <key>offset</key>
                <string>{10,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{147,172},{226,180}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>s_S8_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,732},{232,188}}</string>
                <key>offset</key>
                <string>{13,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{147,168},{232,188}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>s_S8_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,742},{232,190}}</string>
                <key>offset</key>
                <string>{14,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{148,167},{232,190}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>s_S8_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,686},{230,186}}</string>
                <key>offset</key>
                <string>{13,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{148,169},{230,186}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>s_S8_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{678,604},{228,182}}</string>
                <key>offset</key>
                <string>{11,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{147,171},{228,182}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>s_S8_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,560},{224,180}}</string>
                <key>offset</key>
                <string>{10,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{148,172},{224,180}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>s_S8_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,508},{220,176}}</string>
                <key>offset</key>
                <string>{8,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{148,174},{220,176}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>s_S8_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{828,386},{216,174}}</string>
                <key>offset</key>
                <string>{7,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{149,174},{216,174}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>s_S8_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,334},{214,172}}</string>
                <key>offset</key>
                <string>{7,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{150,176},{214,172}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>s_S8_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,212},{214,172}}</string>
                <key>offset</key>
                <string>{7,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{150,175},{214,172}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>s_S8_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,168},{212,172}}</string>
                <key>offset</key>
                <string>{7,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{151,175},{212,172}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>s_S8_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,168},{208,164}}</string>
                <key>offset</key>
                <string>{7,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{153,179},{208,164}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>s_S8_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,168},{208,164}}</string>
                <key>offset</key>
                <string>{7,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{153,179},{208,164}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>s_S8_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,2},{208,164}}</string>
                <key>offset</key>
                <string>{7,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{153,179},{208,164}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>s_S8_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,2},{208,164}}</string>
                <key>offset</key>
                <string>{7,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{153,179},{208,164}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>s_S8_0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,2},{208,164}}</string>
                <key>offset</key>
                <string>{7,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{153,179},{208,164}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>s_S8_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,2},{208,164}}</string>
                <key>offset</key>
                <string>{7,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{153,179},{208,164}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>s_S8_0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{208,164}}</string>
                <key>offset</key>
                <string>{7,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{153,179},{208,164}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>s_S8.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5f221c6c77f020b0e4764ba515b1b557$</string>
            <key>textureFileName</key>
            <string>s_S8.png</string>
        </dict>
    </dict>
</plist>
