<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>s_title_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1818},{528,114}}</string>
                <key>offset</key>
                <string>{5,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,42},{528,114}}</string>
                <key>sourceSize</key>
                <string>{642,178}</string>
            </dict>
            <key>s_title_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{856,1076},{528,116}}</string>
                <key>offset</key>
                <string>{5,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,40},{528,116}}</string>
                <key>sourceSize</key>
                <string>{642,178}</string>
            </dict>
            <key>s_title_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1584},{530,116}}</string>
                <key>offset</key>
                <string>{4,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,40},{530,116}}</string>
                <key>sourceSize</key>
                <string>{642,178}</string>
            </dict>
            <key>s_title_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1466},{530,116}}</string>
                <key>offset</key>
                <string>{4,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,40},{530,116}}</string>
                <key>sourceSize</key>
                <string>{642,178}</string>
            </dict>
            <key>s_title_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,1116},{530,118}}</string>
                <key>offset</key>
                <string>{4,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,38},{530,118}}</string>
                <key>sourceSize</key>
                <string>{642,178}</string>
            </dict>
            <key>s_title_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,1076},{530,152}}</string>
                <key>offset</key>
                <string>{4,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,4},{530,152}}</string>
                <key>sourceSize</key>
                <string>{642,178}</string>
            </dict>
            <key>s_title_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,180},{568,156}}</string>
                <key>offset</key>
                <string>{-15,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,0},{568,156}}</string>
                <key>sourceSize</key>
                <string>{642,178}</string>
            </dict>
            <key>s_title_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{588,176}}</string>
                <key>offset</key>
                <string>{-25,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{588,176}}</string>
                <key>sourceSize</key>
                <string>{642,178}</string>
            </dict>
            <key>s_title_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,2},{578,178}}</string>
                <key>offset</key>
                <string>{-20,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,0},{578,178}}</string>
                <key>sourceSize</key>
                <string>{642,178}</string>
            </dict>
            <key>s_title_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,338},{540,158}}</string>
                <key>offset</key>
                <string>{3,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,0},{540,158}}</string>
                <key>sourceSize</key>
                <string>{642,178}</string>
            </dict>
            <key>s_title_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,964},{536,136}}</string>
                <key>offset</key>
                <string>{8,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,23},{536,136}}</string>
                <key>sourceSize</key>
                <string>{642,178}</string>
            </dict>
            <key>s_title_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,658},{538,152}}</string>
                <key>offset</key>
                <string>{9,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,7},{538,152}}</string>
                <key>sourceSize</key>
                <string>{642,178}</string>
            </dict>
            <key>s_title_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,498},{538,158}}</string>
                <key>offset</key>
                <string>{9,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,1},{538,158}}</string>
                <key>sourceSize</key>
                <string>{642,178}</string>
            </dict>
            <key>s_title_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,812},{538,150}}</string>
                <key>offset</key>
                <string>{9,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,9},{538,150}}</string>
                <key>sourceSize</key>
                <string>{642,178}</string>
            </dict>
            <key>s_title_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,2},{536,160}}</string>
                <key>offset</key>
                <string>{9,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,0},{536,160}}</string>
                <key>sourceSize</key>
                <string>{642,178}</string>
            </dict>
            <key>s_title_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,540},{534,158}}</string>
                <key>offset</key>
                <string>{9,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{63,0},{534,158}}</string>
                <key>sourceSize</key>
                <string>{642,178}</string>
            </dict>
            <key>s_title_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,582},{532,158}}</string>
                <key>offset</key>
                <string>{8,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{63,0},{532,158}}</string>
                <key>sourceSize</key>
                <string>{642,178}</string>
            </dict>
            <key>s_title_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1102},{532,126}}</string>
                <key>offset</key>
                <string>{7,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,31},{532,126}}</string>
                <key>sourceSize</key>
                <string>{642,178}</string>
            </dict>
            <key>s_title_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1348},{530,116}}</string>
                <key>offset</key>
                <string>{7,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,41},{530,116}}</string>
                <key>sourceSize</key>
                <string>{642,178}</string>
            </dict>
            <key>s_title_0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1230},{530,116}}</string>
                <key>offset</key>
                <string>{6,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,41},{530,116}}</string>
                <key>sourceSize</key>
                <string>{642,178}</string>
            </dict>
            <key>s_title_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1702},{528,114}}</string>
                <key>offset</key>
                <string>{6,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,42},{528,114}}</string>
                <key>sourceSize</key>
                <string>{642,178}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>s_title.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2e450cddd12b5ac164d8fa089a631666$</string>
            <key>textureFileName</key>
            <string>s_title.png</string>
        </dict>
    </dict>
</plist>
