<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dt_ani_cloud.png</key>
            <dict>
                <key>frame</key>
                <string>{{10,2},{679,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{679,52}}</string>
                <key>sourceSize</key>
                <string>{679,52}</string>
            </dict>
            <key>dt_bg_bottonbar.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,411},{144,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,70}}</string>
                <key>sourceSize</key>
                <string>{144,70}</string>
            </dict>
            <key>dt_bg_currency.png</key>
            <dict>
                <key>frame</key>
                <string>{{49,787},{89,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,48}}</string>
                <key>sourceSize</key>
                <string>{89,48}</string>
            </dict>
            <key>dt_bg_head.png</key>
            <dict>
                <key>frame</key>
                <string>{{479,150},{98,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,98}}</string>
                <key>sourceSize</key>
                <string>{98,98}</string>
            </dict>
            <key>dt_bg_head_black.png</key>
            <dict>
                <key>frame</key>
                <string>{{335,941},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>dt_btn_activity.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,130},{238,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{238,126}}</string>
                <key>sourceSize</key>
                <string>{238,126}</string>
            </dict>
            <key>dt_btn_add.png</key>
            <dict>
                <key>frame</key>
                <string>{{495,849},{50,50}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{50,50}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>dt_btn_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,258},{151,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,151}}</string>
                <key>sourceSize</key>
                <string>{151,151}</string>
            </dict>
            <key>dt_btn_newredbag.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,2},{238,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{238,126}}</string>
                <key>sourceSize</key>
                <string>{238,126}</string>
            </dict>
            <key>dt_btn_presented.png</key>
            <dict>
                <key>frame</key>
                <string>{{283,938},{83,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,50}}</string>
                <key>sourceSize</key>
                <string>{83,50}</string>
            </dict>
            <key>dt_download_slider.png</key>
            <dict>
                <key>frame</key>
                <string>{{10,683},{161,37}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,17},{161,37}}</string>
                <key>sourceSize</key>
                <string>{183,63}</string>
            </dict>
            <key>dt_download_slider2.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,88},{262,60}}</string>
                <key>offset</key>
                <string>{11,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,21},{262,60}}</string>
                <key>sourceSize</key>
                <string>{326,90}</string>
            </dict>
            <key>dt_download_slider2_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,2},{276,84}}</string>
                <key>offset</key>
                <string>{11,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,3},{276,84}}</string>
                <key>sourceSize</key>
                <string>{326,90}</string>
            </dict>
            <key>dt_download_slider_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,150},{173,59}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{173,59}}</string>
                <key>sourceSize</key>
                <string>{183,63}</string>
            </dict>
            <key>dt_f_icon_yb.png</key>
            <dict>
                <key>frame</key>
                <string>{{483,813},{45,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,34}}</string>
                <key>sourceSize</key>
                <string>{45,34}</string>
            </dict>
            <key>dt_icon_18rmb.png</key>
            <dict>
                <key>frame</key>
                <string>{{10,951},{70,84}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,14},{70,84}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>dt_icon_3ylb.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,756},{88,82}}</string>
                <key>offset</key>
                <string>{1,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,14},{88,82}}</string>
                <key>sourceSize</key>
                <string>{120,96}</string>
            </dict>
            <key>dt_icon_6znq.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,567},{106,88}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,8},{106,88}}</string>
                <key>sourceSize</key>
                <string>{120,96}</string>
            </dict>
            <key>dt_icon_csb.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,483},{82,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,18},{82,84}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>dt_icon_cy.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,756},{92,86}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,15},{92,86}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>dt_icon_dszq.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,756},{98,80}}</string>
                <key>offset</key>
                <string>{-1,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,16},{98,80}}</string>
                <key>sourceSize</key>
                <string>{120,96}</string>
            </dict>
            <key>dt_icon_duihuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{303,856},{96,80}}</string>
                <key>offset</key>
                <string>{1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,16},{96,80}}</string>
                <key>sourceSize</key>
                <string>{120,96}</string>
            </dict>
            <key>dt_icon_exchangeredbag.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,844},{102,84}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,17},{102,84}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>dt_icon_fanhui.png</key>
            <dict>
                <key>frame</key>
                <string>{{279,293},{120,82}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{120,82}}</string>
                <key>sourceSize</key>
                <string>{120,96}</string>
            </dict>
            <key>dt_icon_friendchat.png</key>
            <dict>
                <key>frame</key>
                <string>{{49,683},{102,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,17},{102,86}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>dt_icon_gl.png</key>
            <dict>
                <key>frame</key>
                <string>{{401,855},{92,84}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,16},{92,84}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>dt_icon_huodong.png</key>
            <dict>
                <key>frame</key>
                <string>{{417,941},{78,84}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,12},{78,84}}</string>
                <key>sourceSize</key>
                <string>{120,96}</string>
            </dict>
            <key>dt_icon_mrfx.png</key>
            <dict>
                <key>frame</key>
                <string>{{401,293},{84,84}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,9},{84,84}}</string>
                <key>sourceSize</key>
                <string>{120,96}</string>
            </dict>
            <key>dt_icon_myredbag.png</key>
            <dict>
                <key>frame</key>
                <string>{{279,377},{102,84}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,17},{102,84}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>dt_icon_rank.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,567},{88,84}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,17},{88,84}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>dt_icon_redbag.png</key>
            <dict>
                <key>frame</key>
                <string>{{483,725},{72,86}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,15},{72,86}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>dt_icon_srylc.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,483},{118,82}}</string>
                <key>offset</key>
                <string>{-1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{118,82}}</string>
                <key>sourceSize</key>
                <string>{120,96}</string>
            </dict>
            <key>dt_icon_wtfk.png</key>
            <dict>
                <key>frame</key>
                <string>{{487,250},{96,86}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,10},{96,86}}</string>
                <key>sourceSize</key>
                <string>{120,96}</string>
            </dict>
            <key>dt_icon_xinnianqing.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,567},{90,88}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,15},{90,88}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>dt_icon_zhb.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,931},{90,82}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,18},{90,82}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>dt_txt_18rmb.png</key>
            <dict>
                <key>frame</key>
                <string>{{443,470},{86,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,2},{86,29}}</string>
                <key>sourceSize</key>
                <string>{120,33}</string>
            </dict>
            <key>dt_txt_redbag.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,695},{78,28}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,2},{78,28}}</string>
                <key>sourceSize</key>
                <string>{120,32}</string>
            </dict>
            <key>public_bg_bottonbar.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,258},{60,262}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,262}}</string>
                <key>sourceSize</key>
                <string>{60,262}</string>
            </dict>
            <key>public_dt_btn_bag.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,657},{79,97}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{79,97}}</string>
                <key>sourceSize</key>
                <string>{89,97}</string>
            </dict>
            <key>public_dt_btn_bank.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,657},{77,97}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{77,97}}</string>
                <key>sourceSize</key>
                <string>{89,97}</string>
            </dict>
            <key>public_dt_btn_data.png</key>
            <dict>
                <key>frame</key>
                <string>{{10,846},{88,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,103}}</string>
                <key>sourceSize</key>
                <string>{88,103}</string>
            </dict>
            <key>public_dt_btn_fj.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,470},{89,95}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,95}}</string>
                <key>sourceSize</key>
                <string>{89,97}</string>
            </dict>
            <key>public_dt_btn_gift.png</key>
            <dict>
                <key>frame</key>
                <string>{{391,657},{83,97}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{83,97}}</string>
                <key>sourceSize</key>
                <string>{89,97}</string>
            </dict>
            <key>public_dt_btn_lx.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,846},{83,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{83,97}}</string>
                <key>sourceSize</key>
                <string>{89,97}</string>
            </dict>
            <key>public_dt_btn_mail.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,756},{81,97}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{81,97}}</string>
                <key>sourceSize</key>
                <string>{89,97}</string>
            </dict>
            <key>public_dt_btn_notice.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,596},{85,97}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{85,97}}</string>
                <key>sourceSize</key>
                <string>{89,97}</string>
            </dict>
            <key>public_dt_btn_pay.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,379},{89,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,97}}</string>
                <key>sourceSize</key>
                <string>{89,97}</string>
            </dict>
            <key>public_dt_btn_record.png</key>
            <dict>
                <key>frame</key>
                <string>{{487,338},{82,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,96}}</string>
                <key>sourceSize</key>
                <string>{82,96}</string>
            </dict>
            <key>public_dt_btn_rule.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,657},{92,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,97}}</string>
                <key>sourceSize</key>
                <string>{92,97}</string>
            </dict>
            <key>public_dt_btn_service.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,509},{85,97}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{85,97}}</string>
                <key>sourceSize</key>
                <string>{89,97}</string>
            </dict>
            <key>public_dt_btn_set.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,422},{85,97}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,97}}</string>
                <key>sourceSize</key>
                <string>{89,97}</string>
            </dict>
            <key>public_dt_btn_shop.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,930},{85,97}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,97}}</string>
                <key>sourceSize</key>
                <string>{89,97}</string>
            </dict>
            <key>public_function_btn_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,211},{128,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,80}}</string>
                <key>sourceSize</key>
                <string>{128,80}</string>
            </dict>
            <key>public_function_btn_menu.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,522},{128,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,80}}</string>
                <key>sourceSize</key>
                <string>{128,80}</string>
            </dict>
            <key>public_icon_diamonds.png</key>
            <dict>
                <key>frame</key>
                <string>{{503,950},{44,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,41}}</string>
                <key>sourceSize</key>
                <string>{44,41}</string>
            </dict>
            <key>public_icon_gold.png</key>
            <dict>
                <key>frame</key>
                <string>{{503,901},{45,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,47}}</string>
                <key>sourceSize</key>
                <string>{45,47}</string>
            </dict>
            <key>public_icon_roomcard.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,211},{53,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,43}}</string>
                <key>sourceSize</key>
                <string>{53,43}</string>
            </dict>
            <key>public_img_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1010,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1010,6}}</string>
                <key>sourceSize</key>
                <string>{1010,6}</string>
            </dict>
            <key>public_img_point.png</key>
            <dict>
                <key>frame</key>
                <string>{{279,258},{23,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,23}}</string>
                <key>sourceSize</key>
                <string>{23,23}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>p_lobby.png</string>
            <key>size</key>
            <string>{585,1023}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:825aa433547e69af4d23016559e32eea:1/1$</string>
            <key>textureFileName</key>
            <string>p_lobby.png</string>
        </dict>
    </dict>
</plist>
