<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dt_bank_bg_slide.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,2},{327,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{327,11}}</string>
                <key>sourceSize</key>
                <string>{327,11}</string>
            </dict>
            <key>dt_dhhb_bg_whiteramp.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,339},{415,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{415,60}}</string>
                <key>sourceSize</key>
                <string>{415,60}</string>
            </dict>
            <key>dt_hbdh_bg_qianhuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{843,227},{142,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,144}}</string>
                <key>sourceSize</key>
                <string>{142,144}</string>
            </dict>
            <key>dt_hbdh_btn_copy.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,412},{104,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,48}}</string>
                <key>sourceSize</key>
                <string>{104,48}</string>
            </dict>
            <key>dt_hbdh_btn_copywxh.png</key>
            <dict>
                <key>frame</key>
                <string>{{419,339},{213,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,62}}</string>
                <key>sourceSize</key>
                <string>{213,62}</string>
            </dict>
            <key>dt_hbdh_btn_exchange.png</key>
            <dict>
                <key>frame</key>
                <string>{{924,2},{223,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{223,79}}</string>
                <key>sourceSize</key>
                <string>{223,79}</string>
            </dict>
            <key>dt_hbdh_btn_get.png</key>
            <dict>
                <key>frame</key>
                <string>{{843,2},{223,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{223,79}}</string>
                <key>sourceSize</key>
                <string>{223,79}</string>
            </dict>
            <key>dt_hbdh_btn_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{331,403},{204,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,79}}</string>
                <key>sourceSize</key>
                <string>{204,79}</string>
            </dict>
            <key>dt_hbdh_btn_help.png</key>
            <dict>
                <key>frame</key>
                <string>{{913,415},{73,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,37}}</string>
                <key>sourceSize</key>
                <string>{73,37}</string>
            </dict>
            <key>dt_hbdh_btn_orange.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,339},{204,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,79}}</string>
                <key>sourceSize</key>
                <string>{204,79}</string>
            </dict>
            <key>dt_hbdh_btn_slide.png</key>
            <dict>
                <key>frame</key>
                <string>{{631,420},{35,35}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,9},{35,35}}</string>
                <key>sourceSize</key>
                <string>{55,55}</string>
            </dict>
            <key>dt_hbdh_cb_input.png</key>
            <dict>
                <key>frame</key>
                <string>{{840,415},{71,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,71}}</string>
                <key>sourceSize</key>
                <string>{71,71}</string>
            </dict>
            <key>dt_hbdh_flag_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,412},{221,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{221,74}}</string>
                <key>sourceSize</key>
                <string>{221,74}</string>
            </dict>
            <key>dt_hbdh_img_jiantou.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,462},{24,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,38}}</string>
                <key>sourceSize</key>
                <string>{24,38}</string>
            </dict>
            <key>dt_hbdh_img_step01.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{554,2},{274,335}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{274,335}}</string>
                <key>sourceSize</key>
                <string>{274,335}</string>
            </dict>
            <key>dt_hbdh_img_step02.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{278,2},{274,335}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{274,335}}</string>
                <key>sourceSize</key>
                <string>{274,335}</string>
            </dict>
            <key>dt_hbdh_img_step03.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{274,335}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{274,335}}</string>
                <key>sourceSize</key>
                <string>{274,335}</string>
            </dict>
            <key>dt_hbdh_slide.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,401},{325,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{325,9}}</string>
                <key>sourceSize</key>
                <string>{327,11}</string>
            </dict>
            <key>dt_hbdh_wxhb.png</key>
            <dict>
                <key>frame</key>
                <string>{{840,371},{160,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,42}}</string>
                <key>sourceSize</key>
                <string>{160,42}</string>
            </dict>
            <key>dt_icon_face.png</key>
            <dict>
                <key>frame</key>
                <string>{{537,403},{83,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,92}}</string>
                <key>sourceSize</key>
                <string>{83,92}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>p_wx_redbag.png</string>
            <key>size</key>
            <string>{1005,488}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b2ae41caa9c2d305fd5d35f3c501f433:1/1$</string>
            <key>textureFileName</key>
            <string>p_wx_redbag.png</string>
        </dict>
    </dict>
</plist>
