<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{863,1217},{127,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,181}}</string>
                <key>sourceSize</key>
                <string>{127,181}</string>
            </dict>
            <key>1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,1163},{127,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,181}}</string>
                <key>sourceSize</key>
                <string>{127,181}</string>
            </dict>
            <key>1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{497,1163},{127,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,181}}</string>
                <key>sourceSize</key>
                <string>{127,181}</string>
            </dict>
            <key>1_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,1163},{127,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,181}}</string>
                <key>sourceSize</key>
                <string>{127,181}</string>
            </dict>
            <key>1_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,1163},{127,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,181}}</string>
                <key>sourceSize</key>
                <string>{127,181}</string>
            </dict>
            <key>1_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{863,1034},{127,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,181}}</string>
                <key>sourceSize</key>
                <string>{127,181}</string>
            </dict>
            <key>1_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,1034},{127,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,181}}</string>
                <key>sourceSize</key>
                <string>{127,181}</string>
            </dict>
            <key>1_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{497,1034},{127,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,181}}</string>
                <key>sourceSize</key>
                <string>{127,181}</string>
            </dict>
            <key>1_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,1034},{127,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,181}}</string>
                <key>sourceSize</key>
                <string>{127,181}</string>
            </dict>
            <key>1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,1034},{127,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,181}}</string>
                <key>sourceSize</key>
                <string>{127,181}</string>
            </dict>
            <key>1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1766},{127,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,181}}</string>
                <key>sourceSize</key>
                <string>{127,181}</string>
            </dict>
            <key>1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1583},{127,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,181}}</string>
                <key>sourceSize</key>
                <string>{127,181}</string>
            </dict>
            <key>1_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1400},{127,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,181}}</string>
                <key>sourceSize</key>
                <string>{127,181}</string>
            </dict>
            <key>2_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1217},{127,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,181}}</string>
                <key>sourceSize</key>
                <string>{127,181}</string>
            </dict>
            <key>2_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1034},{127,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,181}}</string>
                <key>sourceSize</key>
                <string>{127,181}</string>
            </dict>
            <key>2_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,905},{127,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,181}}</string>
                <key>sourceSize</key>
                <string>{127,181}</string>
            </dict>
            <key>2_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{551,905},{127,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,181}}</string>
                <key>sourceSize</key>
                <string>{127,181}</string>
            </dict>
            <key>2_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,905},{127,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,181}}</string>
                <key>sourceSize</key>
                <string>{127,181}</string>
            </dict>
            <key>2_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,905},{127,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,181}}</string>
                <key>sourceSize</key>
                <string>{127,181}</string>
            </dict>
            <key>2_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,905},{127,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,181}}</string>
                <key>sourceSize</key>
                <string>{127,181}</string>
            </dict>
            <key>2_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,776},{127,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,181}}</string>
                <key>sourceSize</key>
                <string>{127,181}</string>
            </dict>
            <key>2_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{551,776},{127,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,181}}</string>
                <key>sourceSize</key>
                <string>{127,181}</string>
            </dict>
            <key>2_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,776},{127,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,181}}</string>
                <key>sourceSize</key>
                <string>{127,181}</string>
            </dict>
            <key>2_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,776},{127,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,181}}</string>
                <key>sourceSize</key>
                <string>{127,181}</string>
            </dict>
            <key>2_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,776},{127,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,181}}</string>
                <key>sourceSize</key>
                <string>{127,181}</string>
            </dict>
            <key>2_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,647},{127,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,181}}</string>
                <key>sourceSize</key>
                <string>{127,181}</string>
            </dict>
            <key>3_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{551,647},{127,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,181}}</string>
                <key>sourceSize</key>
                <string>{127,181}</string>
            </dict>
            <key>3_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,647},{127,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,181}}</string>
                <key>sourceSize</key>
                <string>{127,181}</string>
            </dict>
            <key>3_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,647},{127,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,181}}</string>
                <key>sourceSize</key>
                <string>{127,181}</string>
            </dict>
            <key>3_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,647},{127,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,181}}</string>
                <key>sourceSize</key>
                <string>{127,181}</string>
            </dict>
            <key>3_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,518},{127,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,181}}</string>
                <key>sourceSize</key>
                <string>{127,181}</string>
            </dict>
            <key>3_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{551,518},{127,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,181}}</string>
                <key>sourceSize</key>
                <string>{127,181}</string>
            </dict>
            <key>3_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,518},{127,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,181}}</string>
                <key>sourceSize</key>
                <string>{127,181}</string>
            </dict>
            <key>3_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,518},{127,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,181}}</string>
                <key>sourceSize</key>
                <string>{127,181}</string>
            </dict>
            <key>3_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,518},{127,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,181}}</string>
                <key>sourceSize</key>
                <string>{127,181}</string>
            </dict>
            <key>3_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,389},{127,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,181}}</string>
                <key>sourceSize</key>
                <string>{127,181}</string>
            </dict>
            <key>3_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{551,389},{127,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,181}}</string>
                <key>sourceSize</key>
                <string>{127,181}</string>
            </dict>
            <key>3_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,389},{127,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,181}}</string>
                <key>sourceSize</key>
                <string>{127,181}</string>
            </dict>
            <key>3_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,389},{127,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,181}}</string>
                <key>sourceSize</key>
                <string>{127,181}</string>
            </dict>
            <key>4_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,389},{127,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,181}}</string>
                <key>sourceSize</key>
                <string>{127,181}</string>
            </dict>
            <key>4_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,260},{127,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,181}}</string>
                <key>sourceSize</key>
                <string>{127,181}</string>
            </dict>
            <key>4_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{551,260},{127,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,181}}</string>
                <key>sourceSize</key>
                <string>{127,181}</string>
            </dict>
            <key>4_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,260},{127,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,181}}</string>
                <key>sourceSize</key>
                <string>{127,181}</string>
            </dict>
            <key>4_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,260},{127,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,181}}</string>
                <key>sourceSize</key>
                <string>{127,181}</string>
            </dict>
            <key>4_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,260},{127,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,181}}</string>
                <key>sourceSize</key>
                <string>{127,181}</string>
            </dict>
            <key>4_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,131},{127,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,181}}</string>
                <key>sourceSize</key>
                <string>{127,181}</string>
            </dict>
            <key>4_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{551,131},{127,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,181}}</string>
                <key>sourceSize</key>
                <string>{127,181}</string>
            </dict>
            <key>4_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,131},{127,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,181}}</string>
                <key>sourceSize</key>
                <string>{127,181}</string>
            </dict>
            <key>4_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,131},{127,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,181}}</string>
                <key>sourceSize</key>
                <string>{127,181}</string>
            </dict>
            <key>4_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,131},{127,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,181}}</string>
                <key>sourceSize</key>
                <string>{127,181}</string>
            </dict>
            <key>4_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,2},{127,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,181}}</string>
                <key>sourceSize</key>
                <string>{127,181}</string>
            </dict>
            <key>4_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{551,2},{127,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,181}}</string>
                <key>sourceSize</key>
                <string>{127,181}</string>
            </dict>
            <key>5_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,2},{127,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,181}}</string>
                <key>sourceSize</key>
                <string>{127,181}</string>
            </dict>
            <key>5_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,2},{127,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,181}}</string>
                <key>sourceSize</key>
                <string>{127,181}</string>
            </dict>
            <key>bg_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{127,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,181}}</string>
                <key>sourceSize</key>
                <string>{127,181}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>poker.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:997bae67e55126c4005f0f0db3b9f4ad$</string>
            <key>textureFileName</key>
            <string>poker.png</string>
        </dict>
    </dict>
</plist>
