<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>color_club.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,780},{70,76}}</string>
                <key>offset</key>
                <string>{28,-39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,112},{70,76}}</string>
                <key>sourceSize</key>
                <string>{160,222}</string>
            </dict>
            <key>color_diamon.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,852},{68,76}}</string>
                <key>offset</key>
                <string>{28,-39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,112},{68,76}}</string>
                <key>sourceSize</key>
                <string>{160,222}</string>
            </dict>
            <key>color_heat.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,922},{72,74}}</string>
                <key>offset</key>
                <string>{28,-38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,112},{72,74}}</string>
                <key>sourceSize</key>
                <string>{160,222}</string>
            </dict>
            <key>color_spade.png</key>
            <dict>
                <key>frame</key>
                <string>{{427,506},{72,76}}</string>
                <key>offset</key>
                <string>{27,-40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{71,113},{72,76}}</string>
                <key>sourceSize</key>
                <string>{160,222}</string>
            </dict>
            <key>poker_101.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,105},{47,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,56}}</string>
                <key>sourceSize</key>
                <string>{47,56}</string>
            </dict>
            <key>poker_102.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,56},{47,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,56}}</string>
                <key>sourceSize</key>
                <string>{47,56}</string>
            </dict>
            <key>poker_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,422},{30,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,53}}</string>
                <key>sourceSize</key>
                <string>{30,53}</string>
            </dict>
            <key>poker_111.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,454},{24,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,53}}</string>
                <key>sourceSize</key>
                <string>{24,53}</string>
            </dict>
            <key>poker_1111_bk.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,816},{142,186}}</string>
                <key>offset</key>
                <string>{7,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,20},{142,186}}</string>
                <key>sourceSize</key>
                <string>{160,222}</string>
            </dict>
            <key>poker_1112_bk.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,836},{142,186}}</string>
                <key>offset</key>
                <string>{7,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,20},{142,186}}</string>
                <key>sourceSize</key>
                <string>{160,222}</string>
            </dict>
            <key>poker_1113_bk.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,836},{142,186}}</string>
                <key>offset</key>
                <string>{7,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,20},{142,186}}</string>
                <key>sourceSize</key>
                <string>{160,222}</string>
            </dict>
            <key>poker_1114_bk.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,692},{142,186}}</string>
                <key>offset</key>
                <string>{7,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,20},{142,186}}</string>
                <key>sourceSize</key>
                <string>{160,222}</string>
            </dict>
            <key>poker_112.png</key>
            <dict>
                <key>frame</key>
                <string>{{445,444},{24,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,53}}</string>
                <key>sourceSize</key>
                <string>{24,53}</string>
            </dict>
            <key>poker_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{445,412},{30,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,53}}</string>
                <key>sourceSize</key>
                <string>{30,53}</string>
            </dict>
            <key>poker_121.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,212},{26,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,61}}</string>
                <key>sourceSize</key>
                <string>{26,61}</string>
            </dict>
            <key>poker_1211_bk.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,690},{124,190}}</string>
                <key>offset</key>
                <string>{7,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,18},{124,190}}</string>
                <key>sourceSize</key>
                <string>{160,222}</string>
            </dict>
            <key>poker_1212_bk.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,566},{124,190}}</string>
                <key>offset</key>
                <string>{6,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,18},{124,190}}</string>
                <key>sourceSize</key>
                <string>{160,222}</string>
            </dict>
            <key>poker_1213_bk.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,588},{124,190}}</string>
                <key>offset</key>
                <string>{6,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,18},{124,190}}</string>
                <key>sourceSize</key>
                <string>{160,222}</string>
            </dict>
            <key>poker_1214_bk.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,564},{124,190}}</string>
                <key>offset</key>
                <string>{7,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,18},{124,190}}</string>
                <key>sourceSize</key>
                <string>{160,222}</string>
            </dict>
            <key>poker_122.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,184},{26,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,61}}</string>
                <key>sourceSize</key>
                <string>{26,61}</string>
            </dict>
            <key>poker_131.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,390},{30,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,53}}</string>
                <key>sourceSize</key>
                <string>{30,53}</string>
            </dict>
            <key>poker_1311_bk.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,296},{128,192}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,14},{128,192}}</string>
                <key>sourceSize</key>
                <string>{160,222}</string>
            </dict>
            <key>poker_1312_bk.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,294},{128,192}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,14},{128,192}}</string>
                <key>sourceSize</key>
                <string>{160,222}</string>
            </dict>
            <key>poker_1313_bk.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,164},{128,192}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,14},{128,192}}</string>
                <key>sourceSize</key>
                <string>{160,222}</string>
            </dict>
            <key>poker_1314_bk.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,164},{130,192}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,14},{130,192}}</string>
                <key>sourceSize</key>
                <string>{160,222}</string>
            </dict>
            <key>poker_132.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,380},{30,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,53}}</string>
                <key>sourceSize</key>
                <string>{30,53}</string>
            </dict>
            <key>poker_141_bk.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,426},{138,190}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,14},{138,190}}</string>
                <key>sourceSize</key>
                <string>{160,222}</string>
            </dict>
            <key>poker_142_bk.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,424},{138,190}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,14},{138,190}}</string>
                <key>sourceSize</key>
                <string>{160,222}</string>
            </dict>
            <key>poker_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,29},{25,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,57}}</string>
                <key>sourceSize</key>
                <string>{25,57}</string>
            </dict>
            <key>poker_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,2},{25,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,57}}</string>
                <key>sourceSize</key>
                <string>{25,57}</string>
            </dict>
            <key>poker_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,250},{26,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,56}}</string>
                <key>sourceSize</key>
                <string>{26,56}</string>
            </dict>
            <key>poker_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,240},{26,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,56}}</string>
                <key>sourceSize</key>
                <string>{26,56}</string>
            </dict>
            <key>poker_41.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,164},{28,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,56}}</string>
                <key>sourceSize</key>
                <string>{28,56}</string>
            </dict>
            <key>poker_42.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,154},{28,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,56}}</string>
                <key>sourceSize</key>
                <string>{28,56}</string>
            </dict>
            <key>poker_51.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,334},{26,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,55}}</string>
                <key>sourceSize</key>
                <string>{26,55}</string>
            </dict>
            <key>poker_52.png</key>
            <dict>
                <key>frame</key>
                <string>{{447,324},{26,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,55}}</string>
                <key>sourceSize</key>
                <string>{26,55}</string>
            </dict>
            <key>poker_61.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,306},{26,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,55}}</string>
                <key>sourceSize</key>
                <string>{26,55}</string>
            </dict>
            <key>poker_62.png</key>
            <dict>
                <key>frame</key>
                <string>{{447,296},{26,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,55}}</string>
                <key>sourceSize</key>
                <string>{26,55}</string>
            </dict>
            <key>poker_71.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,362},{26,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,54}}</string>
                <key>sourceSize</key>
                <string>{26,54}</string>
            </dict>
            <key>poker_72.png</key>
            <dict>
                <key>frame</key>
                <string>{{447,352},{26,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,54}}</string>
                <key>sourceSize</key>
                <string>{26,54}</string>
            </dict>
            <key>poker_81.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,278},{26,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,55}}</string>
                <key>sourceSize</key>
                <string>{26,55}</string>
            </dict>
            <key>poker_82.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,268},{26,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,55}}</string>
                <key>sourceSize</key>
                <string>{26,55}</string>
            </dict>
            <key>poker_91.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,222},{26,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,56}}</string>
                <key>sourceSize</key>
                <string>{26,56}</string>
            </dict>
            <key>poker_92.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,194},{26,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,56}}</string>
                <key>sourceSize</key>
                <string>{26,56}</string>
            </dict>
            <key>poker_bk.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,2},{160,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,222}}</string>
                <key>sourceSize</key>
                <string>{160,222}</string>
            </dict>
            <key>poker_mfk.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,516},{33,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,37}}</string>
                <key>sourceSize</key>
                <string>{33,37}</string>
            </dict>
            <key>poker_mht.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,480},{34,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,37}}</string>
                <key>sourceSize</key>
                <string>{34,37}</string>
            </dict>
            <key>poker_mhx.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,551},{35,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,36}}</string>
                <key>sourceSize</key>
                <string>{35,36}</string>
            </dict>
            <key>poker_myh.png</key>
            <dict>
                <key>frame</key>
                <string>{{443,470},{34,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,37}}</string>
                <key>sourceSize</key>
                <string>{34,37}</string>
            </dict>
            <key>poker_zmbj.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{160,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,222}}</string>
                <key>sourceSize</key>
                <string>{160,222}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>poker.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d9268774d7e98122be4439c687d2d48d$</string>
            <key>textureFileName</key>
            <string>poker.png</string>
        </dict>
    </dict>
</plist>
