<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>feixing1.png</key>
            <dict>
                <key>frame</key>
                <string>{{357,597},{165,218}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,218}}</string>
                <key>sourceSize</key>
                <string>{165,218}</string>
            </dict>
            <key>girl.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{439,593}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{439,593}}</string>
                <key>sourceSize</key>
                <string>{439,593}</string>
            </dict>
            <key>laotou.png</key>
            <dict>
                <key>frame</key>
                <string>{{443,2},{390,561}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{390,561}}</string>
                <key>sourceSize</key>
                <string>{390,561}</string>
            </dict>
            <key>logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,597},{296,221}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{296,221}}</string>
                <key>sourceSize</key>
                <string>{296,221}</string>
            </dict>
            <key>niu.png</key>
            <dict>
                <key>frame</key>
                <string>{{375,817},{193,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{193,166}}</string>
                <key>sourceSize</key>
                <string>{193,166}</string>
            </dict>
            <key>pai1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,895},{279,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{279,124}}</string>
                <key>sourceSize</key>
                <string>{279,124}</string>
            </dict>
            <key>pai2.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,597},{238,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{238,130}}</string>
                <key>sourceSize</key>
                <string>{238,130}</string>
            </dict>
            <key>star1.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,591},{59,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,61}}</string>
                <key>sourceSize</key>
                <string>{59,61}</string>
            </dict>
            <key>star2.png</key>
            <dict>
                <key>frame</key>
                <string>{{443,394},{164,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,195}}</string>
                <key>sourceSize</key>
                <string>{164,195}</string>
            </dict>
            <key>star3.png</key>
            <dict>
                <key>frame</key>
                <string>{{283,895},{90,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,118}}</string>
                <key>sourceSize</key>
                <string>{90,118}</string>
            </dict>
            <key>star4.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,837},{56,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,75}}</string>
                <key>sourceSize</key>
                <string>{56,75}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>login_page.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3fef8e8112b67eeaf334a1b8e461ca30$</string>
            <key>textureFileName</key>
            <string>login_page.png</string>
        </dict>
    </dict>
</plist>
