<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>game/fruit/roomChoose/gui-btn-return.png</key>
			<dict>
				<key>frame</key>
				<string>{{714,183},{76,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,77}</string>
			</dict>
			<key>game/fruit/roomChoose/gui-btn-rule.png</key>
			<dict>
				<key>frame</key>
				<string>{{792,183},{76,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,77}</string>
			</dict>
			<key>game/fruit/roomChoose/gui-btn-start.png</key>
			<dict>
				<key>frame</key>
				<string>{{1627,1},{380,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{380,99}</string>
			</dict>
			<key>game/fruit/roomChoose/gui-image-frame-bar.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{1624,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{1624,92}</string>
			</dict>
			<key>game/fruit/roomChoose/gui-image-frame-gold.png</key>
			<dict>
				<key>frame</key>
				<string>{{907,182},{272,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{272,52}</string>
			</dict>
			<key>game/fruit/roomChoose/gui-image-frame-head-down.png</key>
			<dict>
				<key>frame</key>
				<string>{{1483,95},{103,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{103,103}</string>
			</dict>
			<key>game/fruit/roomChoose/gui-image-frame-head-up.png</key>
			<dict>
				<key>frame</key>
				<string>{{1780,102},{103,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{103,103}</string>
			</dict>
			<key>game/fruit/roomChoose/gui-image-logo-load.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,95},{501,289}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{501,289}</string>
			</dict>
			<key>game/fruit/roomChoose/gui-image-logo-room.png</key>
			<dict>
				<key>frame</key>
				<string>{{504,95},{208,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{208,126}</string>
			</dict>
			<key>game/fruit/roomChoose/gui-roomName-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{907,95},{190,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{190,85}</string>
			</dict>
			<key>game/fruit/roomChoose/gui-roomName-100.png</key>
			<dict>
				<key>frame</key>
				<string>{{1099,95},{190,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{190,85}</string>
			</dict>
			<key>game/fruit/roomChoose/gui-roomName-1000.png</key>
			<dict>
				<key>frame</key>
				<string>{{714,95},{191,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{191,86}</string>
			</dict>
			<key>game/fruit/roomChoose/gui-roomName-10000.png</key>
			<dict>
				<key>frame</key>
				<string>{{1291,95},{190,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{190,85}</string>
			</dict>
			<key>game/fruit/roomChoose/gui-roomName-100000.png</key>
			<dict>
				<key>frame</key>
				<string>{{1588,102},{190,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{190,85}</string>
			</dict>
			<key>game/fruit/roomChoose/gui-roomScore-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1885,102},{110,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{110,79}</string>
			</dict>
			<key>game/fruit/roomChoose/gui-roomScore-100.png</key>
			<dict>
				<key>frame</key>
				<string>{{1588,189},{114,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{114,68}</string>
			</dict>
			<key>game/fruit/roomChoose/gui-roomScore-1000.png</key>
			<dict>
				<key>frame</key>
				<string>{{1816,253},{101,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{101,66}</string>
			</dict>
			<key>game/fruit/roomChoose/gui-roomScore-10000.png</key>
			<dict>
				<key>frame</key>
				<string>{{1704,207},{110,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{110,68}</string>
			</dict>
			<key>game/fruit/roomChoose/gui-roomScore-100000.png</key>
			<dict>
				<key>frame</key>
				<string>{{1885,183},{123,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{123,68}</string>
			</dict>
			<key>game/fruit/roomChoose/gui-fruit-btn-music-close.png</key>
			<dict>
				<key>frame</key>
				<string>{{1919,253},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>gui-roomChoose.png</string>
			<key>realTextureFileName</key>
			<string>gui-roomChoose.png</string>
			<key>size</key>
			<string>{2048,512}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>512</integer>
		</dict>
	</dict>
</plist>