<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>001.png</key>
            <dict>
                <key>frame</key>
                <string>{{982,1498},{142,198}}</string>
                <key>offset</key>
                <string>{4,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,16},{142,198}}</string>
                <key>sourceSize</key>
                <string>{186,220}</string>
            </dict>
            <key>002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1000,1272},{140,198}}</string>
                <key>offset</key>
                <string>{5,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,16},{140,198}}</string>
                <key>sourceSize</key>
                <string>{186,220}</string>
            </dict>
            <key>003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1004,846},{140,200}}</string>
                <key>offset</key>
                <string>{5,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,15},{140,200}}</string>
                <key>sourceSize</key>
                <string>{186,220}</string>
            </dict>
            <key>004.png</key>
            <dict>
                <key>frame</key>
                <string>{{980,1070},{142,200}}</string>
                <key>offset</key>
                <string>{4,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,15},{142,200}}</string>
                <key>sourceSize</key>
                <string>{186,220}</string>
            </dict>
            <key>005.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,1520},{144,202}}</string>
                <key>offset</key>
                <string>{4,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,13},{144,202}}</string>
                <key>sourceSize</key>
                <string>{186,220}</string>
            </dict>
            <key>006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1148,2},{146,204}}</string>
                <key>offset</key>
                <string>{3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,12},{146,204}}</string>
                <key>sourceSize</key>
                <string>{186,220}</string>
            </dict>
            <key>007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1146,216},{148,204}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,12},{148,204}}</string>
                <key>sourceSize</key>
                <string>{186,220}</string>
            </dict>
            <key>008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1000,424},{150,204}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,12},{150,204}}</string>
                <key>sourceSize</key>
                <string>{186,220}</string>
            </dict>
            <key>009.png</key>
            <dict>
                <key>frame</key>
                <string>{{994,216},{150,206}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,11},{150,206}}</string>
                <key>sourceSize</key>
                <string>{186,220}</string>
            </dict>
            <key>010.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,432},{152,206}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,11},{152,206}}</string>
                <key>sourceSize</key>
                <string>{186,220}</string>
            </dict>
            <key>011.png</key>
            <dict>
                <key>frame</key>
                <string>{{844,650},{152,206}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,11},{152,206}}</string>
                <key>sourceSize</key>
                <string>{186,220}</string>
            </dict>
            <key>012.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,1086},{152,208}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,9},{152,208}}</string>
                <key>sourceSize</key>
                <string>{186,220}</string>
            </dict>
            <key>013.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,1756},{152,210}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,8},{152,210}}</string>
                <key>sourceSize</key>
                <string>{186,220}</string>
            </dict>
            <key>014.png</key>
            <dict>
                <key>frame</key>
                <string>{{990,2},{156,212}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,6},{156,212}}</string>
                <key>sourceSize</key>
                <string>{186,220}</string>
            </dict>
            <key>015.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,218},{158,212}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,6},{158,212}}</string>
                <key>sourceSize</key>
                <string>{186,220}</string>
            </dict>
            <key>016.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,1094},{162,214}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,5},{162,214}}</string>
                <key>sourceSize</key>
                <string>{186,220}</string>
            </dict>
            <key>017.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,1328},{164,214}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,5},{164,214}}</string>
                <key>sourceSize</key>
                <string>{186,220}</string>
            </dict>
            <key>018.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,1768},{164,214}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,5},{164,214}}</string>
                <key>sourceSize</key>
                <string>{186,220}</string>
            </dict>
            <key>019.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,1552},{164,214}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,5},{164,214}}</string>
                <key>sourceSize</key>
                <string>{186,220}</string>
            </dict>
            <key>020.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,2},{164,216}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,3},{164,216}}</string>
                <key>sourceSize</key>
                <string>{186,220}</string>
            </dict>
            <key>021.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,660},{162,216}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,4},{162,216}}</string>
                <key>sourceSize</key>
                <string>{186,220}</string>
            </dict>
            <key>022.png</key>
            <dict>
                <key>frame</key>
                <string>{{656,2},{162,216}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,4},{162,216}}</string>
                <key>sourceSize</key>
                <string>{186,220}</string>
            </dict>
            <key>023.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,888},{160,218}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,2},{160,218}}</string>
                <key>sourceSize</key>
                <string>{186,220}</string>
            </dict>
            <key>024.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,444},{158,218}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,2},{158,218}}</string>
                <key>sourceSize</key>
                <string>{186,220}</string>
            </dict>
            <key>025.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,2},{158,218}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,2},{158,218}}</string>
                <key>sourceSize</key>
                <string>{186,220}</string>
            </dict>
            <key>026.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,224},{158,218}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,2},{158,218}}</string>
                <key>sourceSize</key>
                <string>{186,220}</string>
            </dict>
            <key>027.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,1108},{158,218}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,2},{158,218}}</string>
                <key>sourceSize</key>
                <string>{186,220}</string>
            </dict>
            <key>028.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,1108},{158,218}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,2},{158,218}}</string>
                <key>sourceSize</key>
                <string>{186,220}</string>
            </dict>
            <key>029.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,2},{156,218}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,2},{156,218}}</string>
                <key>sourceSize</key>
                <string>{186,220}</string>
            </dict>
            <key>030.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,222},{156,218}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,2},{156,218}}</string>
                <key>sourceSize</key>
                <string>{186,220}</string>
            </dict>
            <key>031.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1778},{156,220}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{156,220}}</string>
                <key>sourceSize</key>
                <string>{186,220}</string>
            </dict>
            <key>032.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1556},{156,220}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{156,220}}</string>
                <key>sourceSize</key>
                <string>{186,220}</string>
            </dict>
            <key>033.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1334},{158,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{158,220}}</string>
                <key>sourceSize</key>
                <string>{186,220}</string>
            </dict>
            <key>034.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1112},{158,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{158,220}}</string>
                <key>sourceSize</key>
                <string>{186,220}</string>
            </dict>
            <key>035.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,890},{160,220}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{160,220}}</string>
                <key>sourceSize</key>
                <string>{186,220}</string>
            </dict>
            <key>036.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,668},{164,220}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{164,220}}</string>
                <key>sourceSize</key>
                <string>{186,220}</string>
            </dict>
            <key>037.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,446},{166,220}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{166,220}}</string>
                <key>sourceSize</key>
                <string>{186,220}</string>
            </dict>
            <key>038.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,224},{166,220}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{166,220}}</string>
                <key>sourceSize</key>
                <string>{186,220}</string>
            </dict>
            <key>039.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{168,220}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{168,220}}</string>
                <key>sourceSize</key>
                <string>{186,220}</string>
            </dict>
            <key>040.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,1332},{170,218}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{170,218}}</string>
                <key>sourceSize</key>
                <string>{186,220}</string>
            </dict>
            <key>041.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,1332},{172,218}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{172,218}}</string>
                <key>sourceSize</key>
                <string>{186,220}</string>
            </dict>
            <key>042.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,668},{174,218}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{174,218}}</string>
                <key>sourceSize</key>
                <string>{186,220}</string>
            </dict>
            <key>043.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,1112},{178,218}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{178,218}}</string>
                <key>sourceSize</key>
                <string>{186,220}</string>
            </dict>
            <key>044.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,1776},{180,218}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{180,218}}</string>
                <key>sourceSize</key>
                <string>{186,220}</string>
            </dict>
            <key>045.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,1556},{180,218}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{180,218}}</string>
                <key>sourceSize</key>
                <string>{186,220}</string>
            </dict>
            <key>046.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,890},{176,218}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,2},{176,218}}</string>
                <key>sourceSize</key>
                <string>{186,220}</string>
            </dict>
            <key>047.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,442},{176,216}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{176,216}}</string>
                <key>sourceSize</key>
                <string>{186,220}</string>
            </dict>
            <key>048.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,222},{174,216}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,4},{174,216}}</string>
                <key>sourceSize</key>
                <string>{186,220}</string>
            </dict>
            <key>049.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,656},{168,214}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,5},{168,214}}</string>
                <key>sourceSize</key>
                <string>{186,220}</string>
            </dict>
            <key>050.png</key>
            <dict>
                <key>frame</key>
                <string>{{820,2},{168,214}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,5},{168,214}}</string>
                <key>sourceSize</key>
                <string>{186,220}</string>
            </dict>
            <key>051.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,220},{168,214}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,5},{168,214}}</string>
                <key>sourceSize</key>
                <string>{186,220}</string>
            </dict>
            <key>052.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,440},{168,214}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,5},{168,214}}</string>
                <key>sourceSize</key>
                <string>{186,220}</string>
            </dict>
            <key>053.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,878},{168,214}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,5},{168,214}}</string>
                <key>sourceSize</key>
                <string>{186,220}</string>
            </dict>
            <key>054.png</key>
            <dict>
                <key>frame</key>
                <string>{{678,436},{166,212}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,6},{166,212}}</string>
                <key>sourceSize</key>
                <string>{186,220}</string>
            </dict>
            <key>055.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,872},{166,212}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,6},{166,212}}</string>
                <key>sourceSize</key>
                <string>{186,220}</string>
            </dict>
            <key>056.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,1544},{164,210}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,7},{164,210}}</string>
                <key>sourceSize</key>
                <string>{186,220}</string>
            </dict>
            <key>057.png</key>
            <dict>
                <key>frame</key>
                <string>{{678,650},{164,210}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,7},{164,210}}</string>
                <key>sourceSize</key>
                <string>{186,220}</string>
            </dict>
            <key>058.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,1310},{162,208}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,9},{162,208}}</string>
                <key>sourceSize</key>
                <string>{186,220}</string>
            </dict>
            <key>059.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,1756},{162,208}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,9},{162,208}}</string>
                <key>sourceSize</key>
                <string>{186,220}</string>
            </dict>
            <key>060.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,862},{160,206}}</string>
                <key>offset</key>
                <string>{4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,10},{160,206}}</string>
                <key>sourceSize</key>
                <string>{186,220}</string>
            </dict>
            <key>061.png</key>
            <dict>
                <key>frame</key>
                <string>{{998,640},{160,204}}</string>
                <key>offset</key>
                <string>{4,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,12},{160,204}}</string>
                <key>sourceSize</key>
                <string>{186,220}</string>
            </dict>
            <key>062.png</key>
            <dict>
                <key>frame</key>
                <string>{{1152,422},{160,202}}</string>
                <key>offset</key>
                <string>{5,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,14},{160,202}}</string>
                <key>sourceSize</key>
                <string>{186,220}</string>
            </dict>
            <key>063.png</key>
            <dict>
                <key>frame</key>
                <string>{{838,1296},{160,200}}</string>
                <key>offset</key>
                <string>{5,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,15},{160,200}}</string>
                <key>sourceSize</key>
                <string>{186,220}</string>
            </dict>
            <key>064.png</key>
            <dict>
                <key>frame</key>
                <string>{{820,1520},{160,200}}</string>
                <key>offset</key>
                <string>{5,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,15},{160,200}}</string>
                <key>sourceSize</key>
                <string>{186,220}</string>
            </dict>
            <key>065.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,1722},{160,198}}</string>
                <key>offset</key>
                <string>{6,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,17},{160,198}}</string>
                <key>sourceSize</key>
                <string>{186,220}</string>
            </dict>
            <key>066.png</key>
            <dict>
                <key>frame</key>
                <string>{{1124,1048},{160,196}}</string>
                <key>offset</key>
                <string>{6,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,18},{160,196}}</string>
                <key>sourceSize</key>
                <string>{186,220}</string>
            </dict>
            <key>067.png</key>
            <dict>
                <key>frame</key>
                <string>{{1286,1044},{158,196}}</string>
                <key>offset</key>
                <string>{7,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,18},{158,196}}</string>
                <key>sourceSize</key>
                <string>{186,220}</string>
            </dict>
            <key>068.png</key>
            <dict>
                <key>frame</key>
                <string>{{1142,1246},{158,196}}</string>
                <key>offset</key>
                <string>{7,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,18},{158,196}}</string>
                <key>sourceSize</key>
                <string>{186,220}</string>
            </dict>
            <key>069.png</key>
            <dict>
                <key>frame</key>
                <string>{{1126,1472},{158,196}}</string>
                <key>offset</key>
                <string>{8,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,18},{158,196}}</string>
                <key>sourceSize</key>
                <string>{186,220}</string>
            </dict>
            <key>070.png</key>
            <dict>
                <key>frame</key>
                <string>{{988,1698},{158,196}}</string>
                <key>offset</key>
                <string>{8,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,18},{158,196}}</string>
                <key>sourceSize</key>
                <string>{186,220}</string>
            </dict>
            <key>071.png</key>
            <dict>
                <key>frame</key>
                <string>{{1160,626},{158,196}}</string>
                <key>offset</key>
                <string>{8,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,18},{158,196}}</string>
                <key>sourceSize</key>
                <string>{186,220}</string>
            </dict>
            <key>072.png</key>
            <dict>
                <key>frame</key>
                <string>{{1146,846},{158,196}}</string>
                <key>offset</key>
                <string>{9,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,18},{158,196}}</string>
                <key>sourceSize</key>
                <string>{186,220}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>caishen_01.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3a69010d316b286524141831997949de$</string>
            <key>textureFileName</key>
            <string>caishen_01.png</string>
        </dict>
    </dict>
</plist>
