<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>jued_help_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1067,1},{1038,553}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1038,553}}</string>
                <key>sourceSize</key>
                <string>{1038,553}</string>
            </dict>
            <key>jued_help_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,647},{1038,553}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1038,553}}</string>
                <key>sourceSize</key>
                <string>{1038,553}</string>
            </dict>
            <key>jued_help_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,1041},{1038,553}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1038,553}}</string>
                <key>sourceSize</key>
                <string>{1038,553}</string>
            </dict>
            <key>jued_help_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{1064,644}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1064,644}}</string>
                <key>sourceSize</key>
                <string>{1064,644}</string>
            </dict>
            <key>jued_help_btn_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,1596},{74,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,74}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>jued_help_btn_close2.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,1596},{74,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,74}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>jued_help_btn_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,1596},{34,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,67}}</string>
                <key>sourceSize</key>
                <string>{34,67}</string>
            </dict>
            <key>jued_help_btn_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,1596},{34,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,67}}</string>
                <key>sourceSize</key>
                <string>{34,67}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ho_help.png</string>
            <key>size</key>
            <string>{1621,1686}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e68c306697220f9f04927549e0e3b7c8:aff098f931a526a672d4ecae2d273015:29676b0400b31193f79cacc7a0f75d3c$</string>
            <key>textureFileName</key>
            <string>ho_help.png</string>
        </dict>
    </dict>
</plist>
